
<!--搜索开始 Search -->
<header class="header ilist">
      <a  href="tel:@ViewBag.tel"  class="ui-link">电话</a>
    <h1> 搜索 </h1>
</header>
<div class="content content_view">
<div class="view_remark">
<form id="siteSearch" name="productSearch" action="" method="post">
<fieldset>
<legend>搜索</legend>
<div style="display:inline-block; width:100%;">
<input type="text"  name="keywords" value="" class="jq-ui-forms" data-role="none">
</div>
<div style="display:inline-block; width:100%;">
    <select  name="menuid" data-role="none" class="jq-ui-forms">
        <option value="0" class="jq-ui-forms">请选择</option>
        <option value="19" class="jq-ui-forms">新闻中心</option>
        <option value="23" class="jq-ui-forms">产品服务</option>
        <option value="27" class="jq-ui-forms">人才招聘</option>
    </select>
<input type="button" title=" 搜索 " align="middle" name="add_btn" value=" 搜索 " class="button searchFormSubmit" data-role="none" >
</div>
</fieldset>
</form>
</div>
    <div id="search_list" >
       

    </div>
</div>

 
<!--</div>搜索结束-->
 