@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<STYLE>
.image{
	height:216px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_16.jpg) center top no-repeat;
}
.image1{
	height:168px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_17.jpg) center top no-repeat;

}
.image2{
	height:218px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_18.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>
<DIV class="image2"></DIV>



<table id="__02" width="100%" height="4890" border="0" cellpadding="0" cellspacing="0" style="background-color:#623e98;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_01.jpg" alt="" width="1009" height="426" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_02.jpg" alt="" width="1009" height="412" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_03.jpg" width="1009" height="142" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_04.jpg" alt="" width="1009" height="414" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_05.jpg" alt="" width="1009" height="409" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_06.jpg" width="1009" height="156" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_07.jpg" alt="" width="1009" height="412" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_08.jpg" alt="" width="1009" height="414" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_09.jpg" width="1009" height="168" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_10.jpg" alt="" width="1009" height="412" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_11.jpg" alt="" width="1009" height="411" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_12.jpg" width="1009" height="208" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_13.jpg" alt="" width="1009" height="409" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_14.jpg" alt="" width="1009" height="415" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/3c/images/2015010402_15.jpg" width="1009" height="82" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="343,17,671,417" href="http://www.zhenhaolin.com/Product/Detail/1154788" target="_blank">
  <area shape="rect" coords="682,16,1002,419" href="http://www.zhenhaolin.com/Product/Detail/1154796" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="7,5,334,402" href="http://www.zhenhaolin.com/Product/Detail/1154783" target="_blank">
  <area shape="rect" coords="344,6,666,404" href="http://www.zhenhaolin.com/Product/Detail/1154792" target="_blank">
  <area shape="rect" coords="676,4,1004,405" href="http://www.zhenhaolin.com/Product/Detail/1154793" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="344,4,665,404" href="http://www.zhenhaolin.com/Product/Detail/1154684" target="_blank">
  <area shape="rect" coords="679,6,1003,404" href="http://www.zhenhaolin.com/Product/Detail/1154717" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="9,7,330,400" href="http://www.zhenhaolin.com/Product/Detail/1154681" target="_blank">
  <area shape="rect" coords="341,4,669,401" href="http://www.zhenhaolin.com/Product/Detail/1154694" target="_blank">
  <area shape="rect" coords="679,6,1001,402" href="http://www.zhenhaolin.com/Product/Detail/1154698" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="342,6,671,407" href="http://www.zhenhaolin.com/Product/Detail/1154710" target="_blank">
  <area shape="rect" coords="678,4,1002,404" href="http://www.zhenhaolin.com/Product/Detail/1154709" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="8,7,334,410" href="http://www.zhenhaolin.com/Product/Detail/1154716" target="_blank">
  <area shape="rect" coords="340,6,666,404" href="http://www.zhenhaolin.com/Product/Detail/1154715" target="_blank">
  <area shape="rect" coords="679,6,1002,407" href="http://www.zhenhaolin.com/Product/Detail/1154708" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="346,2,667,400" href="http://www.zhenhaolin.com/Product/Detail/1154755" target="_blank">
  <area shape="rect" coords="678,7,998,401" href="http://www.zhenhaolin.com/Product/Detail/1154737" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="4,4,332,407" href="http://www.zhenhaolin.com/Product/Detail/1154752" target="_blank">
  <area shape="rect" coords="339,5,667,402" href="http://www.zhenhaolin.com/Product/Detail/1154740" target="_blank">
  <area shape="rect" coords="678,8,1002,405" href="http://www.zhenhaolin.com/Product/Detail/1154739" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="346,5,665,398" href="http://www.zhenhaolin.com/Product/Detail/1154777" target="_blank">
  <area shape="rect" coords="675,7,1000,400" href="http://www.zhenhaolin.com/Product/Detail/1154778" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="6,7,328,408" href="http://www.zhenhaolin.com/Product/Detail/1154779" target="_blank">
  <area shape="rect" coords="333,6,668,411" href="http://www.zhenhaolin.com/Product/Detail/1154780" target="_blank">
  <area shape="rect" coords="679,5,999,407" href="http://www.zhenhaolin.com/Product/Detail/1154781" target="_blank">
</map>
