@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
    body {
        bgcolor: "#FFFFFF";
        leftmargin: "0";
        topmargin: "0";
        marginwidth: "0";
        marginheight: "0";
    }
</style>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="window.scrollTo((document.body.scrollWidth-document.body.offsetWidth)/2,0)" style="overflow-x: hidden;">
<!-- Save for Web Slices (保暖内衣_06.jpg) -->
<table id="__01" width="100%" height="927" border="0" cellpadding="0" cellspacing="0"  style="background-color:#fc413a;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_01.jpg" alt="" width="1920" height="180" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_03.jpg" alt="" width="1920" height="117" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_14.jpg" alt="" width="1920" height="190" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_15.jpg" alt="" width="1920" height="270"  border="0"></td>
	</tr>
    <tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_16.jpg" alt="" width="1920" height="197"  border="0"></td>
	</tr>
</table>

<table id="__02" width="100%" height="4177" border="0" cellpadding="0" cellspacing="0" style="background-color:#fc413a;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_02.jpg" alt="" width="994" height="525" usemap="#Map" border="0"></td>
</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_04.jpg" alt="" width="994" height="409" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_05.jpg" alt="" width="994" height="434" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_06.jpg" alt="" width="994" height="504" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_07.jpg" alt="" width="994" height="414" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_08.jpg" alt="" width="994" height="415" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_09.jpg" width="994" height="132" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_10.jpg" alt="" width="994" height="417" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_11.jpg" alt="" width="994" height="408" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_12.jpg" alt="" width="994" height="432" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/BaoNuanNY/images/20141204_13.jpg" width="994" height="87" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="7,117,486,512" href="http://zhenhaolin.com/Product/Detail/11542" target="_blank">
  <area shape="rect" coords="501,111,986,512" href="http://zhenhaolin.com/Product/Detail/11568" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="2,8,315,395" href="http://zhenhaolin.com/Product/Detail/1154011" target="_blank">
  <area shape="rect" coords="329,8,654,397" href="http://zhenhaolin.com/Product/Detail/13865" target="_blank">
  <area shape="rect" coords="665,7,989,404" href="http://zhenhaolin.com/Product/Detail/1154010" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="5,5,321,406" href="http://zhenhaolin.com/Product/Detail/11488" target="_blank">
  <area shape="rect" coords="336,11,650,400" href="http://zhenhaolin.com/Product/Detail/1154014" target="_blank">
  <area shape="rect" coords="665,10,982,416" href="http://zhenhaolin.com/Product/Detail/11057" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="10,101,319,494" href="http://zhenhaolin.com/Product/Detail/11971" target="_blank">
  <area shape="rect" coords="337,100,655,488" href="http://zhenhaolin.com/Product/Detail/13089" target="_blank">
  <area shape="rect" coords="672,96,987,489" href="http://zhenhaolin.com/Product/Detail/11980" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="8,13,318,405" href="http://zhenhaolin.com/Product/Detail/12871" target="_blank">
  <area shape="rect" coords="329,7,657,404" href="http://zhenhaolin.com/Product/Detail/1154013" target="_blank">
  <area shape="rect" coords="670,5,990,402" href="http://zhenhaolin.com/Product/Detail/1154015" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="5,6,318,400" href="http://zhenhaolin.com/Product/Detail/1154023" target="_blank">
  <area shape="rect" coords="337,7,654,404" href="http://zhenhaolin.com/Product/Detail/1154012" target="_blank">
  <area shape="rect" coords="668,9,984,407" href="http://zhenhaolin.com/Product/Detail/1154019" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="3,10,319,402" href="http://zhenhaolin.com/Product/Detail/11523" target="_blank">
  <area shape="rect" coords="336,10,658,397" href="http://zhenhaolin.com/Product/Detail/9738" target="_blank">
  <area shape="rect" coords="668,4,981,401" href="http://zhenhaolin.com/Product/Detail/11465" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="4,9,307,396" href="http://zhenhaolin.com/Product/Detail/11653" target="_blank">
  <area shape="rect" coords="329,7,658,398" href="http://zhenhaolin.com/Product/Detail/11556" target="_blank">
  <area shape="rect" coords="670,9,990,398" href="http://zhenhaolin.com/Product/Detail/11435" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="7,15,239,416" href="http://zhenhaolin.com/Product/Detail/13835" target="_blank">
  <area shape="rect" coords="256,15,493,409" href="http://zhenhaolin.com/Product/Detail/11815" target="_blank">
  <area shape="rect" coords="511,15,738,408" href="http://zhenhaolin.com/Product/Detail/11535" target="_blank">
  <area shape="rect" coords="750,9,983,411" href="http://zhenhaolin.com/Product/Detail/11512" target="_blank">
</map>

<script>
    lazyload();
</script>

