@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}

<table id="__01" width="100%" height="3550" border="0" cellpadding="0" cellspacing="0" style="background-color:#aa3221;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_01.jpg" width="990" height="147" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_02.jpg" width="990" height="149" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_03.jpg" width="990" height="138" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_04.jpg" width="990" height="161" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_05.jpg" width="990" height="188" alt=""></td>
	</tr>
	<tr>
		<td><a href="http://www.zhenhaolin.com/Product/ProSaleDetail/422" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_06.jpg" width="990" height="226" alt=""></a></td>
	</tr>
	<tr>
		<td><a href="http://www.zhenhaolin.com/Product/ProSaleDetail/422" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_07.jpg" width="990" height="206" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_08.jpg" width="990" height="111" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_09.jpg" alt="" width="990" height="400" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_10.jpg" alt="" width="990" height="408" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_11.jpg" alt="" width="990" height="394" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_12.jpg" alt="" width="990" height="390" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_13.jpg" width="990" height="110" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_14.jpg" alt="" width="990" height="391" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Buy1Add2/images/20141110_15.jpg" width="990" height="131" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="9,13,472,394" href="http://www.zhenhaolin.com/Product/ProSaleDetail/424" target="_blank">
  <area shape="rect" coords="500,15,980,391" href="http://www.zhenhaolin.com/Product/ProSaleDetail/435" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="12,27,244,396" href="http://www.zhenhaolin.com/Product/ProSaleDetail/437" target="_blank">
  <area shape="rect" coords="252,19,493,396" href="http://www.zhenhaolin.com/Product/ProSaleDetail/426" target="_blank">
  <area shape="rect" coords="503,22,742,400" href="http://www.zhenhaolin.com/Product/ProSaleDetail/425" target="_blank">
  <area shape="rect" coords="748,5,990,397" href="http://www.zhenhaolin.com/Product/ProSaleDetail/419" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="2,13,237,385" href="http://www.zhenhaolin.com/Product/ProSaleDetail/427" target="_blank">
  <area shape="rect" coords="252,13,492,385" href="http://www.zhenhaolin.com/Product/ProSaleDetail/430" target="_blank">
  <area shape="rect" coords="503,16,744,386" href="http://www.zhenhaolin.com/Product/ProSaleDetail/429" target="_blank">
  <area shape="rect" coords="772,21,999,389" href="http://www.zhenhaolin.com/Product/ProSaleDetail/433" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="10,16,243,386" href="http://www.zhenhaolin.com/Product/ProSaleDetail/428" target="_blank">
  <area shape="rect" coords="250,11,493,384" href="http://www.zhenhaolin.com/Product/ProSaleDetail/436" target="_blank">
  <area shape="rect" coords="499,14,739,385" href="http://www.zhenhaolin.com/Product/ProSaleDetail/431" target="_blank">
  <area shape="rect" coords="747,9,985,382" href="http://www.zhenhaolin.com/Product/ProSaleDetail/432" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="13,5,325,378" href="http://www.zhenhaolin.com/Product/ProSaleDetail/420" target="_blank">
  <area shape="rect" coords="333,6,656,380" href="http://www.zhenhaolin.com/Product/ProSaleDetail/423" target="_blank">
  <area shape="rect" coords="669,11,984,380" href="http://www.zhenhaolin.com/Product/ProSaleDetail/421" target="_blank">
</map>

<script>
    lazyload();
</script>

