@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
    body {
        bgcolor: "#FFFFFF";
        leftmargin: "0";
        topmargin: "0";
        marginwidth: "0";
        marginheight: "0";
    }
</style>
<table id="__01" width="1920" height="3391" border="0" cellpadding="0" cellspacing="0">
	<tr >
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_01.jpg" width="352" height="210" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_02.jpg" width="1199" height="210" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_03.jpg" width="369" height="210" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_04.jpg" width="352" height="252" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_05.jpg" width="1199" height="252" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_06.jpg" width="369" height="252" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_07.jpg" width="352" height="290" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_08.jpg" width="1199" height="290" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_09.jpg" width="369" height="290" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_10.jpg" width="352" height="424" alt=""></td>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_11.jpg" alt="" width="1199" height="424" usemap="#Map" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_12.jpg" width="369" height="424" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_13.jpg" width="352" height="343" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_14.jpg" alt="" width="1199" height="343" usemap="#Map2" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_15.jpg" width="369" height="343" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_16.jpg" width="352" height="559" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_17.jpg" alt="" width="1199" height="559" usemap="#Map3" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_18.jpg" width="369" height="559" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_19.jpg" width="352" height="511" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_20.jpg" alt="" width="1199" height="511" usemap="#Map4" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_21.jpg" width="369" height="511" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_22.jpg" width="352" height="465" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_23.jpg" alt="" width="1199" height="465" usemap="#Map5" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_24.jpg" width="369" height="465" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_25.jpg" width="352" height="336" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_26.jpg" width="1199" height="336" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/chihuo/images/2014110303_27.jpg" width="369" height="336" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="11,12,285,320" href="http://www.zhenhaolin.com/Product/Detail/8483" target="_blank">
  <area shape="rect" coords="321,17,590,292" href="http://www.zhenhaolin.com/Product/Detail/8476" target="_blank">
  <area shape="rect" coords="611,18,892,301" href="http://www.zhenhaolin.com/Product/Detail/8500" target="_blank">
  <area shape="rect" coords="937,30,1182,282" href="http://www.zhenhaolin.com/Product/Detail/8506" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="15,12,289,279" href="http://www.zhenhaolin.com/Product/Detail/8493" target="_blank">
  <area shape="rect" coords="304,12,597,268" href="http://www.zhenhaolin.com/Product/Detail/8501" target="_blank">
  <area shape="rect" coords="616,16,900,265" href="http://www.zhenhaolin.com/Product/Detail/8505" target="_blank">
  <area shape="rect" coords="912,15,1186,257" href="http://www.zhenhaolin.com/Product/Detail/8510" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="29,128,316,522" href="http://www.zhenhaolin.com/Product/Detail/9508" target="_blank">
  <area shape="rect" coords="336,133,600,524" href="http://www.zhenhaolin.com/Product/Detail/9469" target="_blank">
  <area shape="rect" coords="620,135,875,522" href="http://www.zhenhaolin.com/Product/Detail/9466" target="_blank">
  <area shape="rect" coords="908,129,1153,518" href="http://www.zhenhaolin.com/Product/Detail/9470" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="51,76,326,462" href="http://www.zhenhaolin.com/Product/Detail/9455" target="_blank">
  <area shape="rect" coords="340,79,595,459" href="http://www.zhenhaolin.com/Product/Detail/9485" target="_blank">
  <area shape="rect" coords="610,79,870,458" href="http://www.zhenhaolin.com/Product/Detail/9490" target="_blank">
  <area shape="rect" coords="894,76,1151,466" href="http://www.zhenhaolin.com/Product/Detail/9501" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="27,38,338,430" href="http://www.zhenhaolin.com/Product/Detail/9494" target="_blank">
  <area shape="rect" coords="356,49,604,430" href="http://www.zhenhaolin.com/Product/Detail/9510" target="_blank">
  <area shape="rect" coords="621,50,873,423" href="http://www.zhenhaolin.com/Product/Detail/9463" target="_blank">
  <area shape="rect" coords="890,51,1183,412" href="http://www.zhenhaolin.com/Product/Detail/9471" target="_blank">
</map>
</body>
<script>
    lazyload();
</script>
