@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (儿童钟表新品上线-全场六折特惠_04.jpg) -->
<STYLE>
.image{
	height:392px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_05.jpg) center top no-repeat;
}
.image1{
	height:268px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_06.jpg) center top no-repeat;

}
.image2{
	height:524px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_07.jpg) center top no-repeat;

}
</STYLE>
<DIV class="image"></DIV>
<DIV class="image1"></DIV>
<a href="http://zhenhaolin.com/Product/Detail/7428" target="_blank"><DIV class="image2"></DIV></a>



<table id="__02" width="100%" height="2816" border="0" cellpadding="0" cellspacing="0"  style="background-color:#edffab;text-align:center;">
	<tr>
		<td><a href="http://zhenhaolin.com/Product/Detail/8032" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_01.jpg" width="1068" height="639" alt=""></a></td>
	</tr>
	<tr>
		<td><a href="http://zhenhaolin.com/Product/Detail/1819" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_02.jpg" width="1068" height="633" alt=""></a></td>
	</tr>
	<tr>
		<td><a href="http://zhenhaolin.com/Product/Detail/7418" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_03.jpg" width="1068" height="665" alt=""></a></td>
	</tr>
	<tr>
		<td><a href="http://zhenhaolin.com/Product/Detail/7780" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/cy/images/20150402_04.jpg" width="1068" height="879" alt=""></a></td>
	</tr>
</table>
<!-- End Save for Web Slices -->