@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<body bgcolor="#FFFFFF">
    <!-- Save for Web Slices (冬季护肤新品专场_04.jpg) -->
    <style>
        .image {
            height: 262px;
            background: url(/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_18.jpg) center top no-repeat;
            margin: 0px auto;
        }

        .image1 {
            height: 314px;
            background: url(/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_19.jpg) center top no-repeat;
        }

        .image2 {
            height: 238px;
            background: url(/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_20.jpg) center top no-repeat;
        }
    </style>


    <div class="image"></div>
    <div class="image1"></div>
    <div class="image2"></div>

    <div style="background-color: #00a0ea; margin:0px auto;">
    <div style="background-color: #00a0ea; margin: 0px auto; text-align: center; width:1236px; padding-left:48px;">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_01.jpg" width="1236" height="119" alt=""></td>
            </tr>

            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_02.jpg" alt="" width="1236" height="410" usemap="#Map" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_03.jpg" alt="" width="1236" height="415" usemap="#Map2" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_04.jpg" alt="" width="1236" height="411" usemap="#Map3" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_05.jpg" width="1236" height="152" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_06.jpg" alt="" width="1236" height="434" usemap="#Map4" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_07.jpg" width="1236" height="250" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_08.jpg" alt="" width="1236" height="412" usemap="#Map5" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_09.jpg" alt="" width="1236" height="409" usemap="#Map6" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_10.jpg" width="1236" height="171" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_11.jpg" alt="" width="1236" height="435" usemap="#Map7" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_12.jpg" width="1236" height="141" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_13.jpg" alt="" width="1236" height="410" usemap="#Map8" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_14.jpg" alt="" width="1236" height="415" usemap="#Map9" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_15.jpg" width="1236" height="203" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_16.jpg" alt="" width="1236" height="417" usemap="#Map10" border="0"></td>
            </tr>
            <tr>
                <td>
                    <img src="/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_17.jpg" alt="" width="1236" height="456" usemap="#Map11" border="0"></td>
            </tr>
        </table>
    </div>
        </div>
    <style>
        .image4 {
            height: 382px;
            background: url(/Areas/Shop/Themes/M1/Content/ld/dh/images/2014122901_21.jpg) center top no-repeat;
        }
    </style>


    <div class="image4"></div>



    <!-- End Save for Web Slices -->

    <map name="Map">
        <area shape="rect" coords="45,8,618,404" href="http://zhenhaolin.com/Product/Detail/13710" target="_blank">
        <area shape="rect" coords="623,5,1116,400" href="http://zhenhaolin.com/Product/Detail/13722" target="_blank">
    </map>

    <map name="Map2">
        <area shape="rect" coords="95,9,614,405" href="http://zhenhaolin.com/Product/Detail/13731" target="_blank">
        <area shape="rect" coords="618,3,1130,405" href="http://zhenhaolin.com/Product/Detail/13749" target="_blank">
    </map>

    <map name="Map3">
        <area shape="rect" coords="103,9,611,399" href="http://zhenhaolin.com/Product/Detail/13714" target="_blank">
        <area shape="rect" coords="619,8,1128,406" href="http://zhenhaolin.com/Product/Detail/13729" target="_blank">
    </map>

    <map name="Map4">
        <area shape="rect" coords="104,18,368,409" href="http://zhenhaolin.com/Product/Detail/1154915" target="_blank">
        <area shape="rect" coords="377,20,616,409" href="http://zhenhaolin.com/Product/Detail/1154916" target="_blank">
        <area shape="rect" coords="622,15,868,409" href="http://zhenhaolin.com/Product/Detail/1154922" target="_blank">
        <area shape="rect" coords="873,12,1127,407" href="http://zhenhaolin.com/Product/Detail/1154917" target="_blank">
    </map>

    <map name="Map5">
        <area shape="rect" coords="73,7,610,402" href="http://zhenhaolin.com/Product/Detail/13184" target="_blank">
        <area shape="rect" coords="619,7,1115,403" href="http://zhenhaolin.com/Product/Detail/13190" target="_blank">
    </map>

    <map name="Map6">
        <area shape="rect" coords="92,6,613,401" href="http://zhenhaolin.com/Product/Detail/13167" target="_blank">
        <area shape="rect" coords="622,6,1119,403" href="http://zhenhaolin.com/Product/Detail/13185" target="_blank">
    </map>

    <map name="Map7">
        <area shape="rect" coords="105,9,361,408" href="http://zhenhaolin.com/Product/Detail/1154918" target="_blank">
        <area shape="rect" coords="374,8,614,408" href="http://zhenhaolin.com/Product/Detail/9319" target="_blank">
        <area shape="rect" coords="626,7,867,408" href="http://zhenhaolin.com/Product/Detail/1154479" target="_blank">
        <area shape="rect" coords="873,7,1115,406" href="http://zhenhaolin.com/Product/Detail/11120" target="_blank">
    </map>

    <map name="Map8">
        <area shape="rect" coords="110,9,363,399" href="http://zhenhaolin.com/Product/Detail/13600" target="_blank">
        <area shape="rect" coords="371,5,613,403" href="http://zhenhaolin.com/Product/Detail/1154643" target="_blank">
        <area shape="rect" coords="622,5,864,403" href="http://zhenhaolin.com/Product/Detail/13887" target="_blank">
        <area shape="rect" coords="872,6,1121,407" href="http://zhenhaolin.com/Product/Detail/13894" target="_blank">
    </map>

    <map name="Map9">
        <area shape="rect" coords="116,4,360,413" href="http://zhenhaolin.com/Product/Detail/13763" target="_blank">
        <area shape="rect" coords="366,5,618,404" href="http://zhenhaolin.com/Product/Detail/1154908" target="_blank">
        <area shape="rect" coords="623,7,868,408" href="http://zhenhaolin.com/Product/Detail/1154113" target="_blank">
        <area shape="rect" coords="877,7,1118,406" href="http://zhenhaolin.com/Product/Detail/1154112" target="_blank">
    </map>

    <map name="Map10">
        <area shape="rect" coords="116,4,367,406" href="http://zhenhaolin.com/Product/Detail/1154232" target="_blank">
        <area shape="rect" coords="370,5,616,404" href="http://zhenhaolin.com/Product/Detail/1154231" target="_blank">
        <area shape="rect" coords="623,4,866,406" href="http://zhenhaolin.com/Product/Detail/1154234" target="_blank">
        <area shape="rect" coords="875,6,1123,407" href="http://zhenhaolin.com/Product/Detail/1154233" target="_blank">
    </map>

    <map name="Map11">
        <area shape="rect" coords="120,4,364,413" href="http://zhenhaolin.com/Product/Detail/1154235" target="_blank">
        <area shape="rect" coords="371,8,615,411" href="http://zhenhaolin.com/Product/Detail/1154227" target="_blank">
        <area shape="rect" coords="623,5,867,408" href="http://zhenhaolin.com/Product/Detail/1154194" target="_blank">
        <area shape="rect" coords="871,6,1118,415" href="http://zhenhaolin.com/Product/Detail/1154225" target="_blank">
    </map>
</body>
