@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}


<html>
<head>
<title>新年大扫除-家居换新迎新春_04</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (新年大扫除-家居换新迎新春_04.jpg) -->
<STYLE>
.image{
	height:240px;
	background:url(/Areas/Shop/Themes/M1/Content/images/dsc/20150213_16.jpg) center top no-repeat;
}
.image1{
	height:196px;
	background:url(/Areas/Shop/Themes/M1/Content/images/dsc/20150213_17.jpg) center top no-repeat;

}
.image2{
	height:186px;
	background:url(/Areas/Shop/Themes/M1/Content/images/dsc/20150213_18.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>
<DIV class="image2"></DIV>


<table id="__01" width="100%" height="5446" border="0" cellpadding="0" cellspacing="0" style="background-color:#4a0112;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_01.jpg" alt="" width="1332" height="403" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_02.jpg" alt="" width="1332" height="329" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_03.jpg" alt="" width="1332" height="338" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_04.jpg" alt="" width="1332" height="413" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_05.jpg" alt="" width="1332" height="328" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_06.jpg" alt="" width="1332" height="335" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_07.jpg" alt="" width="1332" height="403" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_08.jpg" alt="" width="1332" height="328" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_09.jpg" alt="" width="1332" height="339" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_10.jpg" alt="" width="1332" height="402" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_11.jpg" alt="" width="1332" height="327" usemap="#Map11" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_12.jpg" alt="" width="1332" height="336" usemap="#Map12" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_13.jpg" alt="" width="1332" height="406" usemap="#Map13" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_14.jpg" alt="" width="1332" height="328" usemap="#Map14" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/images/dsc/20150213_15.jpg" alt="" width="1332" height="431" usemap="#Map15" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="163,74,493,395" href="http://zhenhaolin.com/Product/Detail/1154926" target="_blank">
  <area shape="rect" coords="506,77,826,397" href="http://zhenhaolin.com/Product/Detail/1154144" target="_blank">
  <area shape="rect" coords="832,74,1159,394" href="http://zhenhaolin.com/Product/Detail/3649" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="163,3,491,322" href="http://zhenhaolin.com/Product/Detail/8636" target="_blank">
  <area shape="rect" coords="496,6,827,324" href="http://zhenhaolin.com/Product/Detail/7409" target="_blank">
  <area shape="rect" coords="836,6,1156,317" href="http://zhenhaolin.com/Product/Detail/4004" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="164,5,487,322" href="http://zhenhaolin.com/Product/Detail/4711" target="_blank">
  <area shape="rect" coords="497,8,824,322" href="http://zhenhaolin.com/Product/Detail/3665" target="_blank">
  <area shape="rect" coords="833,10,1169,323" href="http://zhenhaolin.com/Product/Detail/8659" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="160,85,491,406" href="http://zhenhaolin.com/Product/Detail/8563" target="_blank">
  <area shape="rect" coords="499,86,825,405" href="http://zhenhaolin.com/Product/Detail/5514" target="_blank">
  <area shape="rect" coords="831,82,1168,398" href="http://zhenhaolin.com/Product/Detail/8637" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="163,3,489,319" href="http://zhenhaolin.com/Product/Detail/691" target="_blank">
  <area shape="rect" coords="497,7,829,323" href="http://zhenhaolin.com/Product/Detail/8080" target="_blank">
  <area shape="rect" coords="836,9,1162,321" href="http://zhenhaolin.com/Product/Detail/1154569" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="163,4,493,317" href="http://zhenhaolin.com/Product/Detail/8641" target="_blank">
  <area shape="rect" coords="502,8,825,315" href="http://zhenhaolin.com/Product/Detail/4746" target="_blank">
  <area shape="rect" coords="834,6,1160,321" href="http://zhenhaolin.com/Product/Detail/5309" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="163,80,486,391" href="http://zhenhaolin.com/Product/Detail/1312" target="_blank">
  <area shape="rect" coords="505,79,820,395" href="http://zhenhaolin.com/Product/Detail/7964" target="_blank">
  <area shape="rect" coords="828,77,1166,393" href="http://zhenhaolin.com/Product/Detail/10939" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="162,5,487,318" href="http://zhenhaolin.com/Product/Detail/3846" target="_blank">
  <area shape="rect" coords="500,6,824,319" href="http://zhenhaolin.com/Product/Detail/8693" target="_blank">
  <area shape="rect" coords="829,7,1158,321" href="http://zhenhaolin.com/Product/Detail/5275" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="163,2,487,322" href="http://zhenhaolin.com/Product/Detail/4223" target="_blank">
  <area shape="rect" coords="500,6,823,322" href="http://zhenhaolin.com/Product/Detail/8772" target="_blank">
  <area shape="rect" coords="837,8,1162,327" href="http://zhenhaolin.com/Product/Detail/8472" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="155,78,488,397" href="http://zhenhaolin.com/Product/Detail/8121" target="_blank">
  <area shape="rect" coords="501,75,826,394" href="http://zhenhaolin.com/Product/Detail/7832" target="_blank">
  <area shape="rect" coords="836,74,1158,396" href="http://zhenhaolin.com/Product/Detail/8090" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="160,5,484,317" href="http://zhenhaolin.com/Product/Detail/8039" target="_blank">
  <area shape="rect" coords="496,7,818,317" href="http://zhenhaolin.com/Product/Detail/7825" target="_blank">
  <area shape="rect" coords="828,8,1164,322" href="http://zhenhaolin.com/Product/Detail/4279" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="162,7,488,320" href="http://zhenhaolin.com/Product/Detail/8866" target="_blank">
  <area shape="rect" coords="497,8,823,324" href="http://zhenhaolin.com/Product/Detail/8127" target="_blank">
  <area shape="rect" coords="833,6,1158,327" href="http://zhenhaolin.com/Product/Detail/8133" target="_blank">
</map>

<map name="Map13">
  <area shape="rect" coords="161,81,493,394" href="http://zhenhaolin.com/Product/Detail/12773" target="_blank">
  <area shape="rect" coords="501,81,827,394" href="http://zhenhaolin.com/Product/Detail/12739" target="_blank">
  <area shape="rect" coords="829,78,1163,394" href="http://zhenhaolin.com/Product/Detail/12107" target="_blank">
</map>

<map name="Map14">
  <area shape="rect" coords="164,6,484,314" href="http://zhenhaolin.com/Product/Detail/12087" target="_blank">
  <area shape="rect" coords="501,5,822,321" href="http://zhenhaolin.com/Product/Detail/12735" target="_blank">
  <area shape="rect" coords="832,7,1161,320" href="http://zhenhaolin.com/Product/Detail/12772" target="_blank">
</map>

<map name="Map15">
  <area shape="rect" coords="164,3,491,319" href="http://zhenhaolin.com/Product/Detail/12775" target="_blank">
  <area shape="rect" coords="498,9,826,327" href="http://zhenhaolin.com/Product/Detail/12756" target="_blank">
  <area shape="rect" coords="834,2,1163,327" href="http://zhenhaolin.com/Product/Detail/12769" target="_blank">
</map>
</body>
</html>