@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
    body {
        bgcolor: "#FFFFFF";
        leftmargin: "0";
        topmargin: "0";
        marginwidth: "0";
        marginheight: "0";
    }
</style>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="window.scrollTo((document.body.scrollWidth-document.body.offsetWidth)/2,0)" style="overflow-x: hidden;">
<!-- Save for Web Slices (儿童雪地靴.jpg) -->
<table id="__05" width="100%" height="724" border="0" cellpadding="0" cellspacing="0" style="background-color:#5e41b7;text-align:center;">
	<tr>
	  <td>
	  <img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_02.jpg" width="1597" height="125" alt=""></td>
            </tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_04.jpg" width="1597" height="176" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_05.jpg" width="1597" height="165" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_06.jpg" width="1597" height="258" alt=""></td>
	</tr>
</table>
            
<table id="__06" width="100%" height="3318" border="0" cellpadding="0" cellspacing="0" style="background-color:#5e41b7;text-align:center;">
		<tr>
        <td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_08.jpg" width="1072" height="128" alt=""></td>
	</tr>
	<tr>
		<td><a href="http://zhenhaolin.com/Product/Detail/1154018" target="_blank"><img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_10.jpg" width="1072" height="415" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_11.jpg" width="1072" height="125" alt=""></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_12.jpg" alt="" width="1072" height="387" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_13.jpg" alt="" width="1072" height="411" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_14.jpg" alt="" width="1072" height="411" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_15.jpg" alt="" width="1072" height="409" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_16.jpg" alt="" width="1072" height="408" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_17.jpg" alt="" width="1072" height="432" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/ErtongXD/images/20141205_18.jpg" width="1072" height="192" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="46,7,530,380" href="http://zhenhaolin.com/Product/Detail/1154039" target="_blank">
  <area shape="rect" coords="557,11,1046,374" href="http://zhenhaolin.com/Product/Detail/1154042" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="54,7,531,398" href="http://zhenhaolin.com/Product/Detail/1154028" target="_blank">
  <area shape="rect" coords="554,12,1048,403" href="http://zhenhaolin.com/Product/Detail/1154036" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="54,11,530,395" href="http://zhenhaolin.com/Product/Detail/1154034" target="_blank">
  <area shape="rect" coords="558,7,1040,399" href="http://zhenhaolin.com/Product/Detail/1154031" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="53,11,536,400" href="http://zhenhaolin.com/Product/Detail/1154032" target="_blank">
  <area shape="rect" coords="549,14,1044,400" href="http://zhenhaolin.com/Product/Detail/1154016" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="51,13,538,401" href="http://zhenhaolin.com/Product/Detail/1154024" target="_blank">
  <area shape="rect" coords="548,11,1048,404" href="http://zhenhaolin.com/Product/Detail/1154026" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="45,12,538,407" href="http://zhenhaolin.com/Product/Detail/1154022" target="_blank">
  <area shape="rect" coords="547,11,1050,408" href="http://zhenhaolin.com/Product/Detail/1154017" target="_blank">
</map>

<script>
    lazyload();
</script>

