@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}

<table id="__01" width="1920" height="5296" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_01.jpg" width="1920" height="126" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_02.jpg" width="1920" height="172" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_03.jpg" width="1920" height="176" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_04.jpg" width="1920" height="162" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_05.jpg" width="1920" height="193" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_06.jpg" width="1920" height="243" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_07.jpg" alt="" width="1920" height="419" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_08.jpg" width="1920" height="133" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_09.jpg" alt="" width="1920" height="407" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_10.jpg" alt="" width="1920" height="409" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_11.jpg" alt="" width="1920" height="426" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_12.jpg" alt="" width="1920" height="405" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_13.jpg" width="1920" height="140" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_14.jpg" alt="" width="1920" height="403" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_15.jpg" alt="" width="1920" height="414" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_16.jpg" alt="" width="1920" height="417" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_17.jpg" alt="" width="1920" height="488" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hahuazt/images/20141117_18.jpg" width="1920" height="163" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="462,7,957,409" href="http://zhenhaolin.com/Product/Detail/9067" target="_blank">
  <area shape="rect" coords="966,6,1460,409" href="http://zhenhaolin.com/Product/Detail/9068" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="461,2,788,393" href="http://zhenhaolin.com/Product/Detail/9115" target="_blank">
  <area shape="rect" coords="797,5,1125,393" href="http://zhenhaolin.com/Product/Detail/9117" target="_blank">
  <area shape="rect" coords="1134,4,1462,399" href="http://zhenhaolin.com/Product/Detail/9118" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="460,10,791,403" href="http://www.zhenhaolin.com/Product/Detail/9120" target="_blank">
  <area shape="rect" coords="801,9,1123,402" href="http://www.zhenhaolin.com/Product/Detail/9124" target="_blank">
  <area shape="rect" coords="1133,15,1461,399" href="http://www.zhenhaolin.com/Product/Detail/9129" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="460,9,788,413" href="http://www.zhenhaolin.com/Product/Detail/9131" target="_blank">
  <area shape="rect" coords="798,9,1125,415" href="http://www.zhenhaolin.com/Product/Detail/9133" target="_blank">
  <area shape="rect" coords="1133,10,1460,412" href="http://www.zhenhaolin.com/Product/Detail/9134" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="456,5,785,400" href="http://www.zhenhaolin.com/Product/Detail/9122" target="_blank">
  <area shape="rect" coords="795,8,1118,401" href="http://zhenhaolin.com/Product/Detail/9110" target="_blank">
  <area shape="rect" coords="1137,7,1460,403" href="http://www.zhenhaolin.com/Product/Detail/9126" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="465,7,707,394" href="http://www.zhenhaolin.com/Product/Detail/9452" target="_blank">
  <area shape="rect" coords="718,6,955,391" href="http://www.zhenhaolin.com/Product/Detail/9454" target="_blank">
  <area shape="rect" coords="967,5,1209,398" href="http://www.zhenhaolin.com/Product/Detail/9456" target="_blank">
  <area shape="rect" coords="1213,2,1464,393" href="http://www.zhenhaolin.com/Product/Detail/9458" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="463,14,705,397" href="http://www.zhenhaolin.com/Product/Detail/9460" target="_blank">
  <area shape="rect" coords="719,14,953,407" href="http://www.zhenhaolin.com/Product/Detail/9462" target="_blank">
  <area shape="rect" coords="961,8,1208,406" href="http://www.zhenhaolin.com/Product/Detail/9464" target="_blank">
  <area shape="rect" coords="1217,4,1460,406" href="http://www.zhenhaolin.com/Product/Detail/9474" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="467,9,703,402" href="http://www.zhenhaolin.com/Product/Detail/9476" target="_blank">
  <area shape="rect" coords="713,11,951,403" href="http://zhenhaolin.com/Product/Detail/9478" target="_blank">
  <area shape="rect" coords="969,8,1205,408" href="http://zhenhaolin.com/Product/Detail/9561" target="_blank">
  <area shape="rect" coords="1220,8,1461,406" href="http://zhenhaolin.com/Product/Detail/9565" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="468,6,703,400" href="http://zhenhaolin.com/Product/Detail/9482" target="_blank">
  <area shape="rect" coords="716,5,957,400" href="http://zhenhaolin.com/Product/Detail/9484" target="_blank">
  <area shape="rect" coords="962,3,1207,402" href="http://zhenhaolin.com/Product/Detail/9487" target="_blank">
  <area shape="rect" coords="1220,6,1455,404" href="http://zhenhaolin.com/Product/Detail/9489" target="_blank">
</map>

<script>
    lazyload();
</script>

