@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (红酒2.jpg) -->
<table id="__01" width="1920" height="6365" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_01.jpg" width="1920" height="282" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_02.jpg" alt="" width="1920" height="351" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_03.jpg" width="1920" height="399" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_04.jpg" width="1920" height="310" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_05.jpg" width="1920" height="300" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_06.jpg" width="1920" height="552" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_07.jpg" width="1920" height="410" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_08.jpg" width="1920" height="441" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_09.jpg" width="1920" height="350" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_10.jpg" width="1920" height="350" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_11.jpg" width="1920" height="138" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_12.jpg" width="1920" height="496" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_13.jpg" width="1920" height="203" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_14.jpg" width="1920" height="402" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_15.jpg" width="1920" height="288" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_16.jpg" width="1920" height="541" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hj/images/20150130_17.jpg" width="1920" height="552" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="510,30,943,329" href="http://www.zhenhaolin.com/Product/Detail/1156569" target="_blank">
  <area shape="rect" coords="995,27,1487,330" href="http://www.zhenhaolin.com/Product/Detail/1156530" target="_blank">
</map>
</body>