@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<!-- Save for Web Slices (日化.jpg) -->
<div style="margin: 0px auto; width: 990px; clear: both;position:relative;">
	<div style="width: 1920px; margin-left: -450px; position: absolute;">
<table id="__01" width="100%" height="527" border="0" cellpadding="0" cellspacing="0" style="background-color:#fdd501;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_01.jpg" width="1101" height="190" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_02.jpg" width="1101" height="163" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_03.jpg" width="1101" height="174" alt=""></td>
	</tr>
    </table>
  
<table id="__02" width="100%" height="78" border="0" cellpadding="0" cellspacing="0" style="background-color:#642901;text-align:center;">  
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_04.jpg" width="1101" height="78" alt=""></td>
	</tr>
    </table>
    
<table id="__03" width="100%" height="5771" border="0" cellpadding="0" cellspacing="0" style="background-color:#fdd501;text-align:center;">   
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_05.jpg" width="1101" height="148" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_06.jpg" alt="" width="1101" height="407" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_07.jpg" alt="" width="1101" height="411" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_08.jpg" alt="" width="1101" height="406" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_09.jpg" width="1101" height="176" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_10.jpg" alt="" width="1101" height="405" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_11.jpg" alt="" width="1101" height="410" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_12.jpg" alt="" width="1101" height="408" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_13.jpg" width="1101" height="175" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_14.jpg" alt="" width="1101" height="413" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_15.jpg" alt="" width="1101" height="411" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_16.jpg" alt="" width="1101" height="409" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_17.jpg" width="1101" height="193" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_18.jpg" alt="" width="1101" height="414" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_19.jpg" alt="" width="1101" height="410" usemap="#Map11" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_20.jpg" alt="" width="1101" height="417" usemap="#Map12" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/hufu/images/2014122301_21.jpg" width="1101" height="158" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="574,3,1066,403" href="http://www.zhenhaolin.com/Product/Detail/1154418" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="69,3,567,401" href="http://www.zhenhaolin.com/Product/Detail/13887" target="_blank">
  <area shape="rect" coords="578,5,1069,404" href="http://www.zhenhaolin.com/Product/Detail/13766" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="71,3,567,403" href="http://www.zhenhaolin.com/Product/Detail/13194" target="_blank">
  <area shape="rect" coords="577,6,1071,400" href="http://www.zhenhaolin.com/Product/Detail/13743" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="577,4,1068,399" href="http://www.zhenhaolin.com/Product/Detail/8580" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="69,6,565,405" href="http://www.zhenhaolin.com/Product/Detail/13747" target="_blank">
  <area shape="rect" coords="577,6,1068,404" href="http://www.zhenhaolin.com/Product/Detail/13719" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="73,3,567,403" href="http://www.zhenhaolin.com/Product/Detail/13724" target="_blank">
  <area shape="rect" coords="574,5,1067,405" href="http://www.zhenhaolin.com/Product/Detail/8939" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="569,5,1071,410" href="http://www.zhenhaolin.com/Product/Detail/3980" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="70,4,568,406" href="http://www.zhenhaolin.com/Product/Detail/8829" target="_blank">
  <area shape="rect" coords="574,6,1070,404" href="http://www.zhenhaolin.com/Product/Detail/8836" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="72,5,568,400" href="http://www.zhenhaolin.com/Product/Detail/4189" target="_blank">
  <area shape="rect" coords="575,2,1069,402" href="http://www.zhenhaolin.com/Product/Detail/3825" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="572,9,1072,407" href="http://www.zhenhaolin.com/Product/Detail/8833" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="72,6,564,405" href="http://www.zhenhaolin.com/Product/Detail/1363" target="_blank">
  <area shape="rect" coords="576,5,1072,405" href="http://www.zhenhaolin.com/Product/Detail/8851" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="74,5,567,403" href="http://www.zhenhaolin.com/Product/Detail/3994" target="_blank">
  <area shape="rect" coords="576,7,1072,404" href="http://www.zhenhaolin.com/Product/Detail/1576" target="_blank">
</map>