@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
    body {
        bgcolor: "#FFFFFF";
        leftmargin: "0";
        topmargin: "0";
        marginwidth: "0";
        marginheight: "0";
    }
</style>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="window.scrollTo((document.body.scrollWidth-document.body.offsetWidth)/2,0)" style="overflow-x: hidden;">
<table id="__01" width="1920" height="3608" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_01.jpg" width="1920" height="689" alt=""></td>
    </tr>
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_02.jpg" alt="" width="1920" height="415" usemap="#Map" border="0"></td>
    </tr>
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_03.jpg" alt="" width="1920" height="417" usemap="#Map2" border="0"></td>
    </tr>
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_04.jpg" alt="" width="1920" height="434" usemap="#Map3" border="0"></td>
    </tr>
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_05.jpg" alt="" width="1920" height="522" usemap="#Map4" border="0"></td>
    </tr>
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_06.jpg" alt="" width="1920" height="440" usemap="#Map5" border="0"></td>
    </tr>
    <tr>
        <td>
            <img src="/Areas/Shop/Themes/M1/Content/ld/jiafang/images/20141028_07.jpg" alt="" width="1920" height="691" usemap="#Map6" border="0"></td>
    </tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
    <area shape="rect" coords="458,11,950,412" href="http://www.zhenhaolin.com/Product/ProSaleDetail/209" target="_blank">
    <area shape="rect" coords="965,12,1480,410" href="http://www.zhenhaolin.com/Product/ProSaleDetail/210" target="_blank">
</map>

<map name="Map2">
    <area shape="rect" coords="454,10,788,410" href="http://www.zhenhaolin.com/Product/ProSaleDetail/211" target="_blank">
    <area shape="rect" coords="796,9,1120,411" href="http://www.zhenhaolin.com/Product/ProSaleDetail/212" target="_blank">
    <area shape="rect" coords="1132,13,1460,407" href="http://www.zhenhaolin.com/Product/ProSaleDetail/213" target="_blank">
</map>

<map name="Map3">
    <area shape="rect" coords="447,8,786,412" href="http://www.zhenhaolin.com/Product/ProSaleDetail/214" target="_blank">
    <area shape="rect" coords="793,9,1125,408" href="http://www.zhenhaolin.com/Product/ProSaleDetail/229" target="_blank">
    <area shape="rect" coords="1131,8,1463,412" href="http://www.zhenhaolin.com/Product/ProSaleDetail/216" target="_blank">
</map>

<map name="Map4">
    <area shape="rect" coords="455,99,705,509" href="http://www.haolinchina.cn/Product/ProSaleDetail/217" target="_blank">
    <area shape="rect" coords="711,101,955,511" href="http://www.zhenhaolin.com/Product/ProSaleDetail/218" target="_blank">
    <area shape="rect" coords="959,105,1209,516" href="http://www.zhenhaolin.com/Product/ProSaleDetail/219" target="_blank">
    <area shape="rect" coords="1214,103,1477,514" href="http://www.zhenhaolin.com/Product/ProSaleDetail/220" target="_blank">
</map>

<map name="Map5">
    <area shape="rect" coords="455,3,703,404" href="http://www.zhenhaolin.com/Product/ProSaleDetail/221" target="_blank">
    <area shape="rect" coords="711,4,955,410" href="http://www.zhenhaolin.com/Product/ProSaleDetail/222" target="_blank">
    <area shape="rect" coords="962,4,1208,407" href="http://www.zhenhaolin.com/Product/ProSaleDetail/223" target="_blank">
    <area shape="rect" coords="1216,10,1468,408" href="http://www.zhenhaolin.com/Product/ProSaleDetail/224" target="_blank">
</map>

<map name="Map6">
    <area shape="rect" coords="449,109,708,521" href="http://www.zhenhaolin.com/Product/ProSaleDetail/225" target="_blank">
    <area shape="rect" coords="712,113,954,528" href="http://www.zhenhaolin.com/Product/ProSaleDetail/226" target="_blank">
    <area shape="rect" coords="960,113,1207,527" href="http://www.zhenhaolin.com/Product/ProSaleDetail/227" target="_blank">
    <area shape="rect" coords="1211,114,1477,523" href="http://www.zhenhaolin.com/Product/ProSaleDetail/228" target="_blank">
</map>

<script>
    lazyload();
</script>

