@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<STYLE>
.image{
	height:298px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_12.jpg) center top no-repeat;
}
.image1{
	height:434px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_13.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>



<table id="__02" width="100%" height="4225" border="0" cellpadding="0" cellspacing="0" style="background-color:#000034;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_01.jpg" width="1122" height="100" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_02.jpg" alt="" width="1122" height="461" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_03.jpg" alt="" width="1122" height="478" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_04.jpg" alt="" width="1122" height="470" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_05.jpg" width="1122" height="130" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_06.jpg" alt="" width="1122" height="462" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_07.jpg" alt="" width="1122" height="491" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_08.jpg" alt="" width="1122" height="493" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_09.jpg" width="1122" height="133" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_10.jpg" alt="" width="1122" height="478" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/kh/images/2015010401_11.jpg" alt="" width="1122" height="529" usemap="#Map8" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="20,18,348,446" href="http://app.zhenhaolin.com/Product/Detail/1154767" target="_blank">
  <area shape="rect" coords="397,26,727,438" href="http://app.zhenhaolin.com/Product/Detail/1154743" target="_blank">
  <area shape="rect" coords="783,9,1107,422" href="http://www.zhenhaolin.com/Product/Detail/1154693" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="13,43,363,466" href="http://www.zhenhaolin.com/Product/Detail/1154678" target="_blank">
  <area shape="rect" coords="431,30,716,451" href="http://www.zhenhaolin.com/Product/Detail/1154679" target="_blank">
  <area shape="rect" coords="773,18,1093,430" href="http://www.zhenhaolin.com/Product/Detail/1154704" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="4,42,340,454" href="http://app.zhenhaolin.com/Product/Detail/1154750" target="_blank">
  <area shape="rect" coords="423,39,718,445" href="http://app.zhenhaolin.com/Product/Detail/1154756" target="_blank">
  <area shape="rect" coords="770,17,1083,419" href="http://www.zhenhaolin.com/Product/Detail/1154685" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="17,35,335,444" href="http://www.zhenhaolin.com/Product/Detail/1154691" target="_blank">
  <area shape="rect" coords="410,17,727,428" href="http://app.zhenhaolin.com/Product/Detail/1154759" target="_blank">
  <area shape="rect" coords="773,11,1078,413" href="http://app.zhenhaolin.com/Product/Detail/1154761" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="13,65,365,478" href="http://app.zhenhaolin.com/Product/Detail/1154763" target="_blank">
  <area shape="rect" coords="404,47,716,445" href="http://app.zhenhaolin.com/Product/Detail/1154762" target="_blank">
  <area shape="rect" coords="762,27,1106,446" href="http://app.zhenhaolin.com/Product/Detail/1154760" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="20,54,361,477" href="http://app.zhenhaolin.com/Product/Detail/1154765" target="_blank">
  <area shape="rect" coords="406,57,717,461" href="http://app.zhenhaolin.com/Product/Detail/1154764" target="_blank">
  <area shape="rect" coords="780,32,1097,454" href="http://www.zhenhaolin.com/Product/Detail/1154705" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="20,42,348,446" href="http://app.zhenhaolin.com/Product/Detail/1154774" target="_blank">
  <area shape="rect" coords="401,26,718,430" href="http://app.zhenhaolin.com/Product/Detail/1154773" target="_blank">
  <area shape="rect" coords="772,16,1100,421" href="http://app.zhenhaolin.com/Product/Detail/1154771" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="19,61,350,456" href="http://app.zhenhaolin.com/Product/Detail/1154772" target="_blank">
  <area shape="rect" coords="397,43,725,451" href="http://www.zhenhaolin.com/Product/Detail/1154706" target="_blank">
  <area shape="rect" coords="764,18,1095,426" href="http://www.zhenhaolin.com/Product/Detail/1154712" target="_blank">
</map>
