@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<!-- Save for Web Slices (妈妈服装落地页_04.jpg) -->
<div style="margin: 0px auto; width: 990px; clear: both;position:relative;">
	<div style="width: 1920px; margin-left: -450px; position: absolute;">
<table id="__01" width="100%" height="630" border="0" cellpadding="0" cellspacing="0" style="background-color:#5f0c08;text-align:center;" >
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_08.jpg" width="1920" height="160" alt=""></td>
	</tr>
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_09.jpg" width="1920" height="188" alt=""></td>
	</tr>
      <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_10.jpg" width="1920" height="282" alt=""></td>
	</tr>
    
    </table>
    
<table id="__02" width="100%" height="2050" border="0" cellpadding="0" cellspacing="0" style="background-color:#5f0c08;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_01.jpg" width="997" height="134" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_02.jpg" alt="" width="997" height="409" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_03.jpg" alt="" width="997" height="414" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_04.jpg" alt="" width="997" height="415" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_05.jpg" alt="" width="997" height="427" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_06.jpg" alt="" width="997" height="414" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/mazhuang/images/2014122302_07.jpg" alt="" width="997" height="467" usemap="#Map6" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="5,4,324,399" href="http://www.zhenhaolin.com/Product/Detail/10875" target="_blank">
  <area shape="rect" coords="342,4,661,397" href="http://www.zhenhaolin.com/Product/Detail/10856" target="_blank">
  <area shape="rect" coords="671,4,989,398" href="http://www.zhenhaolin.com/Product/Detail/10852" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="5,11,323,408" href="http://www.zhenhaolin.com/Product/Detail/10874" target="_blank">
  <area shape="rect" coords="337,6,661,405" href="http://www.zhenhaolin.com/Product/Detail/10730" target="_blank">
  <area shape="rect" coords="671,2,990,406" href="http://www.zhenhaolin.com/Product/Detail/10880" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="3,12,324,411" href="http://www.zhenhaolin.com/Product/Detail/10726" target="_blank">
  <area shape="rect" coords="335,7,661,411" href="http://www.zhenhaolin.com/Product/Detail/10881" target="_blank">
  <area shape="rect" coords="672,9,990,409" href="http://www.zhenhaolin.com/Product/Detail/10882" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="7,11,327,415" href="http://www.zhenhaolin.com/Product/Detail/10869" target="_blank">
  <area shape="rect" coords="337,15,665,412" href="http://www.zhenhaolin.com/Product/Detail/10872" target="_blank">
  <area shape="rect" coords="673,15,992,413" href="http://www.zhenhaolin.com/Product/Detail/10871" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="7,6,324,401" href="http://www.zhenhaolin.com/Product/Detail/10851" target="_blank">
  <area shape="rect" coords="342,5,659,404" href="http://www.zhenhaolin.com/Product/Detail/10729" target="_blank">
  <area shape="rect" coords="673,3,989,404" href="http://www.zhenhaolin.com/Product/Detail/10877" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="2,9,324,407" href="http://www.zhenhaolin.com/Product/Detail/10879" target="_blank">
  <area shape="rect" coords="337,11,658,411" href="http://www.zhenhaolin.com/Product/Detail/10854" target="_blank">
  <area shape="rect" coords="674,7,994,411" href="http://www.zhenhaolin.com/Product/Detail/1154596" target="_blank">
</map>