@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<!-- Save for Web Slices (meizhuang_06.jpg) -->
<div style="margin: 0px auto; width: 990px; clear: both;position:relative;">
	<div style="width: 1920px; margin-left: -450px; position: absolute;">

<table id="__01" width="100%" height="596" border="0" cellpadding="0" cellspacing="0" style="background-color:#fac9cd;text-align:center;">
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_16.jpg" width="1920" height="100" alt=""></td>
	</tr>
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_17.jpg" width="1920" height="71" alt=""></td>
	</tr>
     <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_18.jpg" width="1920" height="123" alt=""></td>
	</tr>
      <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_19.jpg" width="1920" height="112" alt=""></td>
	</tr>
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_20.jpg" width="1920" height="105" alt=""></td>
	</tr>
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_21.jpg" width="1920" height="85" alt=""></td>
	</tr>

</table>
    
<table id="__01" width="100%" height="105" border="0" cellpadding="0" cellspacing="0" style="background-color:#ff4d65;text-align:center;">
    <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_22.jpg" width="1208" height="105" alt=""></td>
	</tr> 
    </table>

<table id="__03" width="100%" height="5314" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffdde1;text-align:center">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_01.jpg" width="999" height="145" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_02.jpg" alt="" width="999" height="406" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_03.jpg" alt="" width="999" height="410" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_04.jpg" alt="" width="999" height="408" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_05.jpg" width="999" height="155" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_06.jpg" alt="" width="999" height="402" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_07.jpg" alt="" width="999" height="412" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_08.jpg" width="999" height="159" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_09.jpg" alt="" width="999" height="401" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_10.jpg" alt="" width="999" height="419" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_11.jpg" alt="" width="999" height="417" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_12.jpg" width="999" height="161" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_13.jpg" alt="" width="999" height="410" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_14.jpg" alt="" width="999" height="415" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/meizhuang/images/20141210_15.jpg" alt="" width="999" height="448" usemap="#Map11" border="0"></td>
	</tr>

</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="5,3,492,398" href="http://zhenhaolin.com/Product/Detail/13918" target="_blank">
  <area shape="rect" coords="507,5,995,400" href="http://zhenhaolin.com/Product/Detail/13921" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="3,8,242,405" href="http://zhenhaolin.com/Product/Detail/13786" target="_blank">
  <area shape="rect" coords="249,4,496,405" href="http://zhenhaolin.com/Product/Detail/13910" target="_blank">
  <area shape="rect" coords="505,5,744,401" href="http://zhenhaolin.com/Product/Detail/13782" target="_blank">
  <area shape="rect" coords="754,3,997,404" href="http://zhenhaolin.com/Product/Detail/13812" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="8,7,242,404" href="http://zhenhaolin.com/Product/Detail/13768" target="_blank">
  <area shape="rect" coords="254,9,496,403" href="http://zhenhaolin.com/Product/Detail/13770" target="_blank">
  <area shape="rect" coords="505,7,743,405" href="http://zhenhaolin.com/Product/Detail/13763" target="_blank">
  <area shape="rect" coords="751,5,993,403" href="http://zhenhaolin.com/Product/Detail/13765" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="12,2,323,396" href="http://zhenhaolin.com/Product/Detail/1154174" target="_blank">
  <area shape="rect" coords="338,4,662,401" href="http://zhenhaolin.com/Product/Detail/1154161" target="_blank">
  <area shape="rect" coords="673,4,989,393" href="http://zhenhaolin.com/Product/Detail/1154164" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="4,8,324,408" href="http://zhenhaolin.com/Product/Detail/1154178" target="_blank">
  <area shape="rect" coords="341,10,663,409" href="http://zhenhaolin.com/Product/Detail/1154240" target="_blank">
  <area shape="rect" coords="676,9,991,404" href="http://zhenhaolin.com/Product/Detail/1154238" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="7,4,491,394" href="http://zhenhaolin.com/Product/Detail/13747" target="_blank">
  <area shape="rect" coords="502,6,993,397" href="http://zhenhaolin.com/Product/Detail/13724" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="6,19,496,416" href="http://zhenhaolin.com/Product/Detail/13887" target="_blank">
  <area shape="rect" coords="508,17,988,412" href="http://zhenhaolin.com/Product/Detail/13886" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="7,12,493,414" href="http://zhenhaolin.com/Product/Detail/13600" target="_blank">
  <area shape="rect" coords="502,9,993,411" href="http://zhenhaolin.com/Product/Detail/13603" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="3,-1,325,402" href="http://zhenhaolin.com/Product/Detail/1154190" target="_blank">
  <area shape="rect" coords="343,7,661,403" href="http://zhenhaolin.com/Product/Detail/1154188" target="_blank">
  <area shape="rect" coords="676,8,988,401" href="http://zhenhaolin.com/Product/Detail/1154189" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="3,8,322,404" href="http://zhenhaolin.com/Product/Detail/1154152" target="_blank">
  <area shape="rect" coords="336,10,659,411" href="http://zhenhaolin.com/Product/Detail/1154154" target="_blank">
  <area shape="rect" coords="674,8,994,409" href="http://zhenhaolin.com/Product/Detail/1154156" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="6,5,246,416" href="http://zhenhaolin.com/Product/Detail/1154183" target="_blank">
  <area shape="rect" coords="252,5,499,414" href="http://zhenhaolin.com/Product/Detail/1154182" target="_blank">
  <area shape="rect" coords="502,7,751,411" href="http://zhenhaolin.com/Product/Detail/1154184" target="_blank">
  <area shape="rect" coords="756,7,994,410" href="http://zhenhaolin.com/Product/Detail/1154158" target="_blank">
</map>