@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<STYLE>
.image{
	height:240px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_19.jpg) center top no-repeat;
}
.image1{
	height:192px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_20.jpg) center top no-repeat;

}
.image2{
	height:200px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_21.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>
<DIV class="image2"></DIV>

<table id="__02" width="100%" height="5620" border="0" cellpadding="0" cellspacing="0" style="background-color:#6b010b;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_01.jpg" width="1032" height="104" alt=""></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_02.jpg" alt="" width="1032" height="398" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_03.jpg" alt="" width="1032" height="447" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_04.jpg" alt="" width="1032" height="444" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_05.jpg" width="1032" height="108" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_06.jpg" alt="" width="1032" height="394" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_07.jpg" alt="" width="1032" height="409" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_08.jpg" alt="" width="1032" height="417" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_09.jpg" width="1032" height="103" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_10.jpg" alt="" width="1032" height="407" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_11.jpg" alt="" width="1032" height="412" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_12.jpg" width="1032" height="116" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_13.jpg" alt="" width="1032" height="414" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_14.jpg" alt="" width="1032" height="405" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_15.jpg" width="1032" height="116" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_16.jpg" alt="" width="1032" height="417" usemap="#Map11" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_17.jpg" alt="" width="1032" height="413" usemap="#Map12" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/msj/images/20150112_18.jpg" width="1032" height="96" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="156,14,502,358" href="http://zhenhaolin.com/Product/Detail/1155285" target="_blank">
  <area shape="rect" coords="511,12,907,355" href="http://zhenhaolin.com/Product/Detail/8510" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="32,34,364,434" href="http://zhenhaolin.com/Product/Detail/1155289" target="_blank">
  <area shape="rect" coords="367,35,681,431" href="http://zhenhaolin.com/Product/Detail/9504" target="_blank">
  <area shape="rect" coords="691,35,1013,432" href="http://zhenhaolin.com/Product/Detail/9500" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="30,9,361,403" href="http://zhenhaolin.com/Product/Detail/8506" target="_blank">
  <area shape="rect" coords="370,7,681,409" href="http://zhenhaolin.com/Product/Detail/8505" target="_blank">
  <area shape="rect" coords="692,8,1007,404" href="http://zhenhaolin.com/Product/Detail/8484" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="156,8,456,351" href="http://zhenhaolin.com/Product/Detail/1154092" target="_blank">
  <area shape="rect" coords="525,8,920,360" href="http://zhenhaolin.com/Product/Detail/1154025" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="38,21,360,397" href="http://zhenhaolin.com/Product/Detail/1154433" target="_blank">
  <area shape="rect" coords="367,21,682,399" href="http://zhenhaolin.com/Product/Detail/9470" target="_blank">
  <area shape="rect" coords="687,23,1006,400" href="http://zhenhaolin.com/Product/Detail/9468" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="39,12,354,386" href="http://zhenhaolin.com/Product/Detail/1154204" target="_blank">
  <area shape="rect" coords="360,14,683,390" href="http://zhenhaolin.com/Product/Detail/1154206" target="_blank">
  <area shape="rect" coords="693,12,1004,387" href="http://zhenhaolin.com/Product/Detail/1154202" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="33,18,355,393" href="http://zhenhaolin.com/Product/Detail/492" target="_blank">
  <area shape="rect" coords="362,18,679,394" href="http://zhenhaolin.com/Product/Detail/490" target="_blank">
  <area shape="rect" coords="690,15,1004,393" href="http://zhenhaolin.com/Product/Detail/9597" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="37,7,360,381" href="http://zhenhaolin.com/Product/Detail/9518" target="_blank">
  <area shape="rect" coords="365,13,680,383" href="http://zhenhaolin.com/Product/Detail/9541" target="_blank">
  <area shape="rect" coords="690,12,1011,385" href="http://zhenhaolin.com/Product/Detail/1155246" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="39,29,355,406" href="http://zhenhaolin.com/Product/Detail/1154038" target="_blank">
  <area shape="rect" coords="362,27,678,406" href="http://zhenhaolin.com/Product/Detail/1154043" target="_blank">
  <area shape="rect" coords="691,28,1001,406" href="http://zhenhaolin.com/Product/Detail/9389" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="42,13,359,386" href="http://zhenhaolin.com/Product/Detail/9398" target="_blank">
  <area shape="rect" coords="370,13,683,387" href="http://zhenhaolin.com/Product/Detail/9393" target="_blank">
  <area shape="rect" coords="694,12,1002,389" href="http://zhenhaolin.com/Product/Detail/9391" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="33,26,358,406" href="http://zhenhaolin.com/Product/Detail/1155539" target="_blank">
  <area shape="rect" coords="365,30,680,411" href="http://zhenhaolin.com/Product/Detail/6794" target="_blank">
  <area shape="rect" coords="690,34,1008,409" href="http://zhenhaolin.com/Product/Detail/9820" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="36,10,357,386" href="http://zhenhaolin.com/Product/Detail/1155532" target="_blank">
  <area shape="rect" coords="366,8,680,392" href="http://zhenhaolin.com/Product/Detail/1154842" target="_blank">
  <area shape="rect" coords="690,13,1006,389" href="http://zhenhaolin.com/Product/Detail/1154840" target="_blank">
</map>
