@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}


<STYLE>
.image{
	height:315px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_09.jpg) center top no-repeat;
}
.image1{
	height:306px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_10.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>


<table id="__01" width="100%" height="2863" border="0" cellpadding="0" cellspacing="0" style="background-color:#2c1a1a;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_01.jpg" width="998" height="114" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_02.jpg" alt="" width="998" height="511" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_03.jpg" alt="" width="998" height="405" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_04.jpg" alt="" width="998" height="358" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_05.jpg" alt="" width="998" height="353" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_06.jpg" alt="" width="998" height="355" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_07.jpg" alt="" width="998" height="359" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/nh/images/2014010103_08.jpg" alt="" width="998" height="408" usemap="#Map7" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="11,4,493,500" href="http://www.zhenhaolin.com/Product/Detail/1154430" target="_blank">
  <area shape="rect" coords="505,3,992,501" href="http://www.zhenhaolin.com/Product/Detail/1154432" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="29,71,338,395" href="http://www.zhenhaolin.com/Product/Detail/1154440" target="_blank">
  <area shape="rect" coords="348,70,655,393" href="http://www.zhenhaolin.com/Product/Detail/1154437" target="_blank">
  <area shape="rect" coords="662,66,976,394" href="http://www.zhenhaolin.com/Product/Detail/1154434" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="23,10,335,343" href="http://www.zhenhaolin.com/Product/Detail/1154433" target="_blank">
  <area shape="rect" coords="346,10,661,344" href="http://www.zhenhaolin.com/Product/Detail/1154431" target="_blank">
  <area shape="rect" coords="669,10,980,347" href="http://www.zhenhaolin.com/Product/Detail/1154429" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="19,3,338,338" href="http://www.zhenhaolin.com/Product/Detail/1154445" target="_blank">
  <area shape="rect" coords="346,8,662,331" href="http://www.zhenhaolin.com/Product/Detail/1154448" target="_blank">
  <area shape="rect" coords="671,8,976,334" href="http://www.zhenhaolin.com/Product/Detail/1154447" target="_blank">
</map>  

<map name="Map5">
  <area shape="rect" coords="22,5,337,341" href="http://www.zhenhaolin.com/Product/Detail/1154446" target="_blank">
  <area shape="rect" coords="345,9,655,340" href="http://www.zhenhaolin.com/Product/Detail/1154444" target="_blank">
  <area shape="rect" coords="665,8,977,346" href="http://www.zhenhaolin.com/Product/Detail/1154443" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="26,7,338,338" href="http://www.zhenhaolin.com/Product/Detail/1154442" target="_blank">
  <area shape="rect" coords="345,7,658,338" href="http://www.zhenhaolin.com/Product/Detail/1154441" target="_blank">
  <area shape="rect" coords="668,5,979,339" href="http://www.zhenhaolin.com/Product/Detail/1154438" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="22,2,336,333" href="http://www.zhenhaolin.com/Product/Detail/1154436" target="_blank">
  <area shape="rect" coords="345,6,653,343" href="http://www.zhenhaolin.com/Product/Detail/1154439" target="_blank">
  <area shape="rect" coords="662,5,980,339" href="http://www.zhenhaolin.com/Product/Detail/1154428" target="_blank">
</map>