@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
<style>
    .clearfix{
	*zoom:1;
}
.clearfix:before,
.clearfix:after{
	display:table;
	content:'';
	line-height:0;
}
.clearfix:after{
	clear:both;
}

section, .section{
	margin:0 auto;
}

form{
	border:none;
}
input, button{
	vertical-align:top;
}

li{
	list-style:none;
}

html{
	overflow-x:hidden;
	overflow-y:auto;
} 

a         {text-decoration:none;outline:none;color:#333;background-color:transparent;} /* 未添加的链接 */
a:link    {} 
a:visited {} 
a:hover   {color:#E62222} 
a:focus   {color:#E62222; outline:none;} 
a:active  {color:#E62222} 
.UL_tow a{
	width:292px;
	height:424px;
	display:inline-block;
	*display:inline;zoom:1;
	}table {
    border-collapse: collapse;
    border-spacing: 0;
}textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
</style>
<div style="background:#ffd8d9;">
    <div class="" style="width: 1200px; height: 373px; margin: 0 auto; background: url(/Areas/Shop/Themes/M1/Content/images/njr/1_01.png) no-repeat;"></div>
    <div class="UL_tow" style="width: 1200px; height: 433px; margin: 0 auto; background: url(/Areas/Shop/Themes/M1/Content/images/njr/2_02.png) no-repeat;">
        <a href="http://zhenhaolin.com/Product/Detail/1154020" style="margin: 9px 0 0 5px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/1154023" style="margin: 9px 0 0 0px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/1154019" style="margin: 9px 0 0 0px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/1154015" style="margin: 9px 0 0 -4px;"></a>
    </div>
    <div class="UL_tow" style="width: 1200px; height: 430px; margin: 0 auto; background: url(/Areas/Shop/Themes/M1/Content/images/njr/3_03.png) no-repeat;">
        <a href="http://zhenhaolin.com/Product/Detail/1154013" style="margin: 6px 0 0 5px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/1154012" style="margin: 6px 0 0 0px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/1154011" style="margin: 6px 0 0 0px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/11521" style="margin: 6px 0 0 -4px;"></a>
    </div>
    <div class="UL_tow" style="width: 1200px; height: 437px; margin: 0 auto; background: url(/Areas/Shop/Themes/M1/Content/images/njr/4_04.png) no-repeat;">
        <a href="http://zhenhaolin.com/Product/Detail/11486" style="margin: 5px 0 0 5px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/1154276" style="margin: 5px 0 0 0px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/11057" style="margin: 5px 0 0 0px;"></a>
        <a href="http://zhenhaolin.com/Product/Detail/13861" style="margin: 5px 0 0 -4px;"></a>
    </div>
</div>
