@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (儿童钟表新品上线-全场六折特惠_04.jpg) -->
<STYLE>

.image{
	height:456px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_19.jpg) center top no-repeat;
}
.image1{
	height:360px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_20.jpg) center top no-repeat;

}

</STYLE>

<DIV class="image"></DIV>
<DIV class="image1"></DIV>


<table id="__01" width="100%" height="7428" border="0" cellpadding="0" cellspacing="0"  style="background-color:#65c700;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_01.jpg" width="1056" height="354" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_02.jpg" alt="" width="1056" height="577" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_03.jpg" alt="" width="1056" height="287" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_04.jpg" width="1056" height="355" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_05.jpg" alt="" width="1056" height="578" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_06.jpg" alt="" width="1056" height="288" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_07.jpg" width="1056" height="347" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_08.jpg" alt="" width="1056" height="584" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_09.jpg" alt="" width="1056" height="284" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_10.jpg" width="1056" height="348" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_11.jpg" alt="" width="1056" height="593" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_12.jpg" alt="" width="1056" height="284" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_13.jpg" width="1056" height="353" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_14.jpg" alt="" width="1056" height="579" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_15.jpg" alt="" width="1056" height="289" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_16.jpg" width="1056" height="356" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_17.jpg" alt="" width="1056" height="572" usemap="#Map11" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qingming/images/20150402_18.jpg" alt="" width="1056" height="400" usemap="#Map12" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="33,5,474,562" href="http://zhenhaolin.com/Product/Detail/1156332" target="_blank">
  <area shape="rect" coords="485,4,749,272" href="http://zhenhaolin.com/Product/Detail/1155292" target="_blank">
  <area shape="rect" coords="758,5,1024,279" href="http://zhenhaolin.com/Product/Detail/1155687" target="_blank">
  <area shape="rect" coords="482,290,743,564" href="http://zhenhaolin.com/Product/Detail/1157192" target="_blank">
  <area shape="rect" coords="756,291,1024,562" href="http://zhenhaolin.com/Product/Detail/1155974" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="29,6,290,278" href="http://zhenhaolin.com/Product/Detail/1156207" target="_blank">
  <area shape="rect" coords="296,8,528,277" href="http://zhenhaolin.com/Product/Detail/9503" target="_blank">
  <area shape="rect" coords="537,6,776,279" href="http://zhenhaolin.com/Product/Detail/1156331" target="_blank">
  <area shape="rect" coords="784,6,1017,278" href="http://zhenhaolin.com/Product/Detail/9376" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="31,9,473,558" href="http://zhenhaolin.com/Product/Detail/1156413" target="_blank">
  <area shape="rect" coords="481,3,751,279" href="http://zhenhaolin.com/Product/Detail/3860" target="_blank">
  <area shape="rect" coords="757,5,1027,283" href="http://zhenhaolin.com/Product/Detail/960" target="_blank">
  <area shape="rect" coords="482,294,747,568" href="http://zhenhaolin.com/Product/Detail/3858" target="_blank">
  <area shape="rect" coords="757,291,1021,567" href="http://zhenhaolin.com/Product/Detail/547" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="29,7,293,274" href="http://zhenhaolin.com/Product/Detail/721" target="_blank">
  <area shape="rect" coords="295,6,530,279" href="http://zhenhaolin.com/Product/Detail/539" target="_blank">
  <area shape="rect" coords="542,8,777,276" href="http://zhenhaolin.com/Product/Detail/534" target="_blank">
  <area shape="rect" coords="785,8,1028,278" href="http://zhenhaolin.com/Product/Detail/532" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="30,14,476,566" href="http://zhenhaolin.com/Product/Detail/1156338" target="_blank">
  <area shape="rect" coords="486,7,749,289" href="http://zhenhaolin.com/Product/Detail/1156613" target="_blank">
  <area shape="rect" coords="758,10,1023,285" href="http://zhenhaolin.com/Product/Detail/1154193" target="_blank">
  <area shape="rect" coords="482,297,751,575" href="http://zhenhaolin.com/Product/Detail/1157142" target="_blank">
  <area shape="rect" coords="756,297,1023,577" href="http://zhenhaolin.com/Product/Detail/1157147" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="26,7,289,279" href="http://zhenhaolin.com/Product/Detail/1157140" target="_blank">
  <area shape="rect" coords="297,5,529,278" href="http://zhenhaolin.com/Product/Detail/1157141" target="_blank">
  <area shape="rect" coords="535,4,779,276" href="http://zhenhaolin.com/Product/Detail/1156329" target="_blank">
  <area shape="rect" coords="784,8,1026,272" href="http://zhenhaolin.com/Product/Detail/1156339" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="30,20,479,579" href="http://zhenhaolin.com/Product/Detail/1157136" target="_blank">
  <area shape="rect" coords="485,16,749,292" href="http://zhenhaolin.com/Product/Detail/1155285" target="_blank">
  <area shape="rect" coords="762,19,1016,287" href="http://zhenhaolin.com/Product/Detail/1156422" target="_blank">
  <area shape="rect" coords="489,301,752,577" href="http://zhenhaolin.com/Product/Detail/1157126" target="_blank">
  <area shape="rect" coords="760,306,1025,581" href="http://zhenhaolin.com/Product/Detail/1157123" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="23,5,292,277" href="http://zhenhaolin.com/Product/Detail/1157138" target="_blank">
  <area shape="rect" coords="298,8,531,281" href="http://zhenhaolin.com/Product/Detail/1157128" target="_blank">
  <area shape="rect" coords="538,3,773,275" href="http://zhenhaolin.com/Product/Detail/1156419" target="_blank">
  <area shape="rect" coords="784,3,1020,276" href="http://zhenhaolin.com/Product/Detail/1154439" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="33,11,471,569" href="http://zhenhaolin.com/Product/Detail/1157197" target="_blank">
  <area shape="rect" coords="482,6,748,281" href="http://zhenhaolin.com/Product/Detail/9455" target="_blank">
  <area shape="rect" coords="760,9,1026,281" href="http://zhenhaolin.com/Product/Detail/9494" target="_blank">
  <area shape="rect" coords="483,295,752,574" href="http://zhenhaolin.com/Product/Detail/9485" target="_blank">
  <area shape="rect" coords="759,294,1025,572" href="http://zhenhaolin.com/Product/Detail/9488" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="30,3,286,279" href="http://zhenhaolin.com/Product/Detail/1157221" target="_blank">
  <area shape="rect" coords="288,5,532,283" href="http://zhenhaolin.com/Product/Detail/1157220" target="_blank">
  <area shape="rect" coords="540,5,778,285" href="http://zhenhaolin.com/Product/Detail/1157216" target="_blank">
  <area shape="rect" coords="785,10,1022,280" href="http://zhenhaolin.com/Product/Detail/9490" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="32,3,474,566" href="http://zhenhaolin.com/Product/Detail/6642" target="_blank">
  <area shape="rect" coords="482,4,752,280" href="http://zhenhaolin.com/Product/Detail/1157171" target="_blank">
  <area shape="rect" coords="760,6,1019,282" href="http://zhenhaolin.com/Product/Detail/1157399" target="_blank">
  <area shape="rect" coords="488,295,748,570" href="http://zhenhaolin.com/Product/Detail/1157406" target="_blank">
  <area shape="rect" coords="753,293,1028,567" href="http://zhenhaolin.com/Product/Detail/1156300" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="20,9,286,297" href="http://zhenhaolin.com/Product/Detail/1156424" target="_blank">
  <area shape="rect" coords="297,7,533,292" href="http://zhenhaolin.com/Product/Detail/1156421" target="_blank">
  <area shape="rect" coords="539,8,774,293" href="http://zhenhaolin.com/Product/Detail/1155248" target="_blank">
  <area shape="rect" coords="785,7,1024,289" href="http://zhenhaolin.com/Product/Detail/1157312" target="_blank">
</map>