@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
    body {
        bgcolor: "#FFFFFF";
        leftmargin: "0";
        topmargin: "0";
        marginwidth: "0";
        marginheight: "0";
    }
</style>
<table id="__01" width="1920" height="3391" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_01.jpg" width="352" height="290" alt=""></td>
		<td colspan="2">
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_02.jpg" width="1199" height="290" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_03.jpg" width="369" height="290" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_04.jpg" width="352" height="336" alt=""></td>
		<td colspan="2">
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_05.jpg" width="1199" height="336" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_06.jpg" width="369" height="336" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_07.jpg" width="352" height="128" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_08.jpg" width="576" height="128" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_09.jpg" width="623" height="128" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_10.jpg" width="369" height="128" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_11.jpg" width="352" height="285" alt=""></td>
		<td colspan="2">
		  <img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_12.jpg" alt="" width="1199" height="285" usemap="#Map" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_13.jpg" width="369" height="285" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_14.jpg" width="352" height="346" alt=""></td>
		<td colspan="2">
		  <img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_15.jpg" alt="" width="1199" height="346" usemap="#Map2" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_16.jpg" width="369" height="346" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_17.jpg" width="352" height="190" alt=""></td>
		<td colspan="2">
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_18.jpg" width="1199" height="190" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_19.jpg" width="369" height="190" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_20.jpg" width="352" height="309" alt=""></td>
		<td colspan="2">
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_21.jpg" alt="" width="1199" height="309" usemap="#Map3" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_22.jpg" width="369" height="309" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_23.jpg" width="352" height="344" alt=""></td>
		<td colspan="2">
		  <img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_24.jpg" alt="" width="1199" height="344" usemap="#Map4" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_25.jpg" width="369" height="344" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_26.jpg" width="352" height="270" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_27.jpg" width="576" height="270" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_28.jpg" width="623" height="270" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_29.jpg" width="369" height="270" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_30.jpg" width="352" height="316" alt=""></td>
		<td colspan="2">
		  <img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_31.jpg" alt="" width="1199" height="316" usemap="#Map5" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_32.jpg" width="369" height="316" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_33.jpg" width="352" height="331" alt=""></td>
		<td colspan="2">
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_34.jpg" alt="" width="1199" height="331" usemap="#Map6" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_35.jpg" width="369" height="331" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_36.jpg" width="352" height="175" alt=""></td>
		<td colspan="2">
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_37.jpg" width="1199" height="175" alt=""></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_38.jpg" width="369" height="175" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_39.jpg" alt="" width="352" height="337" usemap="#Map9" border="0"></td>
		<td colspan="2">
		  <img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_40.jpg" alt="" width="1199" height="337" usemap="#Map7" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_41.jpg" width="369" height="337" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_42.jpg" width="352" height="422" alt=""></td>
		<td colspan="2">
		  <img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_43.jpg" alt="" width="1199" height="422" usemap="#Map8" border="0"></td>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/qiuzhuang/images/2014110302_44.jpg" width="369" height="422" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="78,9,319,273" href="http://www.zhenhaolin.com/Product/ProSaleDetail/251" target="_blank">
  <area shape="rect" coords="337,2,583,274" href="http://www.zhenhaolin.com/Product/ProSaleDetail/269" target="_blank">
  <area shape="rect" coords="598,6,1189,277" href="http://www.zhenhaolin.com/Product/ProSaleDetail/268" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="597,7,1181,321" href="http://www.zhenhaolin.com/Product/ProSaleDetail/268" target="_blank">
  <area shape="rect" coords="71,12,323,308" href="http://www.zhenhaolin.com/Product/ProSaleDetail/258" target="_blank">
  <area shape="rect" coords="336,8,587,309" href="http://www.zhenhaolin.com/Product/ProSaleDetail/257" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="582,7,826,298" href="http://www.zhenhaolin.com/Product/ProSaleDetail/260" target="_blank">
  <area shape="rect" coords="840,9,1097,300" href="http://www.zhenhaolin.com/Product/ProSaleDetail/267" target="_blank">
  <area shape="rect" coords="20,11,569,297" href="http://www.zhenhaolin.com/Product/ProSaleDetail/266" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="15,9,543,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/266" target="_blank">
  <area shape="rect" coords="570,6,835,321" href="http://www.zhenhaolin.com/Product/ProSaleDetail/252" target="_blank">
  <area shape="rect" coords="842,7,1085,314" href="http://www.zhenhaolin.com/Product/ProSaleDetail/250" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="44,6,308,307" href="http://www.zhenhaolin.com/Product/ProSaleDetail/265" target="_blank">
  <area shape="rect" coords="319,7,569,306" href="http://www.zhenhaolin.com/Product/ProSaleDetail/255" target="_blank">
  <area shape="rect" coords="580,11,1191,305" href="http://www.zhenhaolin.com/Product/ProSaleDetail/264" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="38,6,305,313" href="http://www.zhenhaolin.com/Product/ProSaleDetail/256" target="_blank">
  <area shape="rect" coords="320,7,574,304" href="http://www.zhenhaolin.com/Product/ProSaleDetail/263" target="_blank">
  <area shape="rect" coords="585,14,1183,317" href="http://www.zhenhaolin.com/Product/ProSaleDetail/264" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="605,47,845,319" href="http://www.zhenhaolin.com/Product/ProSaleDetail/262" target="_blank">
  <area shape="rect" coords="870,35,1113,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/259" target="_blank">
  <area shape="rect" coords="12,19,596,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/261" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="599,11,850,317" href="http://www.zhenhaolin.com/Product/ProSaleDetail/254" target="_blank">
  <area shape="rect" coords="869,12,1107,317" href="http://www.zhenhaolin.com/Product/ProSaleDetail/253" target="_blank">
  <area shape="rect" coords="20,15,572,309" href="http://www.zhenhaolin.com/Product/ProSaleDetail/261" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="350,19,843,360" href="#">
</map>
</body>

<script>
    lazyload();
</script>
