@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
    body {
        bgcolor: "#FFFFFF";
        leftmargin: "0";
        topmargin: "0";
        marginwidth: "0";
        marginheight: "0";
    }
</style>
<!-- Save for Web Slices (圣诞节_02.jpg) -->
<div style="margin: 0px auto; width: 990px; clear: both;position:relative;">
	<div style="width: 1920px; margin-left: -450px; position: absolute;">
<table id="__01" width="100%" height="60" border="0" cellpadding="0" cellspacing="0" style="background-color:#9b0010;text-align:center;">
	<tr>
		<td>		<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_22.jpg" width="1916" height="60" alt=""></td>
	</tr>
    </table>
    
<table id="__02" width="100%" height="5489" border="0" cellpadding="0" cellspacing="0" style="background-color:#9b0010;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_01.jpg" width="1026" height="145" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_02.jpg" width="1026" height="120" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_03.jpg" width="1026" height="145" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_04.jpg" alt="" width="1026" height="275" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_05.jpg" width="1026" height="149" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_06.jpg" alt="" width="1026" height="334" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_07.jpg" alt="" width="1026" height="336" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_08.jpg" alt="" width="1026" height="333" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_09.jpg" width="1026" height="169" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_10.jpg" alt="" width="1026" height="333" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_11.jpg" alt="" width="1026" height="337" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_12.jpg" alt="" width="1026" height="334" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_13.jpg" width="1026" height="180" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_14.jpg" alt="" width="1026" height="330" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_15.jpg" alt="" width="1026" height="338" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_16.jpg" alt="" width="1026" height="338" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_17.jpg" width="1026" height="174" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_18.jpg" alt="" width="1026" height="339" usemap="#Map11" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_19.jpg" alt="" width="1026" height="333" usemap="#Map12" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_20.jpg" alt="" width="1026" height="335" usemap="#Map13" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/shengdan/images/20141222_21.jpg" width="1026" height="112" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="78,26,382,267" href="http://zhenhaolin.com/Product/Detail/7047" target="_blank">
  <area shape="rect" coords="404,17,662,270" href="http://zhenhaolin.com/Product/Detail/500" target="_blank">
  <area shape="rect" coords="680,13,989,263" href="http://zhenhaolin.com/Product/Detail/1154813" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="33,6,343,329" href="http://zhenhaolin.com/Product/Detail/9782" target="_blank">
  <area shape="rect" coords="358,7,678,325" href="http://zhenhaolin.com/Product/Detail/9789" target="_blank">
  <area shape="rect" coords="684,8,1005,328" href="http://zhenhaolin.com/Product/Detail/9404" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="22,9,345,328" href="http://zhenhaolin.com/Product/Detail/9376" target="_blank">
  <area shape="rect" coords="361,7,667,330" href="http://zhenhaolin.com/Product/Detail/8504" target="_blank">
  <area shape="rect" coords="683,12,1006,329" href="http://zhenhaolin.com/Product/Detail/8495" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="27,12,343,326" href="http://zhenhaolin.com/Product/Detail/886" target="_blank">
  <area shape="rect" coords="358,8,667,325" href="http://zhenhaolin.com/Product/Detail/535" target="_blank">
  <area shape="rect" coords="681,7,998,324" href="http://zhenhaolin.com/Product/Detail/723" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="25,9,336,322" href="http://zhenhaolin.com/Product/Detail/9596" target="_blank">
  <area shape="rect" coords="352,8,670,320" href="http://zhenhaolin.com/Product/Detail/6640" target="_blank">
  <area shape="rect" coords="686,11,997,324" href="http://zhenhaolin.com/Product/Detail/9595" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="24,5,334,329" href="http://zhenhaolin.com/Product/Detail/9597" target="_blank">
  <area shape="rect" coords="344,10,664,326" href="http://www.zhenhaolin.com/Product/Detail/590" target="_blank">
  <area shape="rect" coords="674,8,1001,326" href="http://www.zhenhaolin.com/Product/Detail/594" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="19,3,341,331" href="http://zhenhaolin.com/Product/Detail/961" target="_blank">
  <area shape="rect" coords="348,7,668,326" href="http://zhenhaolin.com/Product/Detail/492" target="_blank">
  <area shape="rect" coords="678,6,996,322" href="http://zhenhaolin.com/Product/Detail/9598" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="27,4,348,325" href="http://zhenhaolin.com/Product/Detail/13047" target="_blank">
  <area shape="rect" coords="363,7,672,323" href="http://zhenhaolin.com/Product/Detail/7814" target="_blank">
  <area shape="rect" coords="683,7,1001,317" href="http://zhenhaolin.com/Product/Detail/13040" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="24,5,341,328" href="http://zhenhaolin.com/Product/Detail/13049" target="_blank">
  <area shape="rect" coords="353,5,673,335" href="http://zhenhaolin.com/Product/Detail/13038" target="_blank">
  <area shape="rect" coords="686,9,1002,324" href="http://zhenhaolin.com/Product/Detail/1154123" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="28,14,340,326" href="http://zhenhaolin.com/Product/Detail/6758" target="_blank">
  <area shape="rect" coords="352,14,671,326" href="http://zhenhaolin.com/Product/Detail/9001" target="_blank">
  <area shape="rect" coords="682,11,1004,329" href="http://zhenhaolin.com/Product/Detail/13015" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="25,11,345,332" href="http://zhenhaolin.com/Product/Detail/1154673" target="_blank">
  <area shape="rect" coords="353,16,670,330" href="http://zhenhaolin.com/Product/Detail/1154837" target="_blank">
  <area shape="rect" coords="682,13,1007,330" href="http://zhenhaolin.com/Product/Detail/1154805" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="23,7,339,327" href="http://zhenhaolin.com/Product/Detail/12963" target="_blank">
  <area shape="rect" coords="349,12,672,327" href="http://zhenhaolin.com/Product/Detail/1154501" target="_blank">
  <area shape="rect" coords="682,17,1008,324" href="http://zhenhaolin.com/Product/Detail/1154725" target="_blank">
</map>

<map name="Map13">
  <area shape="rect" coords="22,8,338,327" href="http://zhenhaolin.com/Product/Detail/12790" target="_blank">
  <area shape="rect" coords="346,13,671,331" href="http://zhenhaolin.com/Product/Detail/1154914" target="_blank">
  <area shape="rect" coords="686,11,1004,327" href="http://zhenhaolin.com/Product/Detail/11298" target="_blank">
</map>