@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
@section head{
    <script src="/Areas/Shop/Themes/M1/Content/Scripts/ml-min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>


    <link target="_blank" href="/Areas/Shop/Themes/M1/Content/Css/main-catg.css" rel="stylesheet" />
    <link target="_blank" href="/Areas/Shop/Themes/M1/Content/Css/revision.css" rel="stylesheet" />
    <link target="_blank" href="/Areas/Shop/Themes/M1/Content/template/Specialty/css/Specialty.css" rel="stylesheet" />
    <script src="/Areas/Shop/Themes/M1/Content/Scripts/jquery-1.7.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Areas/Shop/Themes/M1/Content/Scripts/jquery.js?v=1" charset="utf-8"></script>
}

<div class="advertisement" style="cursor:pointer;" onclick="javascript:window.location.href('http://zhenhaolin.com/product/138/260/0/default/')">
	<div class="Classification ">
    	<div class="classify_left">
        	<ul>
            	<li>
                	<dl class="clearfix">
                    	<dt>
                        	<em class="icon_1"></em>
                            <div class="headline">
                                <span><a target="_blank" href="http://zhenhaolin.com/product/178">休闲零食</a></span>
                                <p>
                                    <a target="_blank" href="http://zhenhaolin.com/product/575">糖果</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/574">蜜饯</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/572">炒货干果</a>
                                </p>
                            </div>
                        </dt>
                        @*<dd style="">
                        	<div class="">
                            	<span>
                                	<a target="_blank" href="#">坚果炒货</a>
                                    <a target="_blank" href="#">肉干肉铺</a>
                                    <a target="_blank" href="#">蜜饯果干</a>
                                    <a target="_blank" href="#">糖果巧克力</a>
                                    <a target="_blank" href="#">饼干蛋糕</a>
                                </span>
                                <em><a target="_blank" href="#"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/14_10.jpg" width="370" height="325"/></a></em>
                            </div>
                        </dd>*@
                    </dl>
                </li>
                <li>
                	<dl class="clearfix">
                    	<dt>
                        	<em class="icon_2"></em>
                            <div class="headline">
                                <span><a target="_blank" href="http://zhenhaolin.com/product/181">饮品茶酒</a></span>
                                <p>
                                    <a target="_blank" href="http://zhenhaolin.com/product/180/0/0/default/">饮料</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/181/0/0/default/">茶叶</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/181">红酒白酒</a>
                                </p>
                            </div>
                        </dt>
                        @*<dd style="display:none">
                        	<div class="">
                            	<span>
                                	<a target="_blank" href="#">坚果炒货</a>
                                    <a target="_blank" href="#">肉干肉铺</a>
                                    <a target="_blank" href="#">蜜饯果干</a>
                                    <a target="_blank" href="#">糖果巧克力</a>
                                    <a target="_blank" href="#">饼干蛋糕</a>
                                </span>
                                <em><a target="_blank" href="#"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/14_10.jpg" width="370" height="325"/></a></em>
                            </div>
                        </dd>*@
                    </dl>
                </li>
                <li>
                	<dl class="clearfix">
                    	<dt>
                        	<em class="icon_3"></em>
                            <div class="headline">
                                <span><a target="_blank" href="http://zhenhaolin.com/product/187/0/0/default/">营养保健</a></span>
                                <p>
                                    <a target="_blank" href="http://zhenhaolin.com/product/187/0/0/default/">基础</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/187/0/0/default/">滋补</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/187/0/0/default/">提高免疫</a>
                                </p>
                            </div>
                        </dt>
                        @*<dd style="display:none">
                        	<div class="">
                            	<span>
                                	<a target="_blank" href="#">坚果炒货</a>
                                    <a target="_blank" href="#">肉干肉铺</a>
                                    <a target="_blank" href="#">蜜饯果干</a>
                                    <a target="_blank" href="#">糖果巧克力</a>
                                    <a target="_blank" href="#">饼干蛋糕</a>
                                </span>
                                <em><a target="_blank" href="#"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/14_10.jpg" width="370" height="325"/></a></em>
                            </div>
                        </dd>*@
                    </dl>
                </li>
                <li>
                	<dl class="clearfix">
                    	<dt>
                        	<em class="icon_4"></em>
                            <div class="headline">
                                <span><a target="_blank" href="http://zhenhaolin.com/product/957/0/0/default/">生鲜食品</a></span>
                                <p>
                                    <a target="_blank" href="http://zhenhaolin.com/product/957">水果</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/957">海鲜</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/957">熟食腊味</a>
                                </p>
                            </div>
                        </dt>
                        @*<dd style="display:none">
                        	<div class="">
                            	<span>
                                	<a target="_blank" href="#">坚果炒货</a>
                                    <a target="_blank" href="#">肉干肉铺</a>
                                    <a target="_blank" href="#">蜜饯果干</a>
                                    <a target="_blank" href="#">糖果巧克力</a>
                                    <a target="_blank" href="#">饼干蛋糕</a>
                                </span>
                                <em><a target="_blank" href="#"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/14_10.jpg" width="370" height="325"/></a></em>
                            </div>
                        </dd>*@
                    </dl>
                </li>
                <li>
                	<dl class="clearfix">
                    	<dt>
                        	<em class="icon_5"></em>
                            <div class="headline">
                                <span><a target="_blank" href="http://zhenhaolin.com/product/179/0/0/default/">粮油米面</a></span>
                                <p>
                                    <a target="_blank" href="http://zhenhaolin.com/product/179/0/0/default/">油</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/580">调味品</a>
                                    <a target="_blank" href="http://zhenhaolin.com/product/578">米面杂粮</a>
                                </p>
                            </div>
                        </dt>
                        @*<dd style="display:none">
                        	<div class="">
                            	<span>
                                	<a target="_blank" href="#">坚果炒货</a>
                                    <a target="_blank" href="#">肉干肉铺</a>
                                    <a target="_blank" href="#">蜜饯果干</a>
                                    <a target="_blank" href="#">糖果巧克力</a>
                                    <a target="_blank" href="#">饼干蛋糕</a>
                                </span>
                                <em><a target="_blank" href="#"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/14_10.jpg" width="370" height="325"/></a></em>
                            </div>
                        </dd>*@
                    </dl>
                </li>
            </ul>
        </div>
        <div class="Boutique_yb">
        	<a target="_blank" href="http://zhenhaolin.com/product/138/29877/0/default/"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/D02.jpg" width="275" height="295"/></a>
            <span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/14_05.jpg" width="275" height="101"/></span>
        </div>
    </div>
	
</div>
<!-- advertisement end -->

<!-- Content -->
<div class="Content">
	<!-- Newlisting -->
    <div class="Newlisting">
        <span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h1_03.jpg" /><em>各种美食各种挑</em></span>
        <ul class="clearfix">
            <li>
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154206"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X01.jpg" width="295" height="190"/></a>
            </li>
            <li>
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154204"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X02.jpg" width="295" height="190"/></a>
            </li>
            <li>
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154052"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X03.jpg" width="295" height="190"/></a>
            </li>
            <li style="padding-right:0;">
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154202"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X04.jpg" width="295" height="190"/></a>
            </li>
            <li>
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1155656"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X05.jpg" width="295" height="190"/></a>
            </li>
            <li>
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1155295"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X06.jpg" width="295" height="190"/></a>
            </li>
            <li>
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1155290"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X07.jpg" width="295" height="190"/></a>
            </li>
            <li style="padding-right:0;">
                <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154191"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/X08.jpg" width="295" height="190"/></a>
            </li>
        </ul>
    </div>
    <!-- Newlisting end -->
    
    <!-- Foodmap 美食地理-->
    <div class="Foodmap">
    	<span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h2_11.jpg" /><em>带您吃遍各地美食</em></span>
        <div class="map clearfix">
        	<a target="_blank" href="#"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4_10.jpg" width="443" height="355"/></a>
            <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154029"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/R01.jpg" width="252" height="355"/></a>
            <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154030"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/R02.jpg" width="252" height="355"/></a>
            <a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154044"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/R03.jpg" width="252" height="355"/></a>
        </div>
        @*<ul class="clearfix">
        	<li style="border-left:1px solid #e5e5e5;">
            	<a target="_blank" href="#">
                	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/8_18.jpg" width="198" height="138"/>
                </a>
            </li>
            <li>
            	<a target="_blank" href="#">
                	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/8_18.jpg" width="199" height="138"/>
                </a>
            </li>
            <li>
            	<a target="_blank" href="#">
                	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/8_18.jpg" width="199" height="138"/>
                </a>
            </li>
            <li>
            	<a target="_blank" href="#">
                	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/8_18.jpg" width="199" height="138"/>
                </a>
            </li>
            <li>
            	<a target="_blank" href="#">
                	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/8_18.jpg" width="199" height="138"/>
                </a>
            </li>
            <li>
            	<a target="_blank" href="#">
                	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/8_18.jpg" width="198" height="138"/>
                </a>
            </li>
        </ul>*@
    </div>
    <!-- Foodmap end -->
    
    <!-- Leisuresnacks 休闲零食 -->
    <div class="Leisuresnacks">
    	<span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h3.jpg"/></span>
        <div class="snacks">
        	<div class="snacks_top clearfix">
            	<div class="snacksPoster">
                	<a target="_blank" href="http://zhenhaolin.com/product/178/256/0/default/"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F01.jpg" width="400" height="422"/></a>
                </div>
                <ul class="clearfix">
                	<li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154092">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F02.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9510">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F06.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154201">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F04.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9506">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F08.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154205">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F03.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154203">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F07.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9507">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F05.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9501">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1F09.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="snackslogo">
            	<ul class="clearfix">
                	<li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/256/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/260/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/261/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/334/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP04.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/29877/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP05.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/29933/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP06.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/29956/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP07.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/178/258/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/1FP08.jpg" width="130" height="79"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Leisuresnacks end -->
    
    <!-- Leisuresnacks 饮品茶酒-->
    <div class="Leisuresnacks">
    	<span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h_03.png"/></span>
        <div class="snacks">
        	<div class="snacks_top clearfix">
            	<div class="snacksPoster">
                	<a target="_blank" href="http://zhenhaolin.com/product/181/142/0/default/">
                        <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F01.jpg" width="400" height="422"/>
                	</a>
                </div>
                <ul class="clearfix">
                	<li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9521">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F02.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9598">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F06.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/8481">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F04.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9580">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F08.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9597">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F03.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9412">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F07.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/7423">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F05.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/595">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2F09.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="snackslogo">
            	<ul class="clearfix">
                	<li>
                        <a target="_blank" href="http://zhenhaolin.com/product/180/218/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/180/256/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/181/29931/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/181/93/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP04.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/181/136/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP05.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/181/138/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP06.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/181/142/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP07.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/181/337/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/2FP08.jpg" width="130" height="79"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Leisuresnacks end -->
    
    <!-- Leisuresnacks 营养保健-->
    <div class="Leisuresnacks">
    	<span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h3_06.png"/></span>
        <div class="snacks">
        	<div class="snacks_top clearfix">
            	<div class="snacksPoster">
                	<a target="_blank" href="http://zhenhaolin.com/product/187/0/0/default/">
                        <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F01.jpg" width="400" height="422"/>
                	</a>
                </div>
                <ul class="clearfix">
                	<li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9403">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F02.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9011">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F06.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6811">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F04.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154009">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F08.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9401">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F03.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9871">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F07.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6941">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F05.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9016">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3F09.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="snackslogo">
            	<ul class="clearfix">
                	<li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/197/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/199/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/309/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/310/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP04.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/311/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP05.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/347/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP06.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/29898/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP07.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/187/29949/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/3FP08.jpg" width="130" height="79"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Leisuresnacks end -->
    
    <!-- Leisuresnacks 生鲜食品-->
    <div class="Leisuresnacks">
    	<span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h5_08.png"/></span>
        <div class="snacks">
        	<div class="snacks_top clearfix">
            	<div class="snacksPoster">
                	<a target="_blank" href="http://zhenhaolin.com/product/957/143/0/default/"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F01.jpg" width="400" height="422"/></a>
                </div>
                <ul class="clearfix">
                	<li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6671">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F02.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6843">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F06.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6848">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F04.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/7839">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F08.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6841">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F03.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6675">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F07.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/7837">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F05.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/6845">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4F09.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="snackslogo">
            	<ul class="clearfix">
                	<li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/143/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/191/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/233/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/143/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/191/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/233/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/143/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/957/191/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/4FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Leisuresnacks end -->
    
    <!-- Leisuresnacks 粮油米面-->
    <div class="Leisuresnacks">
    	<span><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/h6_10.png"/></span>
        <div class="snacks">
        	<div class="snacks_top clearfix">
            	<div class="snacksPoster">
                	<a target="_blank" href="http://zhenhaolin.com/product/179/0/0/default/"><img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F01.jpg" width="400" height="422"/></a>
                </div>
                <ul class="clearfix">
                	<li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9400">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F02.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9398">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F06.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154030">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F04.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9389">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F08.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154038">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F03.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/9381">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F07.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                    <li>
                    	<div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154037">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F05.jpg" width="199" height="258"/>
                            </a>
                        </div>
                        <div class="" style="border-bottom:1px solid #e7e7e7">
                        	<a target="_blank" href="http://zhenhaolin.com/Product/Detail/1154047">
                            	<img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5F09.jpg" width="199" height="162"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="snackslogo">
            	<ul class="clearfix">
                	<li>
                        <a target="_blank" href="http://zhenhaolin.com/product/179/91/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/179/334/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/search/0/0/default/0-0/天下">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/177/29855/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP04.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/179/91/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP01.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/179/334/0/default/">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP02.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/search/0/0/default/0-0/天下">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP03.jpg" width="130" height="79"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://zhenhaolin.com/product/177/29855/0/default/0-0">  
                            <img src="/Areas/Shop/Themes/M1/Content/template/Specialty/images/5FP04.jpg" width="130" height="79"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Leisuresnacks end -->
    
    
</div>
