@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{

    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>
    
}
<style>
.jjjoo{
	position:relative;
	}
.jjjoo1{
	width:189px;
	height:490px;
	position:fixed;
	top:20%; right:10%;
	
	}
</style>
<table id="__01" width="1920" height="775" border="0" cellpadding="0" cellspacing="0">
      	<tr>
		<td class="fgfg">
			<a name="top"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/20141109_01.jpg" width="1920" height="188" alt=""></td>
	</tr>
    	<tr>
		<td class="bnbn">
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/20141109_02.jpg" width="1920" height="283" alt=""></td>
	</tr>
    <tr>
        <td class="nmnm">
          <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/20141109_03.jpg" alt="" width="1920" height="304" usemap="#Map22" border="0"></td>
	</tr>
</table>

<table id="__02" width="1920" height="1200" border="0" cellpadding="0" cellspacing="0"  style="background-color:#c10a40;text-align:center;">
	<tr>
		<td>
			<a name="gehu"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_01.jpg" alt="" width="990" height="180">  </td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_02.jpg" alt="" width="990" height="343" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_03.jpg" alt="" width="990" height="340" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_04.jpg" alt="" width="990" height="337" usemap="#Map3" border="0"></td>
	</tr>
</table>
    
<table id="__03" width="1920" height="1563" border="0" cellpadding="0" cellspacing="0" style="background-color:#951fc4;text-align:center;">
	<tr>
		<td>
			<a name="fushi"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_05.jpg" width="990" height="186" alt=""></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_06.jpg" alt="" width="990" height="336" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_07.jpg" alt="" width="990" height="338" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_08.jpg" alt="" width="990" height="335" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_09.jpg" alt="" width="990" height="368" usemap="#Map7" border="0"></td>
	</tr>
</table>
    
<table id="__04" width="1920" height="1496" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffa509;text-align:center;">
    
    
	<tr>
		<td> <a name="xiexue"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_10.jpg" width="990" height="125" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_11.jpg" alt="" width="990" height="336" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_12.jpg" alt="" width="990" height="336" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_13.jpg" alt="" width="990" height="339" usemap="#Map10" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_14.jpg" alt="" width="990" height="360" usemap="#Map11" border="0"></td>
	</tr>
</table>
<table id="__05" width="1920" height="1235" border="0" cellpadding="0" cellspacing="0" style="background-color:#1f4bc4;text-align:center;">
	<tr>
		<td>
			<a name="xiangbao"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_15.jpg" width="990" height="186" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_16.jpg" alt="" width="990" height="336" usemap="#Map12" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_17.jpg" alt="" width="990" height="334" usemap="#Map13" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_18.jpg" alt="" width="990" height="379" usemap="#Map14" border="0"></td>
	</tr>
</table>
<table id="__06" width="1920" height="1498" border="0" cellpadding="0" cellspacing="0" style="background-color:#4fb249;text-align:center;">
	<tr>
		<td>
			<a name="jiafang"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_19.jpg" width="990" height="128" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_20.jpg" alt="" width="990" height="332" usemap="#Map15" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_21.jpg" alt="" width="990" height="342" usemap="#Map16" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_22.jpg" alt="" width="990" height="336" usemap="#Map17" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_23.jpg" alt="" width="990" height="360" usemap="#Map18" border="0"></td>
	</tr>
</table>
<table id="__07" width="1920" height="1234" border="0" cellpadding="0" cellspacing="0" style="background-color:#06e4ff;text-align:center;">
       
	<tr>
		<td>
			<a name="chuwei"></a><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_24.jpg" width="990" height="186" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_25.jpg" alt="" width="990" height="333" usemap="#Map19" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_26.jpg" alt="" width="990" height="338" usemap="#Map20" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/2014110901_27.jpg" alt="" width="990" height="377" usemap="#Map21" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="11,7,247,336" href="http://www.zhenhaolin.com/Product/ProSaleDetail/355" target="_blank">
  <area shape="rect" coords="258,5,487,335" href="http://www.zhenhaolin.com/Product/ProSaleDetail/365" target="_blank">
  <area shape="rect" coords="501,4,736,336" href="http://www.zhenhaolin.com/Product/ProSaleDetail/358" target="_blank">
  <area shape="rect" coords="742,7,983,336" href="http://www.zhenhaolin.com/Product/ProSaleDetail/367" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="9,1,243,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/370" target="_blank">
  <area shape="rect" coords="251,6,491,331" href="http://www.zhenhaolin.com/Product/ProSaleDetail/371" target="_blank">
  <area shape="rect" coords="497,10,732,333" href="http://www.zhenhaolin.com/Product/ProSaleDetail/374" target="_blank">
  <area shape="rect" coords="749,7,982,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/377" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="16,4,238,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/384" target="_blank">
  <area shape="rect" coords="257,6,491,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/382" target="_blank">
  <area shape="rect" coords="503,6,726,324" href="http://www.zhenhaolin.com/Product/ProSaleDetail/381" target="_blank">
  <area shape="rect" coords="746,5,976,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/389" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="11,7,248,333" href="http://www.zhenhaolin.com/Product/ProSaleDetail/301" target="_blank">
  <area shape="rect" coords="254,8,479,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/303" target="_blank">
  <area shape="rect" coords="503,7,730,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/308" target="_blank">
  <area shape="rect" coords="744,10,973,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/312" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="13,8,238,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/268" target="_blank">
  <area shape="rect" coords="259,11,487,331" href="http://www.zhenhaolin.com/Product/ProSaleDetail/321" target="_blank">
  <area shape="rect" coords="503,9,731,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/323" target="_blank">
  <area shape="rect" coords="749,5,972,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/327" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="10,7,242,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/361" target="_blank">
  <area shape="rect" coords="258,5,482,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/345" target="_blank">
  <area shape="rect" coords="499,11,724,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/354" target="_blank">
  <area shape="rect" coords="745,5,979,324" href="http://www.zhenhaolin.com/Product/ProSaleDetail/350" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="10,8,246,336" href="http://www.zhenhaolin.com/Product/ProSaleDetail/356" target="_blank">
  <area shape="rect" coords="257,8,485,332" href="http://www.zhenhaolin.com/Product/ProSaleDetail/347" target="_blank">
  <area shape="rect" coords="498,5,728,330" href="http://www.zhenhaolin.com/Product/ProSaleDetail/353" target="_blank">
  <area shape="rect" coords="745,7,978,339" href="http://www.zhenhaolin.com/Product/ProSaleDetail/344" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="17,17,236,323" href="http://www.zhenhaolin.com/Product/ProSaleDetail/363" target="_blank">
  <area shape="rect" coords="251,8,482,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/364" target="_blank">
  <area shape="rect" coords="499,11,728,332" href="http://www.zhenhaolin.com/Product/ProSaleDetail/369" target="_blank">
  <area shape="rect" coords="740,5,978,330" href="http://www.zhenhaolin.com/Product/ProSaleDetail/372" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="10,9,244,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/375" target="_blank">
  <area shape="rect" coords="258,13,485,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/378" target="_blank">
  <area shape="rect" coords="498,8,729,331" href="http://www.zhenhaolin.com/Product/ProSaleDetail/380" target="_blank">
  <area shape="rect" coords="741,4,980,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/383" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="11,18,239,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/385" target="_blank">
  <area shape="rect" coords="259,16,482,332" href="http://www.zhenhaolin.com/Product/ProSaleDetail/387" target="_blank">
  <area shape="rect" coords="507,11,739,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/392" target="_blank">
  <area shape="rect" coords="749,12,987,333" href="http://www.zhenhaolin.com/Product/ProSaleDetail/394" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="6,9,252,347" href="http://www.zhenhaolin.com/Product/ProSaleDetail/397" target="_blank">
  <area shape="rect" coords="260,6,492,340" href="http://www.zhenhaolin.com/Product/ProSaleDetail/399" target="_blank">
  <area shape="rect" coords="501,6,737,346" href="http://www.zhenhaolin.com/Product/ProSaleDetail/403" target="_blank">
  <area shape="rect" coords="751,6,977,343" href="http://www.zhenhaolin.com/Product/ProSaleDetail/405" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="18,8,233,324" href="http://www.zhenhaolin.com/Product/ProSaleDetail/409" target="_blank">
  <area shape="rect" coords="261,15,493,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/414" target="_blank">
  <area shape="rect" coords="500,18,715,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/412" target="_blank">
  <area shape="rect" coords="744,11,974,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/413" target="_blank">
</map>

<map name="Map13">
  <area shape="rect" coords="5,4,244,330" href="http://www.zhenhaolin.com/Product/ProSaleDetail/415" target="_blank">
  <area shape="rect" coords="259,14,479,331" href="http://www.zhenhaolin.com/Product/ProSaleDetail/416" target="_blank">
  <area shape="rect" coords="497,7,732,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/417" target="_blank">
  <area shape="rect" coords="742,12,977,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/418" target="_blank">
</map>

<map name="Map14">
  <area shape="rect" coords="14,12,241,339" href="http://www.zhenhaolin.com/Product/ProSaleDetail/400" target="_blank">
  <area shape="rect" coords="256,17,489,338" href="http://www.zhenhaolin.com/Product/ProSaleDetail/402" target="_blank">
  <area shape="rect" coords="496,11,726,339" href="http://www.zhenhaolin.com/Product/ProSaleDetail/391" target="_blank">
  <area shape="rect" coords="737,9,970,337" href="http://www.zhenhaolin.com/Product/ProSaleDetail/390" target="_blank">
</map>

<map name="Map15">
  <area shape="rect" coords="17,11,242,321" href="http://www.zhenhaolin.com/Product/ProSaleDetail/325" target="_blank">
  <area shape="rect" coords="248,16,492,324" href="http://www.zhenhaolin.com/Product/ProSaleDetail/326" target="_blank">
  <area shape="rect" coords="504,15,735,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/324" target="_blank">
  <area shape="rect" coords="753,18,978,324" href="http://www.zhenhaolin.com/Product/ProSaleDetail/322" target="_blank">
</map>

<map name="Map16">
  <area shape="rect" coords="11,15,234,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/320" target="_blank">
  <area shape="rect" coords="258,14,485,333" href="http://www.zhenhaolin.com/Product/ProSaleDetail/319" target="_blank">
  <area shape="rect" coords="503,13,727,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/318" target="_blank">
  <area shape="rect" coords="747,13,977,332" href="http://www.zhenhaolin.com/Product/ProSaleDetail/317" target="_blank">
</map>

<map name="Map17">
  <area shape="rect" coords="7,12,238,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/311" target="_blank">
  <area shape="rect" coords="255,17,488,326" href="http://www.zhenhaolin.com/Product/ProSaleDetail/310" target="_blank">
  <area shape="rect" coords="501,6,726,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/309" target="_blank">
  <area shape="rect" coords="746,12,973,329" href="http://www.zhenhaolin.com/Product/ProSaleDetail/307" target="_blank">
</map>

<map name="Map18">
  <area shape="rect" coords="3,5,237,337" href="http://www.zhenhaolin.com/Product/ProSaleDetail/306" target="_blank">
  <area shape="rect" coords="258,16,484,337" href="http://www.zhenhaolin.com/Product/ProSaleDetail/304" target="_blank">
  <area shape="rect" coords="503,13,728,342" href="http://www.zhenhaolin.com/Product/ProSaleDetail/302" target="_blank">
  <area shape="rect" coords="749,13,978,335" href="http://www.zhenhaolin.com/Product/ProSaleDetail/314" target="_blank">
</map>

<map name="Map19">
  <area shape="rect" coords="9,10,242,319" href="http://www.zhenhaolin.com/Product/ProSaleDetail/329" target="_blank">
  <area shape="rect" coords="259,17,486,322" href="http://www.zhenhaolin.com/Product/ProSaleDetail/331" target="_blank">
  <area shape="rect" coords="503,15,730,325" href="http://www.zhenhaolin.com/Product/ProSaleDetail/333" target="_blank">
  <area shape="rect" coords="748,15,980,323" href="http://www.zhenhaolin.com/Product/ProSaleDetail/335" target="_blank">
</map>

<map name="Map20">
  <area shape="rect" coords="10,13,241,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/338" target="_blank">
  <area shape="rect" coords="261,17,485,327" href="http://www.zhenhaolin.com/Product/ProSaleDetail/339" target="_blank">
  <area shape="rect" coords="504,8,731,328" href="http://www.zhenhaolin.com/Product/ProSaleDetail/341" target="_blank">
  <area shape="rect" coords="750,17,982,332" href="http://www.zhenhaolin.com/Product/ProSaleDetail/342" target="_blank">
</map>

<map name="Map21">
  <area shape="rect" coords="10,8,246,344" href="http://www.zhenhaolin.com/Product/ProSaleDetail/346" target="_blank">
  <area shape="rect" coords="259,15,491,338" href="http://www.zhenhaolin.com/Product/ProSaleDetail/349" target="_blank">
  <area shape="rect" coords="499,14,731,345" href="http://www.zhenhaolin.com/Product/ProSaleDetail/351" target="_blank">
  <area shape="rect" coords="740,16,977,334" href="http://www.zhenhaolin.com/Product/ProSaleDetail/343" target="_blank">
</map>

<map name="Map22">
  <area shape="rect" coords="647,143,752,239" href="#gehu">
  <area shape="rect" coords="771,141,886,238" href="#fushi">
  <area shape="rect" coords="907,136,1033,240" href="#xiexue">
  <area shape="rect" coords="1044,133,1156,240" href="#xiangbao">
  <area shape="rect" coords="1165,133,1297,245" href="#jiafang">
  <area shape="rect" coords="1304,135,1425,254" href="#chuwei">
</map>
<table class="jjjoo">
	<tr class="jjjoo1">
	  <td><img src="/Areas/Shop/Themes/M1/Content/ld/Two11/images/11.png" width="189" height="490" usemap="#Map23" border="0"/></td></tr>
</table>

<map name="Map23">
  <area shape="rect" coords="53,169,207,205" href="#gehu">
  <area shape="rect" coords="50,226,206,273" href="#fushi">
  <area shape="rect" coords="45,295,207,336" href="#xiexue">
  <area shape="rect" coords="47,356,195,404" href="#xiangbao">
  <area shape="rect" coords="46,420,206,467" href="#jiafang">
  <area shape="rect" coords="45,483,203,532" href="#chuwei">
  <area shape="rect" coords="55,547,177,585" href="#top">
</map>

<script>
    lazyload();
</script>

