@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

@section head{
    <link href="/Areas/Shop/Themes/M1/Content/ld/weixin/css/Awards.css" rel="stylesheet" type="text/css" />
}
<style>
.campaign_posters{
	height:485px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/weixin/ico/1p.jpg) center top no-repeat;
	}
.campaign_body{
	background:#901e35;
	}
.campaign_regular{
	width:990px;
	margin:0 auto;
	}
.campaign_regular span{
	text-align:center;
	display:block;
	padding:38px 0 27px 0;
	border-bottom:2px dashed #c96378;
	}
.campaign_regular em{
	width:990px;
	margin:0 auto;
	display:block;
	padding:40px 0 45px 0;
	}
.regular_a2 p{
	color:#ffcfcf;
	font-family:"微软雅黑";
	font-size:18px;
	padding:0 60px;
	}
.campaign_prize{
	width:990px;
	margin:0 auto;
	}
.campaign_prize span{
	display:block;
	text-align:center;
	padding:30px 0 20px 0;
	border-bottom:2px dashed #c96378;
	margin-bottom:20px;
	}
.campaign_prize em{
	display:block;
	
	}
.campaign_prize em img{
	vertical-align:top;
	}
.campaign_seniority{
	width:990px;
	margin:0 auto;
	}
	
.seniority_a1 span{
	display:block;
	text-align:center;
	padding:20px 0;
	border-bottom:2px dashed #c96378;
	margin-bottom:20px;
}
.weekly_rankings{
	background:#fff;
	}
.weekly_rankings b{
	height:60px;
	line-height:60px;
	display:block;
	text-align:center;
	background:#ca1f22;
	font-family:"微软雅黑";
	font-size:28px;
	color:#fff;
	}
.rankings_left,.rankings2_left{
	width:495px;
	float:left;
	}
.rankings_left td,.rankings_right td,.rankings2_left td,.rankings2_right td{
	height:45px;
	line-height:45px;
	font-family:"微软雅黑";
	}
.rankings_left li{
	float:left;
	}
.rankings_left li,.rankings_right li{
	height:38px;
	line-height:38px;
	background:#f79b8a;
	}
.rankings_right,.rankings2_right{
	float:right;
	}
.rankings_right li{
	float:left;
	}
.rankings2_left span,.rankings2_right span{
	width:494px;
	height:45px;
	line-height:45px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:24px;
	display:block;
	background:#f67c06;
	color:#fff;
	}
.QR_code_w{
	}
.QR_code{
	width:242px;
	height:332px;
	position:absolute;
	top:725px;
	right:10px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/weixin/ico/15p_03.png) no-repeat;
	}
.QR_code img{
	padding:135px 0 0 59px;
	display:block;
	}
.regular_a2 i{
	font-style:normal;
	color:#fbf118;
	}
.regular_a2 a{
	color:#ffcfcf;
	}
.weekly_rankings em{
	font-size:14px;
	}
.campaign_seniority{
	padding-bottom:50px;
	}


	
</style>
<body>
<div class="campaign_posters"></div>
<div class="campaign_body">
	<div class="campaign_regular">
        <div class="regular_a1">
            <span><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/2p_05.jpg" width="287" height="109"/></span>
            <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/2p_09.jpg" width="990" height="185"/></em>
        </div>
        <div class="regular_a2">
        	<p>1.即日起加入关注健康微信商城，并申请成为好代服务店或分销店，成为好代服务店或健康分销店后分享到朋友圈就有机会赢得丰厚的奖品；</p>
   			<p>2.登入好代账号推广您身边的朋友成为好粉,好粉奖品分为周排行和月排行。（周排行每周一名，月排行前10名，相关奖品请查看活动奖品区）；</p>
            <p>3.登入好代账号分享微商城商品,当您和您的粉丝产生订单金额月排行冠军奖励<i> iPhone 6 一部</i>，周排行
   第一获酷派S6;（其他奖品请查看业绩排行奖品）</p>
            <p>4.奖品发放：自然周和自然月;</p>
            <p>5.粉丝量查询和业绩查询,请登录健康分销网站<a href="#">http://yfx.zhenhaolin.com/Account/Login</a>。</p>
            <p>6.本次或动最终解释权归上海健康电子商务有限公司所有。</p>
        </div>
    </div>
    <div class="campaign_prize">
    	<span><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/4p_13.jpg" width="271" height="103"/></span>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/5p_03.jpg" width="990" height="113"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/6p_05.jpg" width="990" height="295"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/7p_07.jpg" width="990" height="290"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/8p_08.jpg" width="990" height="287"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/9p_11.jpg" width="990" height="138"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/10p_15.jpg" width="990" height="289"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/11p_17.jpg" width="990" height="290"/></em>
        <em><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/12p_18.jpg" width="990" height="297"/></em>
    </div>
    </div>

</div>
    <div class="QR_code_w">
		<div class="QR_code"><img src="/Areas/Shop/Themes/M1/Content/ld/weixin/ico/13p_03.jpg" width="143" height="143"/></div>
    </div>
</body>

