@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<!-- Save for Web Slices (箱伴回家_03.jpg) -->

<STYLE>
.image{
	height:267px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_28.jpg) center top no-repeat;
}
.image1{
	height:345px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_29.jpg) center top no-repeat;

}

</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>


<table id="__02" width="100%" height="1309" border="0" cellpadding="0" cellspacing="0" style="background-color:#ff5c5d;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_01.jpg" width="1054" height="186" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_02.jpg" alt="" width="1054" height="471" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_03.jpg" alt="" width="1054" height="321" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_04.jpg" alt="" width="1054" height="331" usemap="#Map3" border="0"></td>
	</tr>
    </table>
    
    <table id="__03" width="100%" height="1289" border="0" cellpadding="0" cellspacing="0" style="background-color:#5bcfc4;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_05.jpg" width="1054" height="160" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_06.jpg" alt="" width="1054" height="485" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_07.jpg" alt="" width="1054" height="320" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_08.jpg" alt="" width="1054" height="324" usemap="#Map6" border="0"></td>
	</tr>
    </table>
<table id="__04" width="100%" height="1745" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffbe40;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_09.jpg" width="1054" height="148" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_10.jpg" alt="" width="1054" height="473" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_11.jpg" alt="" width="1054" height="474" usemap="#Map8" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_12.jpg" alt="" width="1054" height="323" usemap="#Map9" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_13.jpg" alt="" width="1054" height="327" usemap="#Map10" border="0"></td>
	</tr>
</table>
<table id="__05" width="100%" height="1748" border="0" cellpadding="0" cellspacing="0" style="background-color:#8c56ae;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_14.jpg" width="1054" height="146" alt=""></td>
	</tr>
  <tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_15.jpg" alt="" width="1054" height="471" usemap="#Map11" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_16.jpg" alt="" width="1054" height="478" usemap="#Map12" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_17.jpg" alt="" width="1054" height="327" usemap="#Map13" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_18.jpg" alt="" width="1054" height="326" usemap="#Map14" border="0"></td>
	</tr>
</table>
<table id="__06" width="100%" height="1236" border="0" cellpadding="0" cellspacing="0" style="background-color:#ff4268;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_19.jpg" width="1054" height="113" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_20.jpg" alt="" width="1054" height="463" usemap="#Map15" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_21.jpg" alt="" width="1054" height="340" usemap="#Map16" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_22.jpg" alt="" width="1054" height="320" usemap="#Map17" border="0"></td>
	</tr>
     </table>
<table id="__07" width="100%" height="1477" border="0" cellpadding="0" cellspacing="0" style="background-color:#e9c396;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_23.jpg" width="1054" height="141" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_24.jpg" alt="" width="1054" height="469" usemap="#Map18" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_25.jpg" alt="" width="1054" height="329" usemap="#Map19" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_26.jpg" alt="" width="1054" height="333" usemap="#Map20" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/xb/images/20150209_27.jpg" width="1054" height="205" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="9,7,519,460" href="http://zhenhaolin.com/Product/Detail/6060   " target="_blank">
  <area shape="rect" coords="535,5,1050,460" href="http://zhenhaolin.com/Product/Detail/10323" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="7,13,339,315" href="http://zhenhaolin.com/Product/Detail/8910" target="_blank">
  <area shape="rect" coords="356,12,701,314" href="http://zhenhaolin.com/Product/Detail/12813" target="_blank">
  <area shape="rect" coords="709,14,1044,316" href="http://zhenhaolin.com/Product/Detail/6070" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="10,20,338,320" href="http://zhenhaolin.com/Product/Detail/1155131" target="_blank">
  <area shape="rect" coords="356,13,698,320" href="http://zhenhaolin.com/Product/Detail/9649" target="_blank">
  <area shape="rect" coords="712,18,1048,322" href="http://zhenhaolin.com/Product/Detail/9250" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="7,11,520,462" href="http://zhenhaolin.com/Product/Detail/6048" target="_blank">
  <area shape="rect" coords="533,10,1048,470" href="http://zhenhaolin.com/Product/Detail/6040" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="8,8,340,305" href="http://zhenhaolin.com/Product/Detail/12844" target="_blank">
  <area shape="rect" coords="355,8,698,304" href="http://zhenhaolin.com/Product/Detail/12865" target="_blank">
  <area shape="rect" coords="709,8,1044,310" href="http://zhenhaolin.com/Product/Detail/6454" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="5,16,340,307" href="http://zhenhaolin.com/Product/Detail/5979" target="_blank">
  <area shape="rect" coords="360,14,698,313" href="http://zhenhaolin.com/Product/Detail/12954" target="_blank">
  <area shape="rect" coords="713,12,1046,310" href="http://zhenhaolin.com/Product/Detail/9879" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="9,8,525,461" href="http://zhenhaolin.com/Product/Detail/10077" target="_blank">
  <area shape="rect" coords="537,5,1045,461" href="http://zhenhaolin.com/Product/Detail/6026" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="8,11,517,466" href="http://zhenhaolin.com/Product/Detail/12780" target="_blank">
  <area shape="rect" coords="538,10,1046,468" href="http://zhenhaolin.com/Product/Detail/10099" target="_blank">
</map>

<map name="Map9">
  <area shape="rect" coords="2,13,339,314" href="http://zhenhaolin.com/Product/Detail/12704" target="_blank">
  <area shape="rect" coords="356,15,698,319" href="http://zhenhaolin.com/Product/Detail/10342" target="_blank">
  <area shape="rect" coords="710,12,1050,314" href="http://zhenhaolin.com/Product/Detail/12783" target="_blank">
</map>

<map name="Map10">
  <area shape="rect" coords="2,15,342,317" href="http://zhenhaolin.com/Product/Detail/12697" target="_blank">
  <area shape="rect" coords="362,18,702,315" href="http://zhenhaolin.com/Product/Detail/12945" target="_blank">
  <area shape="rect" coords="712,17,1049,319" href="http://zhenhaolin.com/Product/Detail/10084" target="_blank">
</map>

<map name="Map11">
  <area shape="rect" coords="7,7,522,456" href="http://zhenhaolin.com/Product/Detail/6025" target="_blank">
  <area shape="rect" coords="530,10,1045,460" href="http://zhenhaolin.com/Product/Detail/5962" target="_blank">
</map>

<map name="Map12">
  <area shape="rect" coords="6,15,517,467" href="http://zhenhaolin.com/Product/Detail/6006" target="_blank">
  <area shape="rect" coords="534,12,1048,470" href="http://zhenhaolin.com/Product/Detail/5967" target="_blank">
</map>

<map name="Map13">
  <area shape="rect" coords="4,8,340,309" href="http://zhenhaolin.com/Product/Detail/6704" target="_blank">
  <area shape="rect" coords="355,10,697,316" href="http://zhenhaolin.com/Product/Detail/10313" target="_blank">
  <area shape="rect" coords="710,6,1049,312" href="http://zhenhaolin.com/Product/Detail/6711" target="_blank">
</map>

<map name="Map14">
  <area shape="rect" coords="6,13,339,313" href="http://zhenhaolin.com/Product/Detail/10087" target="_blank">
  <area shape="rect" coords="357,10,701,304" href="http://zhenhaolin.com/Product/Detail/10318" target="_blank">
  <area shape="rect" coords="711,8,1048,315" href="http://zhenhaolin.com/Product/Detail/9249" target="_blank">
</map>

<map name="Map15">
  <area shape="rect" coords="8,6,528,459" href="http://zhenhaolin.com/Product/Detail/9840" target="_blank">
  <area shape="rect" coords="534,7,1047,458" href="http://zhenhaolin.com/Product/Detail/9862" target="_blank">
</map>

<map name="Map16">
  <area shape="rect" coords="3,23,339,322" href="http://zhenhaolin.com/Product/Detail/9866" target="_blank">
  <area shape="rect" coords="363,22,706,321" href="http://zhenhaolin.com/Product/Detail/9835" target="_blank">
  <area shape="rect" coords="715,18,1049,321" href="http://zhenhaolin.com/Product/Detail/1156491" target="_blank">
</map>

<map name="Map17">
  <area shape="rect" coords="5,7,342,305" href="http://zhenhaolin.com/Product/Detail/1154090" target="_blank">
  <area shape="rect" coords="357,5,698,310" href="http://zhenhaolin.com/Product/Detail/1154093" target="_blank">
  <area shape="rect" coords="713,11,1045,309" href="http://zhenhaolin.com/Product/Detail/9857" target="_blank">
</map>

<map name="Map18">
  <area shape="rect" coords="9,9,520,461" href="http://zhenhaolin.com/Product/Detail/12913" target="_blank">
  <area shape="rect" coords="529,6,1051,460" href="http://zhenhaolin.com/Product/Detail/1154974" target="_blank">
</map>

<map name="Map19">
  <area shape="rect" coords="6,19,340,316" href="http://zhenhaolin.com/Product/Detail/12959" target="_blank">
  <area shape="rect" coords="357,17,695,317" href="http://zhenhaolin.com/Product/Detail/12789" target="_blank">
  <area shape="rect" coords="711,17,1050,313" href="http://zhenhaolin.com/Product/Detail/12826" target="_blank">
</map>

<map name="Map20">
  <area shape="rect" coords="6,13,341,313" href="http://zhenhaolin.com/Product/Detail/1155135" target="_blank">
  <area shape="rect" coords="360,10,702,315" href="http://zhenhaolin.com/Product/Detail/1155129" target="_blank">
  <area shape="rect" coords="708,9,1049,314" href="http://zhenhaolin.com/Product/Detail/9878" target="_blank">
</map>