@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<STYLE>
.image{
	height:332px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_11.jpg) center top no-repeat;
}
.image1{
	height:330px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_12.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>

<table id="__02" width="100%" height="1532" border="0" cellpadding="0" cellspacing="0" style="background-color:#fffeae;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_01.jpg" width="1008" height="221" alt=""></td>
	</tr>
	<tr>
		<td>
		  <img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_02.jpg" alt="" width="1008" height="422" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_03.jpg" alt="" width="1008" height="415" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_04.jpg" alt="" width="1008" height="474" usemap="#Map3" border="0"></td>
	</tr>
    </table>
    
<table id="__03" width="100%" height="2107" border="0" cellpadding="0" cellspacing="0" style="background-color:#c549ff;text-align:center;">
    
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_05.jpg" alt="" width="1008" height="386" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_06.jpg" alt="" width="1008" height="411" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_07.jpg" alt="" width="1008" height="416" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_08.jpg" alt="" width="1008" height="418" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_09.jpg" alt="" width="1008" height="476" usemap="#Map7" border="0"></td>
	</tr>
    </table>
    
<table id="__04" width="100%" height="115" border="0" cellpadding="0" cellspacing="0" style="background-color:#fb7991;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/yingyou/images/20150106_10.jpg" width="1008" height="115" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="9,12,330,417" href="http://www.zhenhaolin.com/Product/Detail/1155585" target="_blank">
  <area shape="rect" coords="340,9,666,412" href="http://www.zhenhaolin.com/Product/Detail/1155586" target="_blank">
  <area shape="rect" coords="673,9,999,414" href="http://www.zhenhaolin.com/Product/Detail/1154652" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="8,6,329,406" href="http://www.zhenhaolin.com/Product/Detail/1155642" target="_blank">
  <area shape="rect" coords="340,3,665,408" href="http://www.zhenhaolin.com/Product/Detail/1155605" target="_blank">
  <area shape="rect" coords="673,4,998,405" href="http://www.zhenhaolin.com/Product/Detail/1155610" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="2,4,331,414" href="http://www.zhenhaolin.com/Product/Detail/1155639" target="_blank">
  <area shape="rect" coords="340,6,665,410" href="http://www.zhenhaolin.com/Product/Detail/1155562" target="_blank">
  <area shape="rect" coords="672,6,1000,408" href="http://www.zhenhaolin.com/Product/Detail/1155556" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="11,6,329,402" href="http://www.zhenhaolin.com/Product/Detail/1155507" target="_blank">
  <area shape="rect" coords="340,3,663,406" href="http://www.zhenhaolin.com/Product/Detail/1155516" target="_blank">
  <area shape="rect" coords="676,4,998,407" href="http://www.zhenhaolin.com/Product/Detail/1155513" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="6,8,329,406" href="http://www.zhenhaolin.com/Product/Detail/1155477" target="_blank">
  <area shape="rect" coords="336,6,662,407" href="http://www.zhenhaolin.com/Product/Detail/1155517" target="_blank">
  <area shape="rect" coords="677,4,996,408" href="http://www.zhenhaolin.com/Product/Detail/1155515" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="3,4,327,407" href="http://www.zhenhaolin.com/Product/Detail/1155489" target="_blank">
  <area shape="rect" coords="334,8,664,405" href="http://www.zhenhaolin.com/Product/Detail/1155518" target="_blank">
  <area shape="rect" coords="673,7,998,407" href="http://www.zhenhaolin.com/Product/Detail/1155473" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="5,3,327,409" href="http://www.zhenhaolin.com/Product/Detail/1155479" target="_blank">
  <area shape="rect" coords="342,8,666,402" href="http://www.zhenhaolin.com/Product/Detail/1155584" target="_blank">
  <area shape="rect" coords="677,8,1001,418" href="http://www.zhenhaolin.com/Product/Detail/1155470" target="_blank">
</map>