@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<style>
/* CSS Document */

*{ padding:0; margin:0; }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 1em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*! update normalize.css by joenix */
.clearfix{
	*zoom:1;
}
.clearfix:before,
.clearfix:after{
	display:table;
	content:'';
	line-height:0;
}
.clearfix:after{
	clear:both;
}

section, .section{
	margin:0 auto;
}

form{
	border:none;
}
input, button{
	vertical-align:top;
}

li{
	list-style:none;
}

html{
	overflow-x:hidden;
	overflow-y:auto;
}

a         {text-decoration:none;outline:none;color:#333;background-color:transparent;} /* 未添加的链接 */
a:link    {} /* 未访问的链接 */
a:visited {} /* 已访问的链接 */
a:hover   {color:#E62222} /* 鼠标悬停链接 */
a:focus   {color:#E62222; outline:none;} /* 焦点选择链接 */
a:active  {color:#E62222} /* 被选择的链接 */
a{
    display:inline-block;
    *display:inline;zoom:1;
	}
.f1_01{
	width:1280px;
	margin:0 auto;
	}
.f1_01 li{
	width:382px; 
	height:585px;
	float:left;
	padding-right:6px;
	}
</style>


<div class="" style=" background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_01_01.jpg) center no-repeat; height:797px;"></div>
<div class="" style="background:#f9be00; padding-bottom:30px;">
	<div class="" style=" width:1197px; margin:0 auto;background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_02_04.jpg) center no-repeat; height:60px;"></div>
    <div class="" style=" width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/1111.png) no-repeat; height:3007px;">
    	<ul class="f1_01 clearfix">
        	<li style="padding:21px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://www.zhenhaolin.com:8090/Product/Detail/1155868"></a>
            </li>
            <li style="padding:21px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://www.zhenhaolin.com:8090/Product/Detail/9974"></a>
            </li>
            <li style="padding:21px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154539"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12340"></a>
            </li>
            <li style="padding:12px 0 0 15px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/13778"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154386"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154481"></a>
            </li>
            <li style="padding:12px 0 0 15px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154381"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12369"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/13795"></a>
            </li>
            <li style="padding:12px 0 0 15px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12478"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12499"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12569"></a>
            </li>
            <li style="padding:12px 0 0 15px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154383"></a>
            </li>
            <li style="padding:12px 0 0 12px;"">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12505"></a>
            </li>
        </ul>
    </div>
    <div class="" style=" width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_04_08.jpg) no-repeat; height:90px;"></div>
    <div class="" style=" width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/1112.png) no-repeat; height:1205px;">
    	<ul class="f1_01 clearfix">
        	<li style="padding:10px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://www.zhenhaolin.com:8090/Product/Detail/1155863"></a>
            </li>
            <li style="padding:10px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154620"></a>
            </li>
            <li style="padding:10px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://www.zhenhaolin.com:8090/Product/Detail/1155865"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154616"></a>
            </li>
            <li style="padding:12px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1157046"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/11298"></a>
            </li>
        </ul>
    </div>
    <div class="" style=" width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_06_10.jpg) no-repeat; height:90px;"></div>
    <div class="" style="width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/1114.png) no-repeat; height:1205px;">
    	<ul class="f1_01 clearfix">
        	<li style="padding:9px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154271"></a>
            </li>
            <li style="padding:9px	0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154273"></a>
            </li>
            <li style="padding:9px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/13785"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/13080"></a>
            </li>
            <li style="padding:12px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1156476"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12111"></a>
            </li>
        </ul>
    </div>
    <div class="" style=" width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_09_12.jpg) no-repeat; height:90px;"></div>
    <div class="" style="width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/1113.png) no-repeat; height:1206px;">
    	<ul class="f1_01 clearfix">
        	<li style="padding:10px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1155338"></a>
            </li>
            <li style="padding:10px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1155335"></a>
            </li>
            <li style="padding:10px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1155326"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1156064"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154820"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/1154813"></a>
            </li>
        </ul>
    </div>
    <div class="" style=" width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_13_16.jpg) no-repeat; height:90px;"></div>
    <div class="" style="width:1197px;margin:0 auto; background:url(/Areas/Shop/Themes/M1/Content/ld/yz/images/02_13_17.jpg) no-repeat; height:2399px;">
    	<ul class="f1_01 clearfix">
        	<li style="padding:11px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/11323"></a>
            </li>
            <li style="padding:11px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/11324"></a>
            </li>
            <li style="padding:11px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/11436"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/11327"></a>
            </li>
            <li style="padding:12px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/10871"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/13058"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/10880"></a>
            </li>
            <li style="padding:12px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/10866"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/10881"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/10874"></a>
            </li>
            <li style="padding:12px 0 0 15px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12048"></a>
            </li>
            <li style="padding:12px 0 0 12px;">
            	<a target="_blank" style="width:382px; height:585px;" href="http://zhenhaolin.com/Product/Detail/12408"></a>
            </li>
        </ul>
    </div>
</div>