@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (儿童钟表新品上线-全场六折特惠_04.jpg) -->
<STYLE>
.image{
	height:248px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_10.jpg) center top no-repeat;
}
.image1{
	height:276px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_11.jpg) center top no-repeat;

}
.image2{
	height:250px;
	background:url(/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_12.jpg) center top no-repeat;

}
</STYLE>


<DIV class="image"></DIV>
<DIV class="image1"></DIV>
<DIV class="image2"></DIV>






<table id="__02" width="100%" height="3255" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffe038;text-align:center;">
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_01.jpg" width="1020" height="178" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_02.jpg" alt="" width="1020" height="354" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_03.jpg" alt="" width="1020" height="377" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_04.jpg" alt="" width="1020" height="371" usemap="#Map3" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_05.jpg" alt="" width="1020" height="393" usemap="#Map4" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_06.jpg" alt="" width="1020" height="383" usemap="#Map5" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_07.jpg" alt="" width="1020" height="383" usemap="#Map6" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_08.jpg" alt="" width="1020" height="395" usemap="#Map7" border="0"></td>
	</tr>
	<tr>
		<td>
			<img src="/Areas/Shop/Themes/M1/Content/ld/zb/images/2014122903_09.jpg" alt="" width="1020" height="421" usemap="#Map8" border="0"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="18,8,323,345" href="http://www.zhenhaolin.com/Product/Detail/1154364" target="_blank">
  <area shape="rect" coords="358,1,672,342" href="http://www.zhenhaolin.com/Product/Detail/1154382" target="_blank">
  <area shape="rect" coords="696,5,1011,346" href="http://www.zhenhaolin.com/Product/Detail/1154369" target="_blank">
</map>

<map name="Map2">
  <area shape="rect" coords="7,14,322,361" href="http://www.zhenhaolin.com/Product/Detail/1154377" target="_blank">
  <area shape="rect" coords="351,7,674,359" href="http://www.zhenhaolin.com/Product/Detail/1154367" target="_blank">
  <area shape="rect" coords="694,9,1015,361" href="http://www.zhenhaolin.com/Product/Detail/1154376" target="_blank">
</map>

<map name="Map3">
  <area shape="rect" coords="5,3,331,358" href="http://www.zhenhaolin.com/Product/Detail/1154372" target="_blank">
  <area shape="rect" coords="349,7,683,361" href="http://www.zhenhaolin.com/Product/Detail/1154375" target="_blank">
  <area shape="rect" coords="700,3,1012,350" href="http://www.zhenhaolin.com/Product/Detail/1154373" target="_blank">
</map>

<map name="Map4">
  <area shape="rect" coords="7,14,325,366" href="http://www.zhenhaolin.com/Product/Detail/1154350" target="_blank">
  <area shape="rect" coords="346,10,671,359" href="http://www.zhenhaolin.com/Product/Detail/1154351" target="_blank">
  <area shape="rect" coords="690,6,1014,373" href="http://www.zhenhaolin.com/Product/Detail/1154349" target="_blank">
</map>

<map name="Map5">
  <area shape="rect" coords="6,10,326,356" href="http://www.zhenhaolin.com/Product/Detail/1154354" target="_blank">
  <area shape="rect" coords="344,12,678,361" href="http://www.zhenhaolin.com/Product/Detail/1154348" target="_blank">
  <area shape="rect" coords="695,13,1009,363" href="http://www.zhenhaolin.com/Product/Detail/1154346" target="_blank">
</map>

<map name="Map6">
  <area shape="rect" coords="4,9,330,366" href="http://www.zhenhaolin.com/Product/Detail/1154344" target="_blank">
  <area shape="rect" coords="352,7,680,358" href="http://www.zhenhaolin.com/Product/Detail/1154342" target="_blank">
  <area shape="rect" coords="699,10,1015,367" href="http://www.zhenhaolin.com/Product/Detail/1154341" target="_blank">
</map>

<map name="Map7">
  <area shape="rect" coords="9,13,321,360" href="http://www.zhenhaolin.com/Product/Detail/1154360" target="_blank">
  <area shape="rect" coords="350,12,680,358" href="http://www.zhenhaolin.com/Product/Detail/1154353" target="_blank">
  <area shape="rect" coords="703,8,1014,364" href="http://www.zhenhaolin.com/Product/Detail/1154352" target="_blank">
</map>

<map name="Map8">
  <area shape="rect" coords="6,5,321,357" href="http://www.zhenhaolin.com/Product/Detail/1154323" target="_blank">
  <area shape="rect" coords="345,5,680,361" href="http://www.zhenhaolin.com/Product/Detail/1154328" target="_blank">
  <area shape="rect" coords="701,2,1016,349" href="http://www.zhenhaolin.com/Product/Detail/1154325" target="_blank">
</map>
    </body>
