@charset "utf-8";
	.btn {
	display:inline-block;
	font-size:12px;
	color:#1965bf;
	text-align:center;
	vertical-align:middle;
	margin-right:2px;
	padding-left:10px;
	background:url(../images/btn.png) no-repeat 0 -108px;
	cursor:pointer;
	_white-space:nowrap;
	*display:inline;
	*zoom:1;
	_width:57px;
	_position:relative
}
.btn span {
	overflow:hidden;
	display:block;
	margin-right:-2px;
	padding-right:10px;
	height:24px;
	line-height:24px;
	min-width:50px;
	background:url(../images/btn.png) no-repeat 100% -108px;
	_position:relative;
	line-height:26px\9
}
.btn:hover {
	color:#1965bf;
	background-position:0 -132px;
	text-decoration:none
}
.btn:hover span {
	background-position:100% -132px
}
.btn-large,.btn-highlight-large,.btn-important-large {
	font-size:14px;
	background-position:0 -156px;
	_width:97px
}
.btn-large span,.btn-highlight-large span,.btn-important-large span {
	height:30px;
	line-height:30px;
	min-width:90px;
	background-position:100% -156px;
	line-height:32px\9
}
.btn-large:hover,.btn-highlight-large:hover {
	background-position:0 -186px
}
.btn-large:hover span,.btn-highlight-large:hover span {
	background-position:100% -186px
}
.btn-highlight,.btn-highlight:hover,.btn-highlight-large,.btn-highlight-large:hover {
	color:#C00
}
.btn-important,.btn-important:hover,.btn-important-large,.btn-important-large:hover {
	color:#EEE
}
.btn-important {
	background-position:0 0
}
.btn-important span {
	background-position:100% 0
}
.btn-important:hover {
	background-position:0 -24px
}
.btn-important:hover span {
	background-position:100% -24px
}
.btn-important-large {
	background-position:0 -48px
}
.btn-important-large span {
	background-position:100% -48px
}
.btn-important-large:hover {
	background-position:0 -78px
}
.btn-important-large:hover span {
	background-position:100% -78px
}
.list-s,.list-m {
	overflow:hidden;
	zoom:1;
	position:relative
}
.list-s {
	padding:0 10px
}
.item-s a,.item-m a {
	color:#333
}
.item-s a:hover,.item-m a:hover {
	color:#C00
}
.item-s {
	overflow:hidden;
	zoom:1;
	line-height:1.6
}
.item-s-pic {
	float:left
}
.item-s-pic img {
	display:block;
	width:50px;
	height:65px;
	border:1px solid #e4e4e4;
	padding:1px
}
.item-s-pic:hover {
	background:transparent
}
.item-s-pic:hover img {
	border-color:#C00
}
.item-s-txt {
	margin-left:64px;
	_margin-left:61px
}
.item-s-title {
	display:block;
	width:114px;
	height:18px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.item-s-brand {
	max-height:36px;
	_height:36px;
	color:#999;
	word-wrap:break-word;
	overflow:hidden
}
.item-s-price {
	white-space:nowrap
}
.item-s-price span {
	background:url(../images/item-s.png) no-repeat 0 center;
	color:#C00;
	padding-left:10px
}
.item-s-point {
	color:#C00;
	margin-left:5px;
	white-space:nowrap
}
.item-s-name {
	height:18px;
	overflow:hidden;
	margin-top:-1px
}
.item-s-name a:link,.item-s-name a:visited {
	color:#999
}
.item-s-name a:hover {
	color:#C00
}
.item-s-comm {
	height:54px;
	line-height:18px;
	overflow:hidden;
	word-wrap:break-word
}
.item-s-hd {
	overflow:hidden;
	zoom:1;
	margin-bottom:5px
}
.item-s-hd .item-s-title {
	float:left
}
.item-s-hd .item-s-price {
	float:right;
	margin-right:3px
}
.list-s .item-s {
	padding:10px 0;
	border-top:1px dotted #e4e4e4;
	margin-top:-1px
}
.item-m {
	float:left;
	width:96px;
	line-height:1.7
}
.item-m-pic {
	border:1px solid #e4e4e4;
	width:92px;
	height:120px;
	padding:1px;
	vertical-align:top;
	margin-bottom:2px
}
.item-m-pic {
	background:transparent
}
a:hover .item-m-pic {
	border-color:#C00
}
.item-m-title {
	display:block;
	width:96px;
	height:18px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:pointer
}
.item-m-price {
	white-space:nowrap
}
.item-m-price span {
	background:url(../images/item-s.png) no-repeat 0 center;
	color:#C00;
	padding-left:10px
}
.list-m-n7 {
	width:940px;
	padding-left:38px
}
.list-m-n7 .item-m {
	padding:0 38px 0 0
}
.list-m-n6 {
	width:738px;
	padding-left:30px
}
.list-m-n6 .item-m {
	padding:0 26px 0 0
}
.list-m-n5 {
	width:560px;
	padding-left:18px
}
.list-m-n5 .item-m {
	padding:0 16px 0 0
}
.user-center .col-main {
	width:790px
}
.user-center .col-sub {
	width:180px;
	position:relative
}
.user-ad {
	height:100px;
	margin-bottom:10px
}
.user-ad img {
	width:788px;
	height:98px;
	border:1px solid #e4e4e4
}
.user-center-inf {
	margin-bottom:10px;
	padding:10px;
	zoom:1;
	border:1px solid #e4e4e4
}
.us-ct-pic {
	float:left;
	_display:inline;
	width:81px;
	margin-right:10px;
	text-align:center;
	position:relative
}
.us-ct-pic img {
	width:75px;
	height:75px;
	margin-bottom:5px;
	padding:2px;
	vertical-align:middle;
	border:1px solid #e4e4e4
}
.us-ct-pic a:hover {
	background:#FFF;
	text-decoration:none
}
.us-ct-pic a:hover img {
	border-color:#c00
}
.us-ct-pic a span {
	display:none;
	position:absolute;
	top:57px;
	left:3px;
	width:75px;
	height:22px;
	line-height:22px;
	color:#fff;
	text-align:center;
	cursor:pointer
}
.us-ct-pic a:hover span {
	display:block;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000',endColorstr='#7F000000');
	background:rgba(0,0,0,0.5)
}
.us-ct-detail {
	overflow:hidden;
	zoom:1
}
.us-ct-wel {
	height:22px;
	margin-bottom:10px;
	line-height:22px
}
.us-ct-wel strong {
	float:left;
	height:22px;
	font-size:14px;
	font-weight:700
}
.mem-icon01,.mem-icon02,.mem-icon03 {
	float:left;
	_display:inline;
	width:89px;
	height:22px;
	margin:0 10px;
	text-indent:-2000px;
	overflow:hidden;
	background:url(../images/icon-level.png) no-repeat
}
.mem-icon02 {
	width:60px;
	background-position:0 -21px
}
.mem-icon03 {
	width:56px;
	background-position:0 -43px;
	*background-position:0 -44px;
	background-position:0 -44px\0
}
.us-ct-edit {
	float:left;
	height:22px
}
.us-ct-data table {
	width:100%
}
.us-ct-data td {
	height:30px;
	padding:0 15px;
	border:1px solid #fff;
	background-color:#fafafa
}
.us-ct-account {
	color:#666
}
.us-ct-account em {
	color:#c00
}
.sub-main-wrap {
	zoom:1
}
.sub-main-content {
	float:left;
	width:580px
}
.sub-main-side {
	float:right;
	width:200px
}
.topTips {
	border:1px solid #c0dcf8;
	background:#f5fbfe;
	padding:15px
}
.a2-underline {
	color:#1859a5;
	text-decoration:underline
}
.non-pay .bd {
	position:relative
}
.non-pay table {
	width:100%
}
.non-pay th {
	height:25px;
	text-align:center;
	border-top:1px solid #e4e4e4;
	background:url(../images/box.png) repeat-x
}
.non-pay td {
	padding:5px 0;
	text-align:center;
	border-right:1px solid #e4e4e4;
	border-top:1px solid #e4e4e4
}
.non-pay td.endtd {
	border-right:0 none
}
.non-pay-data {
	display:inline-block;
	margin:0 10px 0 0
}
.arrival-notice .bd {
	position:relative;
	padding:5px
}
.arrival-notice .item-s {
	float:left;
	width:182px
}
.maybelike .bd {
	position:relative;
	padding:15px 0 10px
}
.maybelike .list-m-n5 .item-m {
	padding-right:15px
}
.ltxy .hd {
	overflow:hidden
}
.ltxy .hd h2 {
	background:url(../images/center.png) no-repeat;
	display:inline-block;
	width:54px;
	height:16px;
	overflow:hidden;
	line-height:99em;
	margin:8px 0 0 10px
}
.ltxy .bd {
	position:relative;
	padding:15px 0 10px;
	position:relative
}
.list-share {
	padding:0 13px;
	overflow:hidden
}
.list-share .item-share {
	zoom:1;
	overflow:hidden;
	border-top:1px solid #ededed;
	padding:20px 0;
	margin-top:-1px
}
.lower {
	color:#999!important
}
.red {
	color:#C00!important
}
.avatar_50 {
	display:block;
	width:50px;
	height:50px;
	padding:3px;
	border:1px solid #e4e4e4
}
.avatar_50 img {
	width:50px;
	height:50px;
	vertical-align:top
}
.avatar_50:hover {
	border-color:#C00
}
.memcon {
	margin-left:70px;
	color:#666
}
.prod-comment {
	margin-left:110px;
	_font-family:SimSun
}
.prod-comment .title {
	text-indent:0
}
.prod-comment .title a {
	font-weight:bold;
	color:#333
}
.prod-comment .title a:hover {
	color:#C00
}
.prod-comment .a2 {
	cursor:pointer
}
.body_of {
	height:24px;
	margin:10px 0 0 0;
	line-height:24px;
	border-top:1px dashed #e8e8e8
}
.body_of span {
	display:inline-block;
	margin:0 20px 0 0;
	color:#999
}
.rate-point-s {
	background-image:url(../images/stars-show-s.jpg);
	background-repeat:no-repeat;
	height:13px;
	line-height:13px;
	overflow:hidden;
	width:62px;
	text-indent:-99em;
	margin-top:4px;
	text-align:left
}
.point1s-0 {
	background-position:0 0
}
.point1s-1 {
	background-position:0 -12px
}
.point2s-0 {
	background-position:0 -25px
}
.point2s-1 {
	background-position:0 -37px
}
.point3s-0 {
	background-position:0 -50px
}
.point3s-1 {
	background-position:0 -62px
}
.point4s-0 {
	background-position:0 -75px
}
.point4s-1 {
	background-position:0 -87px
}
.point5s-0 {
	background-position:0 -100px
}
.point5s-1 {
	background-position:0 -100px
}
.btnfav,.favtxt,.favtxt span {
	display:inline-block;
	*display:inline;
	background:url(../images/ico.gif) no-repeat 0 0;
	vertical-align:middle;
	*zoom:1;
	cursor:pointer
}
.btnfav {
	width:56px;
	height:23px;
	overflow:hidden;
	background-position:0 -127px
}
.btnfav span {
	display:inline-block;
	*display:inline;
	text-indent:-9em;
	overflow:hidden;
	cursor:pointer
}
.favtxt {
	height:23px;
	padding-left:10px;
	background-position:-89px -162px;
	color:#c00
}
.favtxt span {
	height:23px;
	padding-right:8px;
	background-position:100% -162px;
	_background-position:100% -163px;
	line-height:23px
}
.notice-list {
	padding:10px
}
.notice-list li {
	line-height:23px;
	font-family:"simsun",arial;
	width:178px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.notice-list li a {
	color:#333
}
.notice-list li a:hover {
	color:#c00
}
.hot-new .bd {
	position:relative
}
.hot-comment .bd {
	position:relative
}
.hot-weibo .bd {
	position:relative
}
.block {
	display:block
}
.listSquare li {
	background:url(../images/icon-list2.gif) no-repeat 0 10px;
	padding-left:10px;
	height:22px;
	overflow:hidden;
	line-height:22px
}
.weibo-list {
	padding:0 12px;
	overflow:hidden;
	zoom:1
}
.weibo-list li {
	border-top:1px dotted #CCC;
	margin-top:-1px;
	padding:10px 0;
	zoom:1
}
.hot-com-p {
	position:relative;
	z-index:-1
}
.hot-com-p img {
	width:50px;
	height:65px
}
.MblogImg img {
	width:50px;
	height:50px;
	border:1px solid #e4e4e4;
	padding:2px
}
.MblogImg a:hover {
	background:#FFF
}
.MblogImg a:hover img {
	border-color:#c00
}
.hot-com-t {
	width:106px;
	overflow:hidden;
	margin-left:65px;
	color:#666
}
.mBlogVip {
	background:url(../images/sina.gif) no-repeat 100% 50%;
	width:11px;
	height:10px;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.mblogItem {
	height:90px
}

.ordertable {margin-top:10px;}
.ordertable tr th{text-align: left;padding-left:5px;  
}
.ordertable tr td{text-align: left;padding-left:5px;  
}

