@model List<Maticsoft.Model.Shop.Products.CategoryInfo>
@*二级分类*@
@if (Model != null && Model.Count > 0)
{
    <div class="XHX_eea clearfix" style="border-bottom: 1px solid #eee;">
        @foreach (var item in Model)
        {<div class="clearfix" style="border-bottom:1px solid #ccc;">
            
            <b><a href="@(ViewBag.BasePath)product/@item.CategoryId" target="_blank">@item.Name</a></b>
            <div class="sort2 clearfix">
                
                @Html.Action("IndexSubCategoryList", "Partial", new { Cid = @item.CategoryId, Top = -1, ViewName = "_SecondCateAll" })
                    </div>
            </div>
            }
    </div>
}
 