@charset "utf-8";
/* CSS Document */
.guanyu_wl{ width:100%; height:auto; background:url(../images/zxw08.jpg) top center no-repeat; padding-top:117px;}
.me_wl{ margin:0 auto;}
.meleft_wl{ width:206px; float:left; background:#00A0EA;}
.jiamenh_wl{}
.jiamenh_wl li{ width:206px; height:48px; border-bottom:1px solid #FFF; font-size:18px; color:#fff; text-align:center; line-height:48px;}
.jiamenh_wl li a{ display:block; color:#fff;}
.jiamenh_wl li:hover{ background:#FF8812;}
.jiamenh_wl li.jiasele_wl{ background:#FF8812;}
.mecenter_wl{ width:620px; background:#fff; padding:12px 22px 0; float:left; margin-left:25px;}























