<?xml version="1.0" encoding="utf-8"?>
<Maticsoft>
  <Core
     defaultLanguage="zh-CN"
     smtpServerConnectionLimit="-1"
     ssl = "Ignore"
     wwwStatus = "Ignore"
       >
    <providers>
      <clear/>

      <add name = "EmailQueueProvider" type = "Maticsoft.Email.EmailJob.EmailJobSevice, Maticsoft.Email" />
    </providers>
  </Core>
  <Jobs minutes = "1" singleThread = "true">
    <job name = "Emails" singleThread = "false" minutes = "1" type = "Maticsoft.Email.EmailJob.EmailJob" enabled = "true" enableShutDown = "false" failureInterval = "1" numberOfTries = "10" />
  </Jobs>
</Maticsoft>