<?xml version="1.0" encoding="utf-8"?>
<rewriter>

  <rewrite Fixed="True" url="^/pay/certification(.*)/(.*)(\?)(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1&amp;Area=$2&amp;$4" processing="stop"/>
  
  <rewrite Fixed="True" url="^/pay/certification(.*)/(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1&amp;Area=$2" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/wechat(.*)/(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1&amp;Area=$2" processing="stop"/>
  
  <rewrite Fixed="True" url="^/pay/certification(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/wechat.aspx?x=(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/payment/(.*)/return_url(.aspx\?)(.*)$" to="~/pay/payment/return_url.aspx?MATICSOFTGW=$1&amp;$3" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/payment/(.*)/notify_url.aspx$" to="~/pay/payment/notify_url.aspx?MATICSOFTGW=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/payment/(.*)/notify_url(.aspx\?)(.*)$" to="~/pay/payment/notify_url.aspx?MATICSOFTGW=$1&amp;$3" processing="stop"/>

  <rewrite Fixed="True" url="^/pay/cod/(.*)/(.*)$" to="~/pay/cod.aspx?orderid=$1&amp;data=$2" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/balance/(.*)/(.*)$" to="~/pay/balance.aspx?orderid=$1&amp;data=$2" processing="stop"/>

  <rewrite Fixed="True" url="^/pay/account(.*)$" to="~/pay/sendrecharge.aspx?RechargeId=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/recharge/(.*)/return_url(.aspx\?)(.*)$" to="~/pay/recharge/return_url.aspx?MATICSOFTGW=$1&amp;$3" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/recharge/(.*)/notify_url.aspx$" to="~/pay/recharge/notify_url.aspx?MATICSOFTGW=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/recharge/(.*)/notify_url(.aspx\?)(.*)$" to="~/pay/recharge/notify_url.aspx?MATICSOFTGW=$1&amp;$3" processing="stop"/>

  <rewrite Fixed="True" url="^/Admin/Storage/flex/(.*)" to="~/Upload/ExpressTemplate/$1" processing="stop"/>
  <rewrite Fixed="True" url="^/API/(.*)/return_sina(.aspx\?)(.*)$" to="~/API/SinaReturnUrl.aspx?userid=$1&amp;$3" processing="stop" />

  <!--卧室 客厅 厨房 卫浴 生活-->
  <rewrite Fixed="True" url="^/Photo/Index/-1/218/all/hot" to="~/Photo/Index/-1/218/all/hot?cmsId=45&amp;productId=195"  processing="stop" />
  <rewrite Fixed="True" url="^/Photo/Index/-1/219/all/hot" to="~/Photo/Index/-1/219/all/hot?cmsId=46&amp;productId=196"  processing="stop" />
  <rewrite Fixed="True" url="^/Photo/Index/-1/222/all/hot" to="~/Photo/Index/-1/222/all/hot?cmsId=47&amp;productId=197"  processing="stop" />
  <rewrite Fixed="True" url="^/Photo/Index/-1/220/all/hot" to="~/Photo/Index/-1/220/all/hot?cmsId=48&amp;productId=198"  processing="stop" />
  <rewrite Fixed="True" url="^/Photo/Index/-1/221/all/hot" to="~/Photo/Index/-1/221/all/hot?cmsId=35&amp;productId=199"  processing="stop" />
</rewriter>