<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <rewriter configSource="UrlRewriter.config" />
  <dataConfiguration defaultDatabase="MaticsoftSqlServer" />
  <connectionStrings>
    <add name="MaticsoftSqlServer" connectionString="server=.;database=ShopMall;uid=sa;pwd=sa123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="PaymentTimeLimit" value="60" />
    <!--单位：分钟-->
    <add key="AutoCompleteTimeLimit" value="0.1" />
    <!--单位：天-->
    <add key="EveryDayCheckTime" value="23:59-2:00" />
    <!--记录每天几点检查已发货但未完成的订单,24小时制-->
    <add key="TimerInterval" value="1" />
    <!--主定时器时间间隔-->
    <add key="ConnectionString" value="server=.;database=ShopMall;uid=sa;pwd=sa123456;" />
    <add key="DAL" value="Maticsoft.SQLServerDAL" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="LocalTest" value="false" />
    <add key="RechargeTest" value="false" />
    <add key="PaymentTest" value="false" />
    <add key="UploadFolder" value="Upload" />
    <add key="ffmpeg" value="/Tools/ffmpeg/ffmpeg.exe" />
    <add key="FilePath_Android" value="/Download/MaticsoftShop.apk" />
    <add key="CacheTime" value="30" />
    <add key="Cache_HorsTime" value="3" />
    <add key="CardURL" value="http://localhost:85" />
    <!--<add key="CardURL" value="http://www.wb5188.cn:85" />-->
    <add key="SMSSIGN" value="【健康商城】" />
    <add key="CouponQueue" value="HaolinShop.CouponQueue" />
    <add key="WriteServerList" value="127.0.0.1,127.0.0.1" />
    <add key="ReadServerList" value="127.0.0.1,127.0.0.1" />
    <add key="MaxWritePoolSize" value="60" />
    <add key="MaxReadPoolSize" value="60" />
    <add key="AutoStart" value="true" />
    <add key="CacheType" value="0" />
    <add key="SmsAuthkey" value="1B9B7549320B33523B7AB2EB3C1AB3AB" />
    <add key="SmsMaxCount" value="10" />
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/404.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="GiftImgUpload.aspx" type="Maticsoft.Web.Ajax_Handle.GiftImageUploadHandler, Maticsoft.Web" />
      <add verb="*" path="EditPhotoHandle.aspx" type="Maticsoft.Web.Ajax_Handle.EditPhotoHandle, Maticsoft.Web" />
      <add verb="*" path="CMSContent.aspx" type="Maticsoft.Web.Ajax_Handle.CMSContentHandle" />
      <add verb="*" path="RegisterValidate.aspx" type="Maticsoft.Web.AjaxHandle.RegisterValidateHandler" />
      <add verb="*" path="CheckNetworkVideo.aspx" type="Maticsoft.Web.Ajax_Handle.CheckNetworkVideoHandler" />
      <add verb="*" path="NodeHandle.aspx" type="Maticsoft.Web.AjaxHandle.NodeHandle" />
      <add verb="*" path="NodeProdCategory.aspx" type="Maticsoft.Web.Ajax_Handle.NodeProdCategory" />
      <add verb="*" path="MapHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapHandle" />
      <add verb="*" path="MapMarkImgHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapMarkImgHandle" />
      <add verb="*" path="UploadImageDemo.aspx" type="Maticsoft.Web.AjaxHandle.UploadImageDemo" />
      <add verb="*" path="ProductUploadImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductUploadImgHandler, Maticsoft.Web" />
      <add verb="*" path="UploadNormalImg.aspx" type="Maticsoft.Web.Handlers.UploadNormalImgHandler, Maticsoft.Web" />
      <add verb="*" path="CMSUploadImg.aspx" type="Maticsoft.Web.Handlers.CMS.UploadArticleImgHandler, Maticsoft.Web" />
      <add verb="*" path="CMSUploadFile.aspx" type="Maticsoft.Web.Handlers.CMS.UploadFileHandler, Maticsoft.Web" />
      <add verb="*" path="CMSContentHelper.aspx" type="Maticsoft.Web.Handlers.CMS.CMSContentHandler, Maticsoft.Web" />
      <add verb="*" path="UploadPhotoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadPhotoHandler, Maticsoft.Web" />
      <add verb="*" path="UploadWeiboImg.aspx" type="Maticsoft.Web.Handlers.UploadWeiboImgHandler, Maticsoft.Web" />
      <add verb="*" path="ProductSkuImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductSkuImgHandler, Maticsoft.Web" />
      <add verb="*" path="RegionHandle.aspx" type="Maticsoft.Web.Handlers.RegionHandle" />
      <add verb="*" path="SNSProduct.aspx" type="Maticsoft.Web.Handlers.SNS.ProductHandler, Maticsoft.Web" />
      <add verb="*" path="SNSPhotos.aspx" type="Maticsoft.Web.Handlers.SNS.PhotosHandler, Maticsoft.Web" />
      <add verb="*" path="SNSPGroupUser.aspx" type="Maticsoft.Web.Handlers.SNS.GroupUserHandler, Maticsoft.Web" />
      <add verb="*" path="ShopManage.aspx" type="Maticsoft.Web.Handlers.Shop.ShopHandler" />
      <add verb="*" path="HlCardReq.aspx" type="Maticsoft.Web.Handlers.UserCenter.HlHandler" />
      <add verb="*" path="UploadGravatar.aspx" type="Maticsoft.Web.Handlers.UploadGravatarHandler, Maticsoft.Web" />
      <add verb="*" path="WebLogo.aspx" type="Maticsoft.Web.Handlers.UploadLogoHandler, Maticsoft.Web" />
      <add verb="*" path="SNSCategories.aspx" type="Maticsoft.Web.Handlers.SNS.CategoriesHandler" />
      <add verb="*" path="HttpToStatic.aspx" type="Maticsoft.Web.Handlers.CMS.HttpToStaticHandler" />
      <add verb="*" path="ImageReGenHandler.aspx" type="Maticsoft.Web.Handlers.ImageReGenHandler" />
      <add verb="*" path="PhotoReGenHandler.aspx" type="Maticsoft.Web.Handlers.CMS.PhotoReGenHandler" />
      <add verb="*" path="SNSToStaticHandler.aspx" type="Maticsoft.Web.Handlers.SNS.SNSToStaticHandler" />
      <add verb="*" path="HttpToProStatic.aspx" type="Maticsoft.Web.Handlers.Shop.HttpToStaticHandler" />
      <add verb="*" path="/Upload/SNSUploadTmpImg.aspx" type="Maticsoft.Web.Handlers.SNS.UploadImageHandler" />
      <add verb="*" path="/Upload/UploadApproveImage.aspx" type="Maticsoft.Web.Handlers.SNS.UploadApproveImageHandler" />
      <add verb="*" path="/ProductHandler.aspx" type="Maticsoft.Web.Handlers.Shop.ProductHandler" />
      <add verb="*" path="/Pay/OrderHandler.aspx" type="Maticsoft.Web.Handlers.Shop.OrderHandler" />
      <add verb="*" path="/pay/sendpayment.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendPaymentHandler" />
      <add verb="*" path="/pay/payment/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentReturnHandler" />
      <add verb="*" path="/pay/payment/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentNotifyHandler" />
      <add verb="*" path="/pay/payment/banknotify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentBankNotifyHandler" />
      <add verb="*" path="/Pay/RechargeHandler.aspx" type="Maticsoft.Web.Handlers.Shop.RechargeHandler" />
      <add verb="*" path="/pay/sendrecharge.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendRechargeHandler" />
      <add verb="*" path="/pay/recharge/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeReturnHandler" />
      <add verb="*" path="/pay/recharge/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeNotifyHandler" />
      <add verb="*" path="/pay/cod.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.CodHandler" />
      <add verb="*" path="/pay/balance.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.BalanceHandler" />
      <add verb="*" path="/pay/wechat.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.SendPaymentHandler" />
      <add verb="*" path="/wechat/feedback.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.FeedBackHandler" />
      <add verb="*" path="/wechat/alarmnotice.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.AlarmNoticeHandler" />
      <add verb="*" path="UploadVideoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadVideoHandler" />
      <add verb="*" path="/tools/qr/gen.aspx" type="Maticsoft.Web.Handlers.Tools.QRHandler" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add verb="*" path="UploadMultipleFileHandler.aspx" type="Maticsoft.Web.Handlers.UploadMultipleFileHandler" />
      <add verb="*" path="SupplierUploadLogo.aspx" type="Maticsoft.Web.Handlers.Shop.SupplierUploadLogoHandler, Maticsoft.Web" />
      <add verb="*" path="wcapi.aspx" type="Maticsoft.Web.Handlers.WeChatAPIHandler,Maticsoft.Web" />
      <add verb="*" path="wcreturn.aspx" type="Maticsoft.Web.Handlers.WeChatReturnHandler,Maticsoft.Web" />
      <add verb="*" path="WeChatImg.aspx" type="Maticsoft.Web.Handlers.UploadWeChatImgHandler,Maticsoft.Web" />
      <add verb="*" path="WeChatFile.aspx" type="Maticsoft.Web.Handlers.UploadWeChatFileHandler,Maticsoft.Web" />
      <add verb="*" path="/api/shop.aspx" type="Maticsoft.Web.Handlers.Shop.API.ShopHandler" />
      <add verb="*" path="CodeGenHandler.aspx" type="Maticsoft.Web.Handlers.CodeGenHandler" />
      <add verb="*" path="HlCardReq.aspx" type="Maticsoft.Web.Handlers.UserCenter.HlHandler" />
    </httpHandlers>
    <httpModules>
      <add name="TimerTask" type="Maticsoft.TimerTask.TaskHttpModule" />
      <add name="EmailJob" type="Maticsoft.Email.EmailJob.EmailJobSevice" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <httpRuntime executionTimeout="90" maxRequestLength="2147483" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="2.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Index" duration="1000" enabled="true" location="ServerAndClient" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440" />
    <!--<sessionState mode="InProc"
stateConnectionString="tcpip=127.0.0.1:42424"
cookieless="false" timeout="60" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="TimerTask" type="Maticsoft.TimerTask.TaskHttpModule" />
      <add name="EmailJob" type="Maticsoft.Email.EmailJob.EmailJobSevice" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </modules>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="GiftImgUpload" verb="*" path="GiftImgUpload.aspx" type="Maticsoft.Web.Ajax_Handle.GiftImageUploadHandler, Maticsoft.Web" />
      <add name="SNSCategories" verb="*" path="SNSCategories.aspx" type="Maticsoft.Web.Handlers.SNS.CategoriesHandler" allowPathInfo="true" />
      <add name="EditPhotoHandle" verb="*" path="EditPhotoHandle.aspx" type="Maticsoft.Web.Ajax_Handle.EditPhotoHandle, Maticsoft.Web" />
      <add name="CMSContent" verb="*" path="CMSContent.aspx" type="Maticsoft.Web.Ajax_Handle.CMSContentHandle" />
      <add name="RegisterValidate" verb="*" path="RegisterValidate.aspx" type="Maticsoft.Web.AjaxHandle.RegisterValidateHandler" />
      <add name="CheckNetworkVideo" verb="*" path="CheckNetworkVideo.aspx" type="Maticsoft.Web.Ajax_Handle.CheckNetworkVideoHandler" />
      <add name="NodeHandle" verb="*" path="NodeHandle.aspx" type="Maticsoft.Web.AjaxHandle.NodeHandle" />
      <add name="NodeProdCategory" verb="*" path="NodeProdCategory.aspx" type="Maticsoft.Web.Ajax_Handle.NodeProdCategory" />
      <add name="MapHandle" verb="*" path="MapHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapHandle" />
      <add name="MapMarkImgHandle" verb="*" path="MapMarkImgHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapMarkImgHandle" />
      <add name="PageHandlerFactory" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="UploadImageDemo" verb="*" path="UploadImageDemo.aspx" type="Maticsoft.Web.AjaxHandle.UploadImageDemo" />
      <add name="ProductUploadImg" verb="*" path="ProductUploadImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductUploadImgHandler, Maticsoft.Web" />
      <add name="UploadNormalImg" verb="*" path="UploadNormalImg.aspx" type="Maticsoft.Web.Handlers.UploadNormalImgHandler, Maticsoft.Web" />
      <add name="CMSUploadImg" verb="*" path="CMSUploadImg.aspx" type="Maticsoft.Web.Handlers.CMS.UploadArticleImgHandler, Maticsoft.Web" />
      <add name="CMSUploadFile" verb="*" path="CMSUploadFile.aspx" type="Maticsoft.Web.Handlers.CMS.UploadFileHandler, Maticsoft.Web" />
      <add name="CMSContentHelper" verb="*" path="CMSContentHelper.aspx" type="Maticsoft.Web.Handlers.CMS.CMSContentHandler, Maticsoft.Web" />
      <add name="UploadPhotoHandler" verb="*" path="UploadPhotoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadPhotoHandler, Maticsoft.Web" />
      <add name="UploadWeiboImg" verb="*" path="UploadWeiboImg.aspx" type="Maticsoft.Web.Handlers.UploadWeiboImgHandler, Maticsoft.Web" />
      <add name="RegionHandle" verb="*" path="RegionHandle.aspx" type="Maticsoft.Web.Handlers.RegionHandle" />
      <add name="SNSProduct" verb="*" path="SNSProduct.aspx" type="Maticsoft.Web.Handlers.SNS.ProductHandler" allowPathInfo="true" />
      <add name="SNSPhotos" verb="*" path="SNSPhotos.aspx" type="Maticsoft.Web.Handlers.SNS.PhotosHandler" allowPathInfo="true" />
      <add name="SNSPGroupUser" verb="*" path="SNSPGroupUser.aspx" type="Maticsoft.Web.Handlers.SNS.GroupUserHandler, Maticsoft.Web" />
      <add name="SNSUploadTmpImg" verb="*" path="/Upload/SNSUploadTmpImg.aspx" type="Maticsoft.Web.Handlers.SNS.UploadImageHandler" />
      <add name="UploadApproveImage" verb="*" path="/Upload/UploadApproveImage.aspx" type="Maticsoft.Web.Handlers.SNS.UploadApproveImageHandler" />
      <add name="UploadGravatar" verb="*" path="/Upload/UploadGravatar.aspx" type="Maticsoft.Web.Handlers.UploadGravatarHandler, Maticsoft.Web" />
      <add name="ShopManage" verb="*" path="ShopManage.aspx" type="Maticsoft.Web.Handlers.Shop.ShopHandler" allowPathInfo="true" />
      <add name="HlCardReq" verb="*" path="HlCardReq.aspx" type="Maticsoft.Web.Handlers.UserCenter.HlHandler" allowPathInfo="true" />
      <add name="ProductSkuImg" verb="*" path="ProductSkuImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductSkuImgHandler, Maticsoft.Web" />
      <add name="WebLogo" verb="*" path="WebLogo.aspx" type="Maticsoft.Web.Handlers.UploadLogoHandler" />
      <add name="HttpToStatic" verb="*" path="HttpToStatic.aspx" type="Maticsoft.Web.Handlers.CMS.HttpToStaticHandler, Maticsoft.Web" />
      <add name="ImageReGenHandler" verb="*" path="ImageReGenHandler.aspx" type="Maticsoft.Web.Handlers.ImageReGenHandler, Maticsoft.Web" />
      <add name="PhotoReGenHandler" verb="*" path="PhotoReGenHandler.aspx" type="Maticsoft.Web.Handlers.CMS.PhotoReGenHandler, Maticsoft.Web" />
      <add name="SNSToStaticHandler" verb="*" path="SNSToStaticHandler.aspx" type="Maticsoft.Web.Handlers.SNS.SNSToStaticHandler, Maticsoft.Web" />
      <add name="OrderHandler" verb="*" path="/Pay/OrderHandler.aspx" type="Maticsoft.Web.Handlers.Shop.OrderHandler" />
      <add name="ProductHandler" verb="*" path="/ProductHandler.aspx" type="Maticsoft.Web.Handlers.Shop.ProductHandler" />
      <add name="HttpToProStatic" verb="*" path="HttpToProStatic.aspx" type="Maticsoft.Web.Handlers.Shop.HttpToStaticHandler, Maticsoft.Web" />
      <add name="SendPayment" verb="*" path="/pay/sendpayment.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendPaymentHandler" />
      <add name="PaymentReturn" verb="*" path="/pay/payment/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentReturnHandler" />
      <add name="PaymentNotify" verb="*" path="/pay/payment/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentNotifyHandler" />
      <add name="PaymentBankNotify" verb="*" path="/pay/payment/banknotify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentBankNotifyHandler" />
      <add name="RechargeHandler" verb="*" path="/Pay/RechargeHandler.aspx" type="Maticsoft.Web.Handlers.Shop.RechargeHandler" />
      <add name="SendRecharge" verb="*" path="/pay/sendrecharge.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendRechargeHandler" />
      <add name="RechargeReturn" verb="*" path="/pay/recharge/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeReturnHandler" />
      <add name="RechargeNotify" verb="*" path="/pay/recharge/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeNotifyHandler" />
      <add name="CodHandler" verb="*" path="/pay/cod.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.CodHandler" />
      <add name="BalanceHandler" verb="*" path="/pay/balance.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.BalanceHandler" />
      <add name="WeChatSendPaymentHandler" verb="*" path="/pay/wechat.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.SendPaymentHandler" />
      <add name="WeChatFeedBackHandler" verb="*" path="/wechat/feedback.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.FeedBackHandler" />
      <add name="WeChatAlarmNoticeHandler" verb="*" path="/wechat/alarmnotice.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.AlarmNoticeHandler" />
      <add name="Tools_QR" verb="*" path="/tools/qr/gen.aspx" type="Maticsoft.Web.Handlers.Tools.QRHandler" />
      <add name="UploadVideoHandler" verb="*" path="UploadVideoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadVideoHandler, Maticsoft.Web" />
      <add name="UploadMultipleFileHandler" verb="*" path="UploadMultipleFileHandler.aspx" type="Maticsoft.Web.Handlers.UploadMultipleFileHandler,Maticsoft.Web" />
      <add name="SupplierUploadLogo" verb="*" path="SupplierUploadLogo.aspx" type="Maticsoft.Web.Handlers.Shop.SupplierUploadLogoHandler, Maticsoft.Web" />
      <add name="wcapi" verb="*" path="wcapi.aspx" type="Maticsoft.Web.Handlers.WeChatAPIHandler,Maticsoft.Web" />
      <add name="wcreturn" verb="*" path="wcreturn.aspx" type="Maticsoft.Web.Handlers.WeChatReturnHandler,Maticsoft.Web" />
      <add name="WeChatImg" verb="*" path="WeChatImg.aspx" type="Maticsoft.Web.Handlers.UploadWeChatImgHandler,Maticsoft.Web" />
      <add name="WeChatFile" verb="*" path="WeChatFile.aspx" type="Maticsoft.Web.Handlers.UploadWeChatFileHandler,Maticsoft.Web" />
      <add name="API_Shop" verb="*" path="/api/shop.aspx" type="Maticsoft.Web.Handlers.Shop.API.ShopHandler" />
      <add name="CodeGenHandler" verb="*" path="CodeGenHandler.aspx" type="Maticsoft.Web.Handlers.CodeGenHandler, Maticsoft.Web" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMaxAge="168.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SDKServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sdkhttp.eucp.b2m.cn:80/sdk/SDKService" binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding" contract="SMSService.SDKClient" name="SDKService" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BusinessServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.jianzhou.sh.cn/JianzhouSMSWSServer/services/BusinessService" binding="basicHttpBinding" bindingConfiguration="BusinessServiceServiceSoapBinding" contract="JZService.BusinessService" name="BusinessServicePort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>