@{
    Layout = "~/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "购物车";
}
<script type="text/javascript">
    $(function () {
        $(".redu").die("click").live("click", function () {
            var count = parseInt($(this).next().val());
            if (count == 1) {
                if (confirm("您确定要删除该商品吗？")) {
                    $(this).parents('.gouwuchelist').find('.btnDelete').click();
                }
            } else {
                $(this).next().val(count - 1);
                var itemId = $(this).parent().attr("ItemId");
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    async: false,
                    url: $Maticsoft.BasePath +"ShoppingCart/UpdateItemCount?s=" + new Date().format('yyyyMMddhhmmssS'),
                    data: { ItemId: itemId, Count: count - 1 },
                    success: function (data) {
                        if (data != "No") {
                            $("#LoadCartList").load($Maticsoft.BasePath +"ShoppingCart/CartList");
                        } else {
                            ShowFailTip("服务器繁忙，请稍候再试！");
                        }
                    }
                });
            }
        });
        $('.txtQuantity').die("blur").live("blur", function () {
            var count = parseInt($(this).val());
            if (count < 1) {
                if (confirm("您确定要删除该商品吗？")) {
                    $(this).parents('.gouwuchelist').find('.btnDelete').click();
                    return;
                }
                $(this).val(1);
                return;
            }
            var itemId = $(this).parent().attr("ItemId");
            $.ajax({
                type: "POST",
                dataType: "text",
                url: $Maticsoft.BasePath +"ShoppingCart/UpdateItemCount?s=" + new Date().format('yyyyMMddhhmmssS'),
                data: { ItemId: itemId, Count: count },
                success: function (data) {
                    if (data != "No") {
                        $("#LoadCartList").load($Maticsoft.BasePath +"ShoppingCart/CartList");
                    } else {
                        ShowFailTip("服务器繁忙，请稍候再试！");
                    }
                }
            });
        });
        $(".add").die("click").live("click", function () {
            var count = parseInt($(this).prev().val());
            $(this).prev().val(count + 1);
            var itemId = $(this).parent().attr("ItemId");
            $.ajax({
                type: "POST",
                dataType: "text",
                async: false,
                url: $Maticsoft.BasePath +"ShoppingCart/UpdateItemCount?s=" + new Date().format('yyyyMMddhhmmssS'),
                data: { ItemId: itemId, Count: count + 1 },
                success: function (data) {
                    if (data != "No") {
                        $("#LoadCartList").load($Maticsoft.BasePath +"ShoppingCart/CartList");
                    } else {
                        ShowFailTip("服务器繁忙，请稍候再试！");
                    }
                }
            });
        });
    })
</script>
<div class="top">
    <span>购物车</span>
    @Html.Partial("/Areas/MShop/Themes/M1/Views/Partial/_HeadRight.cshtml")
</div>
<div id="LoadCartList">
    @Html.Action("CartList", "ShoppingCart")
</div>
