
@{
    Layout = "~/Areas/Shop/Themes/M1/Views/Shared/_ShoppingLayout.cshtml";
}
<div class="w main">
    <div class="m m3" id="qpay">
        <div class="mc">
            <s class="icon-wrong02" style="margin-left: 20px;"></s>
            <div class="fore" style="margin-top: -40px;">
                <h3 class="ftx-02" style="color: #c00;">
                   此订单只能在手机上支付 或 重新下单。</h3>
                <ul class="list-h">
                    <li class="fore2">订单号：@(ViewBag.OrderCode)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

 