@{
    Layout = "~/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
<link href="/Areas/Shop/Themes/M1/Content/Css/Style-1.css" rel="stylesheet" type="text/css" />
 <div class="w760">
        <div class="box box-pwd">                   
                <div id="tab_regi">
                    <div class="J_tab_panel">                 
<div class="error">
  <div class="error_r"></div>
  <div class="error_w">
     <p class="error_w_a"> Sorry!  该功能已被管理员关闭</p>
     <p class="error_w_b">如果有疑问，请联系网站管理员，您还可以：</p>
      <p class="error_w_b"><a href="@(ViewBag.BasePath)Home">返回首页</a>;</p>
  </div>
</div> 
                </div>
            </div>
        </div>
    </div>

 

