 <div id="navbar">
     <a href="javascript:;" class="index" onclick="pageload('Home','index','首页','_Index', '_Index');mainmenu(false);"> 首页 </a>
     <a onclick="pageload('Gbook','gbook','在线留言','Index', 'Index');mainmenu(false);" class="gbook">在线留言</a>
     <a onclick="pageload('Article','contactusDetail_39','联系','SingleArticleDetail', 'Contactus','39','-1');mainmenu(false);" class="contactus"> 联系 </a>
     <a onclick="pageload('Search','search','搜索','Search', 'Search');mainmenu(false);" class="search"> 搜索 </a>
     <a onclick="mainmenu(true);" class="menumore"> 更多 </a>
 </div>
 