<div class="site_menu">
                        <div>
                            <a onclick="pageload('Article','news19','新闻中心','News', 'News','19','-1','-1','-1','-1','-1','3')" class="news ui-link">新闻中心</a>
                            <a onclick="pageload('Article','products23','产品服务','News', 'Products','23','-1','-1','-1','-1','-1','3')" class="products ui-link">产品服务</a>
                            <a onclick="pageload('Article','jobs27','人才招聘','News', 'Jobs','27','-1','-1','-1','-1','-1','3')" class="jobs ui-link">人才招聘</a>
                            <a onclick="pageload('Gbook','gbook','在线留言','Index', 'Index')" class="gbook ui-link">在线留言</a>
                            <a onclick="pageload('Alink','alinks','友情链接','Alinks', 'Alinks','-1','-1','6')" class="alinks ui-link">友情链接</a>
                            <a onclick="pageloadByPage('Videos','videosList_page1','视频','VideosList', 'VideosList','-1','1')" class="videos ui-link" style="display:none;">视频</a>
                            <a onclick="pageload('Survey','survey@(ViewBag.FormID)','在线调查','Index', 'Index','-1','-1','1','-1','-1','@(ViewBag.FormID)');" class="survey ui-link">在线调查</a>
                            <a onclick="pageload2('EntryForm','entryForm','在线报名','Index', 'Index','0')" class="gbook ui-link">在线报名</a>
                        </div>
                    </div>
