  <div id="menu" class="hasMenu off" style="display: none;">
                <a onclick="pageload('Article', 'news','新闻中心','News', 'News','19','-1','-1','-1','-1','-1','3');" class="news" style="overflow: hidden;">新闻中心</a>
                <a onclick="pageload('Article','products','产品服务','News', 'Products','23','-1','-1','-1','-1','-1','3');" class="products" style="overflow: hidden;">产品服务</a>
                <a onclick="pageload('Article','jobs','人才招聘','News', 'Jobs','27','-1','-1','-1','-1','-1','3');" class="jobs" style="overflow: hidden;">人才招聘</a>
                <a onclick="pageload('Gbook','gbook','在线留言','Index', 'Index');" class="gbook" style="overflow: hidden;">在线留言</a>
                <a onclick="pageload('Alink','alinks','友情链接','Alinks', 'Alinks','-1','-1','6');" class="alinks" style="overflow: hidden;">友情链接</a>
             @*<a onclick="pageloadByPage('Videos','videosList_page1','视频','VideosList', 'VideosList','-1','1');" class="videos" style="overflow: hidden;">视频</a> *@
                <a onclick="pageload('Survey','survey@(ViewBag.FormID)','在线调查','Index', 'Index','-1','-1','-1','-1','-1','@(ViewBag.FormID)');" class="survey" style="overflow: hidden;">在线调查</a>
            </div> 