<div id="addToablum" style="display:none">
<div class="join_a2">
     <div class="join_a2_f"><img id="addtoimage"  style=" width:160px; height:180px" ></div>
     <div class="join_a2_g">
        <div class="join_a2_g1" id="albumsinfo">
        @*<select name="">
              <option value="请选择">请选择</option>
              <option value="天使之恋">天使之恋</option>
              <option value="那年5月">那年5月</option>
              <option value="执迷">执迷</option>
           </select>*@
          
        </div> 
        <div class="join_a2_g2">
          <textarea  cols="" rows="" name="AddAlbumscontent" style="margin: 0px; width: 299px; height: 100px; "></textarea>
        </div>
        <div class="join_a2_g3">
          <div class="join_a2_g31"><a href="javascript:;">@*<img src=/Areas/SNS/Themes/M1/Content/images/join_3.jpg">*@</a></div>
          <div class="join_a2_g32" style=" display:none">
             <p class="join_a2_g32_a">同步到：</p>
             <p class="join_a2_g32_b"><a href="javascript:;"><img src="/Areas/SNS/Themes/M1/Content/images/join_4.jpg"></a></p>
             <p class="join_a2_g32_b"><a href="javascript:;"><img src="/Areas/SNS/Themes/M1/Content/images/join_5.jpg"></a></p>
          </div>
        <div class="clear"></div>
        </div>
     </div>
  </div>
  </div>