 @*发表框表情模板*@
      <div class="biaoqing_a"></div>
         <div class="biaoqing_b">
            <div class="biaoqing_b1">
              <p class="biaoqing_b1_t">常用表情</p>
              <p class="biaoqing_b1_y" id="biaoqingclose" style=" cursor:pointer;float:right"><img src="/Areas/SNS/Themes/M1/Content/images/biao2.jpg" ></p>
            </div>
            <div class="biaoqing_b2">
                <ul>
                   <li>
                          <table>
                            <tbody>
                                <tr>
                            <td id="biaoqing">
                                        <img src="/Images/face/微笑.gif" title="" border="0" onclick="insertsmilie('[微笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/撇嘴.gif" title="" border="0" onclick="insertsmilie('[撇嘴]');" style="cursor: pointer; ">
                                        <img src="/Images/face/色.gif" title="" border="0" onclick="insertsmilie('[色]');" style="cursor: pointer; ">
                                        <img src="/Images/face/发呆.gif" title="" border="0" onclick="insertsmilie('[发呆]');" style="cursor: pointer; ">
                                        <img src="/Images/face/得意.gif" title="" border="0" onclick="insertsmilie('[得意]');" style="cursor: pointer; ">
                                        <img src="/Images/face/流泪.gif" title="" border="0" onclick="insertsmilie('[流泪]');" style="cursor: pointer; ">
                                        <img src="/Images/face/害羞.gif" title="" border="0" onclick="insertsmilie('[害羞]');" style="cursor: pointer; ">
                                        <img src="/Images/face/闭嘴.gif" title="" border="0" onclick="insertsmilie('[闭嘴]');" style="cursor: pointer; ">
                                        <img src="/Images/face/睡.gif" title="" border="0" onclick="insertsmilie('[睡]');" style="cursor: pointer; ">
                                        <img src="/Images/face/大哭.gif" title="" border="0" onclick="insertsmilie('[大哭]');" style="cursor: pointer; ">
                                        <img src="/Images/face/尴尬.gif" title="" border="0" onclick="insertsmilie('[尴尬]');" style="cursor: pointer; ">
                                        <img src="/Images/face/调皮.gif" title="" border="0" onclick="insertsmilie('[调皮]');" style="cursor: pointer; ">
                                        <img src="/Images/face/呲牙.gif" title="" border="0" onclick="insertsmilie('[呲牙]');" style="cursor: pointer; ">
                                        <img src="/Images/face/惊讶.gif" title="" border="0" onclick="insertsmilie('[惊讶]');" style="cursor: pointer; ">
                                        <img src="/Images/face/难过.gif" title="" border="0" onclick="insertsmilie('[难过]');" style="cursor: pointer; ">
                                        <img src="/Images/face/酷.gif" title="" border="0" onclick="insertsmilie('[酷]');" style="cursor: pointer; ">
                                        <img src="/Images/face/冷汗.gif" title="" border="0" onclick="insertsmilie('[冷汗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/抓狂.gif" title="" border="0" onclick="insertsmilie('[抓狂]');" style="cursor: pointer; ">
                                        <img src="/Images/face/吐.gif" title="" border="0" onclick="insertsmilie('[吐]');" style="cursor: pointer; ">
                                        <img src="/Images/face/偷笑.gif" title="" border="0" onclick="insertsmilie('[偷笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/可爱.gif" title="" border="0" onclick="insertsmilie('[可爱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/白眼.gif" title="" border="0" onclick="insertsmilie('[白眼]');" style="cursor: pointer; ">
                                        <img src="/Images/face/傲慢.gif" title="" border="0" onclick="insertsmilie('[傲慢]');" style="cursor: pointer; ">
                                        <img src="/Images/face/饥饿.gif" title="" border="0" onclick="insertsmilie('[饥饿]');" style="cursor: pointer; ">
                                        <img src="/Images/face/困.gif" title="" border="0" onclick="insertsmilie('[困]');" style="cursor: pointer; ">
                                        <img src="/Images/face/惊恐.gif" title="" border="0" onclick="insertsmilie('[惊恐]');" style="cursor: pointer; ">
                                        <img src="/Images/face/流汗.gif" title="" border="0" onclick="insertsmilie('[流汗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/憨笑.gif" title="" border="0" onclick="insertsmilie('[憨笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/大兵.gif" title="" border="0" onclick="insertsmilie('[大兵]');" style="cursor: pointer; ">
                                        <img src="/Images/face/奋斗.gif" title="" border="0" onclick="insertsmilie('[奋斗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/咒骂.gif" title="" border="0" onclick="insertsmilie('[咒骂]');" style="cursor: pointer; ">
                                        <img src="/Images/face/疑问.gif" title="" border="0" onclick="insertsmilie('[疑问]');" style="cursor: pointer; ">
                                        <img src="/Images/face/嘘.gif" title="" border="0" onclick="insertsmilie('[嘘]');" style="cursor: pointer; ">
                                        <img src="/Images/face/晕.gif" title="" border="0" onclick="insertsmilie('[晕]');" style="cursor: pointer; ">
                                        <img src="/Images/face/折磨.gif" title="" border="0" onclick="insertsmilie('[折磨]');" style="cursor: pointer; ">
                                        <img src="/Images/face/衰.gif" title="" border="0" onclick="insertsmilie('[衰]');" style="cursor: pointer; ">
                                        <img src="/Images/face/骷髅.gif" title="" border="0" onclick="insertsmilie('[骷髅]');" style="cursor: pointer; ">
                                        <img src="/Images/face/敲打.gif" title="" border="0" onclick="insertsmilie('[敲打]');" style="cursor: pointer; ">
                                        <img src="/Images/face/再见.gif" title="" border="0" onclick="insertsmilie('[再见]');" style="cursor: pointer; ">
                                        <img src="/Images/face/擦汗.gif" title="" border="0" onclick="insertsmilie('[擦汗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/抠鼻.gif" title="" border="0" onclick="insertsmilie('[抠鼻]');" style="cursor: pointer; ">
                                        <img src="/Images/face/鼓掌.gif" title="" border="0" onclick="insertsmilie('[鼓掌]');" style="cursor: pointer; ">
                                        <img src="/Images/face/糗大了.gif" title="" border="0" onclick="insertsmilie('[糗大了]');" style="cursor: pointer; ">
                                        <img src="/Images/face/坏笑.gif" title="" border="0" onclick="insertsmilie('[坏笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/左哼哼.gif" title="" border="0" onclick="insertsmilie('[左哼哼]');" style="cursor: pointer; ">
                                        <img src="/Images/face/右哼哼.gif" title="" border="0" onclick="insertsmilie('[右哼哼]');" style="cursor: pointer; ">
                                        <img src="/Images/face/哈欠.gif" title="" border="0" onclick="insertsmilie('[哈欠]');" style="cursor: pointer; ">
                                        <img src="/Images/face/鄙视.gif" title="" border="0" onclick="insertsmilie('[鄙视]');" style="cursor: pointer; ">
                                        <img src="/Images/face/委屈.gif" title="" border="0" onclick="insertsmilie('[委屈]');" style="cursor: pointer; ">
                                        <img src="/Images/face/快哭了.gif" title="" border="0" onclick="insertsmilie('[快哭了]');" style="cursor: pointer; ">
                                        <img src="/Images/face/阴险.gif" title="" border="0" onclick="insertsmilie('[阴险]');" style="cursor: pointer; ">
                                        <img src="/Images/face/亲亲.gif" title="" border="0" onclick="insertsmilie('[亲亲]');" style="cursor: pointer; ">
                                        <img src="/Images/face/吓.gif" title="" border="0" onclick="insertsmilie('[吓]');" style="cursor: pointer; ">
                                        <img src="/Images/face/可怜.gif" title="" border="0" onclick="insertsmilie('[可怜]');" style="cursor: pointer; ">
                                        <img src="/Images/face/菜刀.gif" title="" border="0" onclick="insertsmilie('[菜刀]');" style="cursor: pointer; ">
                                        <img src="/Images/face/西瓜.gif" title="" border="0" onclick="insertsmilie('[西瓜]');" style="cursor: pointer; ">
                                        <img src="/Images/face/啤酒.gif" title="" border="0" onclick="insertsmilie('[啤酒]');" style="cursor: pointer; ">
                                        <img src="/Images/face/篮球.gif" title="" border="0" onclick="insertsmilie('[篮球]');" style="cursor: pointer; ">
                                        <img src="/Images/face/乒乓.gif" title="" border="0" onclick="insertsmilie('[乒乓]');" style="cursor: pointer; ">
                                        <img src="/Images/face/咖啡.gif" title="" border="0" onclick="insertsmilie('[咖啡]');" style="cursor: pointer; ">
                                        <img src="/Images/face/饭.gif" title="" border="0" onclick="insertsmilie('[饭]');" style="cursor: pointer; ">
                                        <img src="/Images/face/猪头.gif" title="" border="0" onclick="insertsmilie('[猪头]');" style="cursor: pointer; ">
                                        <img src="/Images/face/玫瑰.gif" title="" border="0" onclick="insertsmilie('[玫瑰]');" style="cursor: pointer; ">
                                        <img src="/Images/face/凋谢.gif" title="" border="0" onclick="insertsmilie('[凋谢]');" style="cursor: pointer; ">
                                        <img src="/Images/face/示爱.gif" title="" border="0" onclick="insertsmilie('[示爱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/爱心.gif" title="" border="0" onclick="insertsmilie('[爱心]');" style="cursor: pointer; ">
                                        <img src="/Images/face/心碎.gif" title="" border="0" onclick="insertsmilie('[心碎]');" style="cursor: pointer; ">
                                        <img src="/Images/face/蛋糕.gif" title="" border="0" onclick="insertsmilie('[蛋糕]');" style="cursor: pointer; ">
                                        <img src="/Images/face/闪电.gif" title="" border="0" onclick="insertsmilie('[闪电]');" style="cursor: pointer; ">
                                        <img src="/Images/face/炸弹.gif" title="" border="0" onclick="insertsmilie('[炸弹]');" style="cursor: pointer; ">
                                        <img src="/Images/face/刀.gif" title="" border="0" onclick="insertsmilie('[刀]');" style="cursor: pointer; ">
                                        <img src="/Images/face/足球.gif" title="" border="0" onclick="insertsmilie('[足球]');" style="cursor: pointer; ">
                                        <img src="/Images/face/瓢虫.gif" title="" border="0" onclick="insertsmilie('[瓢虫]');" style="cursor: pointer; ">
                                        <img src="/Images/face/便便.gif" title="" border="0" onclick="insertsmilie('[便便]');" style="cursor: pointer; ">
                                        <img src="/Images/face/月亮.gif" title="" border="0" onclick="insertsmilie('[月亮]');" style="cursor: pointer; ">
                                        <img src="/Images/face/太阳.gif" title="" border="0" onclick="insertsmilie('[太阳]');" style="cursor: pointer; ">
                                        <img src="/Images/face/礼物.gif" title="" border="0" onclick="insertsmilie('[礼物]');" style="cursor: pointer; ">
                                        <img src="/Images/face/拥抱.gif" title="" border="0" onclick="insertsmilie('[拥抱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/强.gif" title="" border="0" onclick="insertsmilie('[强]');" style="cursor: pointer; ">
                                        <img src="/Images/face/弱.gif" title="" border="0" onclick="insertsmilie('[弱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/握手.gif" title="" border="0" onclick="insertsmilie('[握手]');" style="cursor: pointer; ">
                                        <img src="/Images/face/胜利.gif" title="" border="0" onclick="insertsmilie('[胜利]');" style="cursor: pointer; ">
                                        <img src="/Images/face/抱拳.gif" title="" border="0" onclick="insertsmilie('[抱拳]');" style="cursor: pointer; ">
                                        <img src="/Images/face/勾引.gif" title="" border="0" onclick="insertsmilie('[勾引]');" style="cursor: pointer; ">
                                        <img src="/Images/face/拳头.gif" title="" border="0" onclick="insertsmilie('[拳头]');" style="cursor: pointer; ">
                                        <img src="/Images/face/差劲.gif" title="" border="0" onclick="insertsmilie('[差劲]');" style="cursor: pointer; ">
                                        <img src="/Images/face/爱你.gif" title="" border="0" onclick="insertsmilie('[爱你]');" style="cursor: pointer; ">
                                        <img src="/Images/face/NO.gif" title="" border="0" onclick="insertsmilie('[NO]');" style="cursor: pointer; ">
                                        <img src="/Images/face/OK.gif" title="" border="0" onclick="insertsmilie('[OK]');" style="cursor: pointer; ">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   </li>
                </ul>
            </div>
         </div>



   @*发表框表情模板*@