  @*评论框的模板*@
 <div id="commentInputTemplate" style=" display:none">
        <div class="huifu">
            <dl class="huifu_1">
            </dl>
            <dl class="huifu_2">
                <input id="replyContent{0}" type="text" value=""/>
            </dl>
            <dl class="huifu_3">
            </dl>
            <dl class="answer_a_wn_d">
                <dt class="answer_a_wn_d1" ><a href="javascript:void(0)" class="cbiaoqingshow" cid={0} id="cbiaoqingshow{0}">
                    <img src="/Areas/SNS/Themes/M1/Content/images/detailed_26.jpg"></a></dt>
                <dt class="answer_a_wn_d3">
                               <dl class="answer_a_wn_d3a"><input name="" type="checkbox" id="chkforward{0}" value=""></dl>
                               <dl class="answer_a_wn_d3b">转发给我的粉丝</dl>
                            </dt>
                <dd class="answer_a_wn_d2">
                    <a href="javascript:;" class="replyBtnPost" id="replyBtnPost{0}" postid="{0}" type="{1}">
                        <img src="/Areas/SNS/Themes/M1/Content/images/detailed_22.jpg"></a></dd>
                       @*  @Html.Action("WeiBoBind", "Partial")*@
            </dl>
            <div class="cbiaoqing" id="cbiaoqing{0}">
       </div>
            <div class="clear">
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $(".cbiaoqingshow").bind("click", function (e) {
                    $("#cbiaoqing" + $(this).attr("cid") + "").html($("#biaoqingTeplate").html()).hide().slideToggle(0); ;
                });
                $(".biaoqing_b1_y").die("click").live("click", function () { $(this).parent().parent().parent().hide(); });
            })
         
        </script>
    </div>
    @*评论框的模板*@ @*
    @*评论内容的模板*@
<div id="commentResultTemplate"  style=" display:none">
    <div class="tgoods_z" id="replyResult{1}" style="width: 592px; margin-bottom: 15px;">
        <div class="tgoods_z_e">
            <a href="javascript:;">
                <img style="width: 32px; height: 32px" src="/Upload/User/Gravatar/{2}.jpg"></a></div>
        <div class="tgoods_z_f" style="width: 550px;">
            <div class="tgoods_z_f1" style="width: 550px;">
                <p class="tgoods_z_f11">
                    <a href="javascript:;">{3}</a></p>
                <p class="tgoods_z_f12">
                    {4}</p>
            </div>
            <div class="tgoods_z_f2" style="width: 550px;">
                {5} <p class="dynamic_t4"><a href="javascript:;" class="replyCommentBtn" postid="{0}" replyname="{3}">回复</a></p></div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
  @*评论表情模板*@
<div id="biaoqingTeplate"  style=" display:none">
    <div class="biaoqing_a"></div>
         <div class="biaoqing_b">
            <div class="biaoqing_b1">
              <p class="biaoqing_b1_t">常用表情</p>
              <p class="biaoqing_b1_y"  style=" cursor:pointer"><img src="/Areas/SNS/Themes/M1/Content/images/biao2.jpg"></p>
            </div>
            <div class="biaoqing_b2">
                <ul>
                   <li>
                          <table>
                            <tbody>
                                <td id="biaoqing">
                                        <img src="/Images/face/微笑.gif" title="" border="0" onclick="insertsmilieToCom(this,'[微笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/撇嘴.gif" title="" border="0" onclick="insertsmilieToCom(this,'[撇嘴]');" style="cursor: pointer; ">
                                        <img src="/Images/face/色.gif" title="" border="0" onclick="insertsmilieToCom(this,'[色]');" style="cursor: pointer; ">
                                        <img src="/Images/face/发呆.gif" title="" border="0" onclick="insertsmilieToCom(this,'[发呆]');" style="cursor: pointer; ">
                                        <img src="/Images/face/得意.gif" title="" border="0" onclick="insertsmilieToCom(this,'[得意]');" style="cursor: pointer; ">
                                        <img src="/Images/face/流泪.gif" title="" border="0" onclick="insertsmilieToCom(this,'[流泪]');" style="cursor: pointer; ">
                                        <img src="/Images/face/害羞.gif" title="" border="0" onclick="insertsmilieToCom(this,'[害羞]');" style="cursor: pointer; ">
                                        <img src="/Images/face/闭嘴.gif" title="" border="0" onclick="insertsmilieToCom(this,'[闭嘴]');" style="cursor: pointer; ">
                                        <img src="/Images/face/睡.gif" title="" border="0" onclick="insertsmilieToCom(this,'[睡]');" style="cursor: pointer; ">
                                        <img src="/Images/face/大哭.gif" title="" border="0" onclick="insertsmilieToCom(this,'[大哭]');" style="cursor: pointer; ">
                                        <img src="/Images/face/尴尬.gif" title="" border="0" onclick="insertsmilieToCom(this,'[尴尬]');" style="cursor: pointer; ">
                                        <img src="/Images/face/调皮.gif" title="" border="0" onclick="insertsmilieToCom(this,'[调皮]');" style="cursor: pointer; ">
                                        <img src="/Images/face/呲牙.gif" title="" border="0" onclick="insertsmilieToCom(this,'[呲牙]');" style="cursor: pointer; ">
                                        <img src="/Images/face/惊讶.gif" title="" border="0" onclick="insertsmilieToCom(this,'[惊讶]');" style="cursor: pointer; ">
                                        <img src="/Images/face/难过.gif" title="" border="0" onclick="insertsmilieToCom(this,'[难过]');" style="cursor: pointer; ">
                                        <img src="/Images/face/酷.gif" title="" border="0" onclick="insertsmilieToCom(this,'[酷]');" style="cursor: pointer; ">
                                        <img src="/Images/face/冷汗.gif" title="" border="0" onclick="insertsmilieToCom(this,'[冷汗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/抓狂.gif" title="" border="0" onclick="insertsmilieToCom(this,'[抓狂]');" style="cursor: pointer; ">
                                        <img src="/Images/face/吐.gif" title="" border="0" onclick="insertsmilieToCom(this,'[吐]');" style="cursor: pointer; ">
                                        <img src="/Images/face/偷笑.gif" title="" border="0" onclick="insertsmilieToCom(this,'[偷笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/可爱.gif" title="" border="0" onclick="insertsmilieToCom(this,'[可爱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/白眼.gif" title="" border="0" onclick="insertsmilieToCom(this,'[白眼]');" style="cursor: pointer; ">
                                        <img src="/Images/face/傲慢.gif" title="" border="0" onclick="insertsmilieToCom(this,'[傲慢]');" style="cursor: pointer; ">
                                        <img src="/Images/face/饥饿.gif" title="" border="0" onclick="insertsmilieToCom(this,'[饥饿]');" style="cursor: pointer; ">
                                        <img src="/Images/face/困.gif" title="" border="0" onclick="insertsmilieToCom(this,'[困]');" style="cursor: pointer; ">
                                        <img src="/Images/face/惊恐.gif" title="" border="0" onclick="insertsmilieToCom(this,'[惊恐]');" style="cursor: pointer; ">
                                        <img src="/Images/face/流汗.gif" title="" border="0" onclick="insertsmilieToCom(this,'[流汗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/憨笑.gif" title="" border="0" onclick="insertsmilieToCom(this,'[憨笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/大兵.gif" title="" border="0" onclick="insertsmilieToCom(this,'[大兵]');" style="cursor: pointer; ">
                                        <img src="/Images/face/奋斗.gif" title="" border="0" onclick="insertsmilieToCom(this,'[奋斗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/咒骂.gif" title="" border="0" onclick="insertsmilieToCom(this,'[咒骂]');" style="cursor: pointer; ">
                                        <img src="/Images/face/疑问.gif" title="" border="0" onclick="insertsmilieToCom(this,'[疑问]');" style="cursor: pointer; ">
                                        <img src="/Images/face/嘘.gif" title="" border="0" onclick="insertsmilieToCom(this,'[嘘]');" style="cursor: pointer; ">
                                        <img src="/Images/face/晕.gif" title="" border="0" onclick="insertsmilieToCom(this,'[晕]');" style="cursor: pointer; ">
                                        <img src="/Images/face/折磨.gif" title="" border="0" onclick="insertsmilieToCom(this,'[折磨]');" style="cursor: pointer; ">
                                        <img src="/Images/face/衰.gif" title="" border="0" onclick="insertsmilieToCom(this,'[衰]');" style="cursor: pointer; ">
                                        <img src="/Images/face/骷髅.gif" title="" border="0" onclick="insertsmilieToCom(this,'[骷髅]');" style="cursor: pointer; ">
                                        <img src="/Images/face/敲打.gif" title="" border="0" onclick="insertsmilieToCom(this,'[敲打]');" style="cursor: pointer; ">
                                        <img src="/Images/face/再见.gif" title="" border="0" onclick="insertsmilieToCom(this,'[再见]');" style="cursor: pointer; ">
                                        <img src="/Images/face/擦汗.gif" title="" border="0" onclick="insertsmilieToCom(this,'[擦汗]');" style="cursor: pointer; ">
                                        <img src="/Images/face/抠鼻.gif" title="" border="0" onclick="insertsmilieToCom(this,'[抠鼻]');" style="cursor: pointer; ">
                                        <img src="/Images/face/鼓掌.gif" title="" border="0" onclick="insertsmilieToCom(this,'[鼓掌]');" style="cursor: pointer; ">
                                        <img src="/Images/face/糗大了.gif" title="" border="0" onclick="insertsmilieToCom(this,'[糗大了]');" style="cursor: pointer; ">
                                        <img src="/Images/face/坏笑.gif" title="" border="0" onclick="insertsmilieToCom(this,'[坏笑]');" style="cursor: pointer; ">
                                        <img src="/Images/face/左哼哼.gif" title="" border="0" onclick="insertsmilieToCom(this,'[左哼哼]');" style="cursor: pointer; ">
                                        <img src="/Images/face/右哼哼.gif" title="" border="0" onclick="insertsmilieToCom(this,'[右哼哼]');" style="cursor: pointer; ">
                                        <img src="/Images/face/哈欠.gif" title="" border="0" onclick="insertsmilieToCom(this,'[哈欠]');" style="cursor: pointer; ">
                                        <img src="/Images/face/鄙视.gif" title="" border="0" onclick="insertsmilieToCom(this,'[鄙视]');" style="cursor: pointer; ">
                                        <img src="/Images/face/委屈.gif" title="" border="0" onclick="insertsmilieToCom(this,'[委屈]');" style="cursor: pointer; ">
                                        <img src="/Images/face/快哭了.gif" title="" border="0" onclick="insertsmilieToCom(this,'[快哭了]');" style="cursor: pointer; ">
                                        <img src="/Images/face/阴险.gif" title="" border="0" onclick="insertsmilieToCom(this,'[阴险]');" style="cursor: pointer; ">
                                        <img src="/Images/face/亲亲.gif" title="" border="0" onclick="insertsmilieToCom(this,'[亲亲]');" style="cursor: pointer; ">
                                        <img src="/Images/face/吓.gif" title="" border="0" onclick="insertsmilieToCom(this,'[吓]');" style="cursor: pointer; ">
                                        <img src="/Images/face/可怜.gif" title="" border="0" onclick="insertsmilieToCom(this,'[可怜]');" style="cursor: pointer; ">
                                        <img src="/Images/face/菜刀.gif" title="" border="0" onclick="insertsmilieToCom(this,'[菜刀]');" style="cursor: pointer; ">
                                        <img src="/Images/face/西瓜.gif" title="" border="0" onclick="insertsmilieToCom(this,'[西瓜]');" style="cursor: pointer; ">
                                        <img src="/Images/face/啤酒.gif" title="" border="0" onclick="insertsmilieToCom(this,'[啤酒]');" style="cursor: pointer; ">
                                        <img src="/Images/face/篮球.gif" title="" border="0" onclick="insertsmilieToCom(this,'[篮球]');" style="cursor: pointer; ">
                                        <img src="/Images/face/乒乓.gif" title="" border="0" onclick="insertsmilieToCom(this,'[乒乓]');" style="cursor: pointer; ">
                                        <img src="/Images/face/咖啡.gif" title="" border="0" onclick="insertsmilieToCom(this,'[咖啡]');" style="cursor: pointer; ">
                                        <img src="/Images/face/饭.gif" title="" border="0" onclick="insertsmilieToCom(this,'[饭]');" style="cursor: pointer; ">
                                        <img src="/Images/face/猪头.gif" title="" border="0" onclick="insertsmilieToCom(this,'[猪头]');" style="cursor: pointer; ">
                                        <img src="/Images/face/玫瑰.gif" title="" border="0" onclick="insertsmilieToCom(this,'[玫瑰]');" style="cursor: pointer; ">
                                        <img src="/Images/face/凋谢.gif" title="" border="0" onclick="insertsmilieToCom(this,'[凋谢]');" style="cursor: pointer; ">
                                        <img src="/Images/face/示爱.gif" title="" border="0" onclick="insertsmilieToCom(this,'[示爱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/爱心.gif" title="" border="0" onclick="insertsmilieToCom(this,'[爱心]');" style="cursor: pointer; ">
                                        <img src="/Images/face/心碎.gif" title="" border="0" onclick="insertsmilieToCom(this,'[心碎]');" style="cursor: pointer; ">
                                        <img src="/Images/face/蛋糕.gif" title="" border="0" onclick="insertsmilieToCom(this,'[蛋糕]');" style="cursor: pointer; ">
                                        <img src="/Images/face/闪电.gif" title="" border="0" onclick="insertsmilieToCom(this,'[闪电]');" style="cursor: pointer; ">
                                        <img src="/Images/face/炸弹.gif" title="" border="0" onclick="insertsmilieToCom(this,'[炸弹]');" style="cursor: pointer; ">
                                        <img src="/Images/face/刀.gif" title="" border="0" onclick="insertsmilieToCom(this,'[刀]');" style="cursor: pointer; ">
                                        <img src="/Images/face/足球.gif" title="" border="0" onclick="insertsmilieToCom(this,'[足球]');" style="cursor: pointer; ">
                                        <img src="/Images/face/瓢虫.gif" title="" border="0" onclick="insertsmilieToCom(this,'[瓢虫]');" style="cursor: pointer; ">
                                        <img src="/Images/face/便便.gif" title="" border="0" onclick="insertsmilieToCom(this,'[便便]');" style="cursor: pointer; ">
                                        <img src="/Images/face/月亮.gif" title="" border="0" onclick="insertsmilieToCom(this,'[月亮]');" style="cursor: pointer; ">
                                        <img src="/Images/face/太阳.gif" title="" border="0" onclick="insertsmilieToCom(this,'[太阳]');" style="cursor: pointer; ">
                                        <img src="/Images/face/礼物.gif" title="" border="0" onclick="insertsmilieToCom(this,'[礼物]');" style="cursor: pointer; ">
                                        <img src="/Images/face/拥抱.gif" title="" border="0" onclick="insertsmilieToCom(this,'[拥抱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/强.gif" title="" border="0" onclick="insertsmilieToCom(this,'[强]');" style="cursor: pointer; ">
                                        <img src="/Images/face/弱.gif" title="" border="0" onclick="insertsmilieToCom(this,'[弱]');" style="cursor: pointer; ">
                                        <img src="/Images/face/握手.gif" title="" border="0" onclick="insertsmilieToCom(this,'[握手]');" style="cursor: pointer; ">
                                        <img src="/Images/face/胜利.gif" title="" border="0" onclick="insertsmilieToCom(this,'[胜利]');" style="cursor: pointer; ">
                                        <img src="/Images/face/抱拳.gif" title="" border="0" onclick="insertsmilieToCom(this,'[抱拳]');" style="cursor: pointer; ">
                                        <img src="/Images/face/勾引.gif" title="" border="0" onclick="insertsmilieToCom(this,'[勾引]');" style="cursor: pointer; ">
                                        <img src="/Images/face/拳头.gif" title="" border="0" onclick="insertsmilieToCom(this,'[拳头]');" style="cursor: pointer; ">
                                        <img src="/Images/face/差劲.gif" title="" border="0" onclick="insertsmilieToCom(this,'[差劲]');" style="cursor: pointer; ">
                                        <img src="/Images/face/爱你.gif" title="" border="0" onclick="insertsmilieToCom(this,'[爱你]');" style="cursor: pointer; ">
                                        <img src="/Images/face/NO.gif" title="" border="0" onclick="insertsmilieToCom(this,'[NO]');" style="cursor: pointer; ">
                                        <img src="/Images/face/OK.gif" title="" border="0" onclick="insertsmilieToCom(this,'[OK]');" style="cursor: pointer; ">
                                    </td>
                            </tbody>
                        </table>
                   </li>
                </ul>
            </div>
         </div>


     
</div>
  @*评论表情的模板*@


    @*评论内容的模板*@
 