<div id="commentTelepate" style="display: none">
        <div class="pcomentinput">
         <input id="targetid" type="hidden" />
            <div class="search_iss_a1">
                <a href="javascript:;">
                    <img style=" width:32px; height:32px" src="/Areas/SNS/Themes/M1/Content/images/single_13.jpg"></a></div>
            <div class="search_iss_a2" style=" width:161px">
                <textarea class="poster_textarea" style="height: 40px; overflow-y: hidden; width: 155px"></textarea>
             <p>  <span class="creat" ><a class="M_btn_c" href="javascript:;" action-type="album_add">
                    评论</a></span> </p> @*@Html.Action("WeiBoBind", "Partial")*@
            </div>
        </div>
    </div>