@using Maticsoft.Model;
@{
    Layout = "/Areas/CMS/Themes/M2/Views/Shared/_JKIIBaseLayout.cshtml";
}
<link href="/Areas/CMS/Themes/M2/Content/wb5188/css/xiangqing.css" rel="stylesheet" type="text/css" />

@model Shop_CardUserInfo
<style>
    .w1200 {
        width: 1200px;
    }

    .me_wl {
        margin: 0 auto;
        position: relative;
    }

    body {
        font-family: Arial,"微软雅黑","Microsoft JhengHei";
        font-size: 14px;
        color: #333333;
    }

    td.left {
        background: #fff1e4;
        font: larger;
        text-align: right;
        padding-right: 10px;
        width: 10%;
    }

    td.left1 {
        background: #fff1e4;
        font: larger;
        text-align: right;
        padding-right: 10px;
        width: 10%;
        border-right: 1px #f2d9c1 solid;
    }


    td.boder1 {
        height: 39px;
        border-bottom: 1px #f2d9c1 solid;
        border-right: 1px #f2d9c1 solid;
        padding: 5px;
    }

    td.boder12 {
        height: 41px;
        padding: 3px;
    }

    .baozhangcontent td {
        height: 39px;
        border-bottom: 1px #f2d9c1 solid;
        border-right: 1px #f2d9c1 solid;
        padding: 5px;
    }
</style>

<div style="text-align:center;margin:auto;margin-top:50px">该卡不存在或者未激活,请激活后再查看</div>
