<?xml version="1.0" encoding="utf-8" ?>
<root>
  <!--商户私钥路径-->
  <private_key_url>\UnionPay\SignKey\private_key.pem</private_key_url>
  <!--银商公钥路径-->
  <public_key_url>\UnionPay\SignKey\public_key.pem</public_key_url>
  <!--下单地址-->
  <order_url>https://140.206.74.66:6004/merFrontMgr/orderBusinessServlet</order_url>
  <!--查询订单地址-->
  <query_order_url>https://140.206.74.66:6004/merFrontMgr/orderQueryServlet</query_order_url>
  <!--商户后台接收支付结果成功通知地址，保证外网可以访问-->
  <!--<notify_url>http://www.51yundao.com/Payment/UnionPayNotify</notify_url>-->
  <!--全民付收银台地址-->
  <payment_url>https://mpos.quanminfu.com:8018/umsFrontWebQmjf/umspay</payment_url>
  <!--商户号-->
  <merId>898310154110151</merId>
  <!--终端号-->
  <merTermId>60002329</merTermId>
</root>