
 @{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
 }
 @model Maticsoft.Model.CMS.Content
<link href="/Areas/Shop/Themes/M1/Content/Css/helpv2.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .qa-con
        {
            display: inline;
            float: left;
            margin: 20px 0 0 25px;
            width: 700px;
        }
        strong {
          font-weight: bold;  
        }
    </style>

<div class="crumb">
  <a class="hp" href="/">首页</a>&gt;&nbsp;@ViewBag.AClassName－@Model.Title</div>
    <div class="gwrap">
       @Html.Action("LeftMenu", "Article", new { classid = Model.ClassID })
        <div class="helpMain grid19" id="top">
            <div class="helpMain-title f14 fb" id="dinggou">
                <b>@Model.Title</b></div>
            <div class="qa-con" style="margin-top:20px;">
               @Html.Raw(Maticsoft.BLL.Settings.SEORelationManage.FilterStr(Model.Description, true, true, false, false, false, Model.ContentID, "CMSDescription"))
            </div>
            <div class="dg_top" style="display:none;">
                <a href="javascript:;">Top</a></div>
        </div>
    </div>
 