@{
    Layout = "~/Areas/SNS/Themes/M1/Views/Shared/_UserCenterLayOut.cshtml";
}
@model Maticsoft.Web.Models.ChangePasswordModel
<!--表单验证开始-->
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery/maticsoft.jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/SNS/Themes/M1/Content/Scripts/updatepassword.js")"></script>
<!--表单验证结束-->
<div class="material_con">
    <h1>
        <p class="material_con_a">
            修改密码</p>
    </h1>
<input type="hidden" id="currentpage" value="span_3"/>
    <div class="material_con_c" style="width: 100%;">
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td width="100%" height="45px" align="right">
                        原密码：
                    </td>
                    <td width="308">
                        <input type="password" id="txtPwd" name="txtPwd" style="width: 200px; color: rgb(153, 153, 153);"
                            class="g-ipt">
                    </td>
                    <td width="195">
                        <div id="pwdTip" style="width: 280px; margin: 0px; padding: 0px; background-color: transparent;
                            background-position: initial initial; background-repeat: initial initial;">
                            <!--提示信息开始-->
                            <!--提示信息结束-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="45px" align="right">
                        新密码：
                    </td>
                    <td width="308">
                        <input type="password" id="txtNewPwd" name="txtNewPwd" style="width: 200px; color: rgb(153, 153, 153);"
                            class="g-ipt">
                    </td>
                    <td width="195">
                        <div id="newpwdTip" style="width: 280px; margin: 0px; padding: 0px; background-color: transparent;
                            background-position: initial initial; background-repeat: initial initial;">
                            <!--提示信息开始-->
                            <!--提示信息结束-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="45px" align="right">
                        确认密码：
                    </td>
                    <td width="308">
                        <input type="password" id="txtConfirmPwd2" name="txtConfirmPwd2" style="width: 200px"
                            class="g-ipt">
                    </td>
                    <td width="195">
                        <div id="confirmpwdTip" style="width: 280px; margin: 0px; padding: 0px; background-color: transparent;
                            background-position: initial initial; background-repeat: initial initial;">
                            <!--提示信息开始-->
                            <!--提示信息结束-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="45px" align="right">
                        &nbsp;
                    </td>
                    <td align="center">
                        <br />
                        <a href="javascript:void(0);" title="保存" onclick="submit();">
                            <img src="/Areas/SNS/Themes/M1/Content/images/mat_2.jpg" /></a>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>
