@{
    Layout = "/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "校园创业卡激活";
}

<link href="/Areas/MShop/Themes/M1/Content/Css/hlcard.css" rel="stylesheet" />
<link href="/Areas/MShop/Themes/M1/Content/style.css" rel="stylesheet" />

<style>
    mem_ber_pur .back {
        background: #F2F2F2;
    }

    .step ul {
        margin-left: 7px;
    }

    .step li {
        width: 33%;
    }
</style>
<script type="text/javascript">
    $(function () {
        $(".btn_active").click(function () {
            var strnumber = "HLSCARD1";//HLSCARD1
            var CardNumber = $("#CardNum").val();
            var cardnumber2 = CardNumber.trim();
            var cardnumber3 = cardnumber2.substr(0, 8);
            if (cardnumber3.toUpperCase() == strnumber.toUpperCase()) {
                $("#onloading").show();
                $(".btn-jihuo").hide();
                var cardNum = $("#CardNum").val();
                var cardNum2 = cardNum.trim();
                var cardPwd = $("#CardPwd").val();
                if (cardNum2 == "" || cardNum2 == "") {
                    ShowFailTip("请填写卡账号");
                    $("#onloading").hide();
                    $(".btn-jihuo").show();
                    return;
                } else if (cardPwd ==null || cardPwd == "")
                {
                    ShowFailTip("请填写卡号密码");
                    $("#onloading").hide();
                    $(".btn-jihuo").show();
                }
                $.ajax({
                    url: '/HlCardReq.aspx',
                    type: 'post', dataType: 'text', timeout: 10000,
                    async: false,
                    data: { action: "ACTIVE", CardNum: cardNum, CardPwd: cardPwd },
                    success: function (data) {
                        var obj = eval("(" + data + ")");
                        if (obj.STATUS) {
                            ShowFailTip("卡激活异常，请联系客服。");
                            $("#onloading").hide();
                            $(".btn-jihuo").show();
                            return;
                        }
                        if (obj.msg == "" && obj.result == "") {
                            return;
                        }
                        if (obj.msg) {
                            ShowFailTip(obj.msg);
                            $("#onloading").hide();
                            $(".btn-jihuo").show();
                        }
                        else {
                            location.href = "@(ViewBag.BasePath)Account/CampusAgreement";
                        }
                    }
                });
            }
            else {
                ShowFailTip("请输入正确的创业卡卡号！")
            }
        });
    });
</script>
<div class="top">
    <span>校园创业卡激活</span>
    @Html.Partial("/Areas/MShop/Themes/M1/Views/Partial/_HeadRight.cshtml")
</div>
<div class="mem_ber_pur">
    <ul class="back" style="background-image: none; padding: 0 1em;">
        <li class="card_a">
            <label>创业卡卡号：</label>
            <div class="us_er">
                <input type="text" id="CardNum" name="acc" />
            </div>
        </li>
        <li class="card_a">
            <label>创业卡密码：</label>
            <div class="secret_code">
                <input style="background: #cacaca;" type="password" id="CardPwd" name="pwd" />
            </div>
        </li>
        <li class="card_b"><em><span id="onloading" style="display: none">
            <img src='/Areas/Shop/Themes/M1/Content/images/load.gif'>正在请求数据，请稍等......</span></em></li>
        <li class="regi_stra_ti_on clearfix"></li>
    </ul>
    <div class="" style="padding: 0 2rem 2rem 2rem">
        <a href="#" class="red_den btn_active" style="color: #FFFFFF">立即激活</a>
        &nbsp;
        <a href="@(ViewBag.BasePath)Account/Login" class="my_zhu" style="color:#DF486E;">我要登录</a>
    </div>
</div>
<div class="step buju" style="background-image: url('/Areas/Shop/Themes/M1/Content/images/images/step.png')">
    <ul class="clearfix">
        <li class="active">
            <dl>
                <dt>第一步</dt>
                <dd>验证卡密</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>第二步</dt>
                <dd>基本资料</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>第三步</dt>
                <dd>成功激活</dd>
            </dl>
        </li>
    </ul>
</div>
