 @{
     Layout = "/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
     ViewBag.Title = "修改密码";
 }
<link href="/Areas/MShop/Themes/M1/Content/Css/UserCenter/userstyle.css" rel="stylesheet" type="text/css" />
<script src="/Areas/MShop/Themes/M1/Content/Scripts/UserCenter/updatepassword.js" type="text/javascript"></script>
<div class="top"> <span><a href="@(ViewBag.BasePath)u">&lt;返回</a></span>
        @Html.Partial("/Areas/MShop/Themes/M1/Views/Partial/_HeadRight.cshtml")
</div>
 
<div > &nbsp;</div>
@*<div class="index_h1">修改密码</div>*@
<div class="logincontent">
     <span  class="tipClass"> &nbsp; </span>  
    <div>
        <input name="txtPwd" id="txtPwd" type="password" placeholder = "原密码"  class="logininput" style="display:block; margin-bottom:20px;" />
        <div id="pwdTip"  class="txterror tipClass" >
            <span ></span>
        </div>
    </div>
 
    <div>
        <input name="txtNewPwd" id="txtNewPwd" type="password"  placeholder = "新密码" class="logininput" style="display:block;margin-bottom:20px;" />
        <div id="newpwdTip"  class="txterror tipClass" >
            <span ></span>
        </div>
    </div>
  
    <div>
        <input id="txtConfirmPwd" name="txtConfirmPwd" type="password"  placeholder = "确认密码" class="logininput"style="display:block; />
        <div id="confirmpwdTip"  class="txterror tipClass" >
            <span ></span>
        </div>
    </div>
    <div>
        @*<input type="button" value="修改密码" id="order_tuan_submit" onclick="submit();" class="sub_btn">*@
        <a href="javascript:void(0);" id="order_tuan_submit" onclick="submit();" style="color:white; font-size:16px;" class="sub_btn">修改密码</a>
    </div>
</div>
