@model List<Maticsoft.Model.CMS.Content>
<ul class="dao_wl"> 
              @foreach(var m in Model)
               {
            	     <li>
                	   <img src="/Areas/CMS/Themes/M2/Content/wb5188/images/zxw11.png" />
                        <a href="#" target="_blank">@m.Title</a>
                        <div class="c"></div>
                    </li>
                
               }
            </ul>