<link href="/Areas/Shop/Themes/M1/Content/jkcnewimages/base.css" rel="stylesheet" type="text/css" />
<link href="/Areas/Shop/Themes/M1/Content/jkcnewimages/main.css" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='/Areas/Shop/Themes/M1/Content/jkcnewimages/accordion.js'></script>
<div style="width:100%;height:auto; float:left;background:url(/Areas/Shop/Themes/M1/Content/jkcnewimages/bannertop.jpg) no-repeat center top;">
<div style="width:1004px;height:auto; margin:0px auto;">
<div id="headbg1">
<div id="logo"></div>
<div id="quick"><a href="" class="lx">联系我们</a>&nbsp;<a href="" class="lx">收藏本站</a></div>
</div>
<div id="headbg2">
     <div id="title">
<ul id="link">
	<li class="LNo1"></li>
	<li class="LNo2" ><a href="#" class="a_link" >网站首页</a></li>
    <li class="LNo3"></li>
	<li class="LNo2" ><a href="/Account/JkCard" class="a_link" >在线激活</a></li>
    <li class="LNo3"></li>
	<li class="LNo2" ><a href="#" class="a_link" >健康服务</a></li>
    <li class="LNo3"></li>
	<li class="LNo2" ><a href="#" class="a_link" >健康商城</a></li>
    <li class="LNo3"></li>
	<li class="LNo2" ><a href="#" class="a_link" >保险超市</a></li>
    <li class="LNo3"></li>
    <li class="LNo2" ><a href="#" class="a_link" >保险学堂</a></li>
    <li class="LNo3"></li>
    <li class="LNo2" ><a href="#" class="a_link" >兑换中心</a></li>
    <li class="LNo3"></li>
    <li class="LNo2" ><a href="#" class="a_link" >加盟合作</a></li>
    <li class="LNo4">
    </li> 
</ul>
</div>
   
</div>

    <div class="zpmenu">
	<dl id="slider2">
		<dt class="open"><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/01.jpg"  /></dt>
		<dd>
			<div class="zpinfor">
	    <img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/s1.jpg"  />
			</div>
		</dd>
		<dt><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/02.jpg"  /></dt>
		<dd>
			<div class="zpinfor">
		<img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/s2.jpg"  />
			</div>
		</dd>
		<dt><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/03.jpg"  /></dt>
		<dd>
			<div class="zpinfor">
		<img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/s3.jpg"  />
			</div>
		</dd>
		<dt><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/04.jpg"  /></dt>
		<dd>
			<div class="zpinfor">
		<img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/s4.jpg"  />
			</div>
		</dd>
		<dt><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/05.jpg"  /></dt>
		<dd>
			<div class="zpinfor">
		<img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/s5.jpg"  />
			</div>
		</dd>
	</dl>
</div>
   <script type="text/javascript">
       var slider2 = new accordion.slider("slider2");
       slider2.init("slider2", 0, "open");
</script>
<div id="box" >
    <div id="zhong">
          
          <div id="main1">
                <div id="top1">
                <div style="width:249px; height:auto; float:left;margin-right:15px;">
                <div id="denglu">
				<form style="width:230px; height:230px;float:left; margin-left:8px;margin-top:55px;">
                <table width="230" height="170" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" align="center"><input name="radio" type="radio" id="radio" value="radio" checked="checked" />
                      个人会员
                      <input type="radio" name="radio2" id="radio2" value="radio2" />
                      企业会员</td>
                    </tr>
                  <tr>
                    <td align="left" >用户名：</td>
                    <td width="150" align="left"><input type="text" name="textfield3" id="textfield3"  style="width:150px; height:25px;" /></td>
                  </tr>
                  <tr>
                    <td align="left" >密码：</td>
                    <td width="150" align="left" ><input type="text" name="textfield3" id="textfield3"  style="width:150px; height:25px;" /></td>
                  </tr>
                  <tr>
                    <td align="left" >验证码：</td>
                    <td width="150" align="left"><input type="text" name="textfield3" id="textfield3"  style="width:150px; height:25px;" /></td>
                  </tr>
                  <tr>
                    <td align="left" width="65"><label>自动登录：</label></td>
                    <td align="left" width="150" ><input type="checkbox" name="checkbox" id="checkbox" /></td>
                  </tr>
                </table>
                <hr style="margin-bottom:20px;" />
               <a href=""> <img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/1.png" /></a>
                <a href=""><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/2.png" /></a>
                <a href=""><img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/3.png" /></a>
				</form>
                
                </div>
                <div style="width:249px; height:237px; float:left; background:url(/Areas/Shop/Themes/M1/Content/jkcnewimages/news.jpg) no-repeat; margin-top:15px;"><div id="tit"><span class="jiankang" style="padding-left:0px;">新闻资讯</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div></div>
                <div style="width:249px; height:237px; float:left; background:url(/Areas/Shop/Themes/M1/Content/jkcnewimages/hezuo.jpg) no-repeat; margin-top:15px;"><div id="tit"><span class="jiankang" style="padding-left:0px;">合作伙伴</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div>
                <div style="width:239px; height:auto; float:left; text-align:left; font-size:13px; line-height:24px; margin-left:10px; margin-top:15px;">•江苏爱建保险代理有限公司<br />
•江苏新一站保险代理有限公司<br />
•上海中元保险经纪公司<br />
•上海海浩民健康咨询有限公司<br />
•上海XXX体检中心<br />
•上海、北京、南京各大医院<br /> 
</div></div>
                </div>
                <div style="width:740px; height:auto; float:left;">
                <div id="si">
				<div id="fen" style="margin-right:15px;"><div id="tit"><span class="jiankang">健康新闻</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div><div style="width:135px; height:37px; float:left;margin-top:10px;"></div>
                <img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/txt1.jpg" width="123" height="148" style="float:left; padding:17px 10px 0px 10px;"><div style="width:210px; height:148px;float:left;padding-top:15px;font-size:10px;line-height:15px;">三条饮食建议让你远离痛风“黑手”<br />
英餐厅巨无霸早餐被指“吃完会引发心脏病”<br />
未来一周内 北京增两成急救车应对强降雪<br />
专注骨关节医疗技术 力达康新品亮相COA国际学术大会<br />
儿子拔掉脑死亡母亲呼吸管“安乐死”立法问题呼声再起<br />
健康美业创新创业研讨会关注健康产业<br />
</div> </div>
				<div id="fen"><div id="tit"><span class="jiankang">保险资讯</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div><div style="width:135px; height:37px; float:left;margin-top:10px;"></div>
                <img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/txt2.jpg" width="123" height="148" style="float:left; padding:17px 10px 0px 10px;"><div style="width:200px; height:148px;float:left;padding-top:10px;font-size:10px;line-height:15px;">15天认购5个亿 信诚“瑞享金生”年金保险强势回归<br />
微众银行携手国华人寿 银保合作开启新模式<br />
阳光人寿逆市英雄“创富一号”再度来袭<br />
中国人寿推出“鑫福年年”组合产品<br />
弘康人寿公益众筹成功 专项捐助天津消防<br />
购物狂欢盛宴 如何规避盗刷风险<br />
互联网人身险保费主要靠第三方平台<br />
</div> </div>
                <div id="fen" style="margin-right:15px;"><div id="tit"><span class="jiankang">健康商城</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div><div style="width:135px; height:37px; float:left;margin-top:10px;"></div>
				<img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/txt3.jpg" width="123" height="148" style="float:left; padding:17px 10px 0px 10px;"><div style="width:200px; height:148px;float:left;padding-top:17px; line-height:18px;">•体检套餐<br />
•口腔产品<br />
•家庭医疗器械<br />
•营养保健品<br />
•滋补养生/滋补品<br />
•美妆护理<br />
•日用百货<br />
•家用电器<br />
•商城代金卡<br />
 </div> </div>
                <div id="fen"><div id="tit"><span class="jiankang">保险超市</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div><div style="width:135px; height:37px; float:left;margin-top:10px;"></div>
				<img src="/Areas/Shop/Themes/M1/Content/jkcnewimages/txt4.jpg" width="123" height="148" style="float:left; padding:17px 10px 0px 10px;"><div style="width:200px; height:148px;float:left;padding-top:10px; line-height:16px;">旅游险<br />
疾病医疗保障  意外医疗保障<br />
意外险<br />
意外医疗保障  高额自驾车保<br />
健康险<br />
少儿专款  住院费用报销<br />
家财险<br />
盗抢损失  便携家电<br />
人寿险<br />
理财险<br />
私家车险<br />

 </div> </div>
				</div>
               <div style="width:740px; height:122px; float:left; margin-bottom:10px;background:url(/Areas/Shop/Themes/M1/Content/jkcnewimages/jiang.jpg) no-repeat left;">
               <div id="tit"><span class="jiankang" style="padding-left:0px;">兑奖中心</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div>
               </div>
                     <div style="width:355px; height:185px; float:left; background:url(/Areas/Shop/Themes/M1/Content/jkcnewimages/zhishi.jpg) no-repeat left; margin-right:15px;">
                     <div id="tit"><span class="jiankang" style="padding-left:0px;">健康知识</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div>
                     <div style="width:330px; height:auto; float:left; text-align:left; line-height:36px; font-size:13px; padding-left:30px; margin-top:15px;">•基因与健康1<br />
•基因与健康2<br />
•基因与健康3<br />
</div>
                     </div>
                   <div style="width:355px; height:185px; float:left; background:url(/Areas/Shop/Themes/M1/Content/jkcnewimages/tool.jpg) no-repeat left;">
                     <div id="tit"><span class="jiankang" style="padding-left:0px;">健康工具</span><span class="more1"><a href="#" class="a_right1">更多>></a></span></div>
                     </div>
                      </div>
                </div>
                <!--结束id="top1"-->
              
            
				
                  <div id="product">
                            <div id="product_tit"></div>
                            <div id="product_txt">
                                  <!--以下是首页产品展示部分-->
                                  <div id="demo" style="height:auto;width: 785px; margin: 0px; padding-left:0px; text-align:center; overflow:hidden">
                                        <table>
                                              <tr>
                                                    <td id="demo1"><table>
                                                         
													 <tr>
                                                             
                                                                <td><div style="width:140px; height:81px;  margin-right:8px; margin-top:8px;">
                                                                      <ul style="height:81px;">
                                                                            <li style="height:81px; width:140px; text-align:center;"><a href="#" class="a_indexproduct"><img  style=" width:140px; height:81px; border:0px; padding:5px 5px 5px 5px; " src="/Areas/Shop/Themes/M1/Content/jkcnewimages/tu.jpg" title="" /></a></li>
                                                                      </ul>
                                                                      
                                                                </div></td>
                                                               <td><div style="width:140px; height:81px;  margin-right:8px; margin-top:8px;">
                                                                      <ul style="height:81px;">
                                                                            <li style="height:81px; width:140px; text-align:center;"><a href="#" class="a_indexproduct"><img  style=" width:140px; height:81px; border:0px; padding:5px 5px 5px 5px; " src="/Areas/Shop/Themes/M1/Content/jkcnewimages/tu.jpg" title="" /></a></li>
                                                                      </ul>
                                                                      
                                                                </div></td>
                                                                 <td><div style="width:140px; height:81px;  margin-right:8px; margin-top:8px;">
                                                                      <ul style="height:81px;">
                                                                            <li style="height:81px; width:140px; text-align:center;"><a href="#" class="a_indexproduct"><img  style=" width:140px; height:81px; border:0px; padding:5px 5px 5px 5px; " src="/Areas/Shop/Themes/M1/Content/jkcnewimages/tu.jpg" title="" /></a></li>
                                                                      </ul>
                                                                      
                                                                </div></td>
                                                                 <td><div style="width:140px; height:81px;  margin-right:8px; margin-top:8px;">
                                                                      <ul style="height:81px;">
                                                                            <li style="height:81px; width:140px; text-align:center;"><a href="#" class="a_indexproduct"><img  style=" width:140px; height:81px; border:0px; padding:5px 5px 5px 5px; " src="/Areas/Shop/Themes/M1/Content/jkcnewimages/tu.jpg" title="" /></a></li>
                                                                      </ul>
                                                                      
                                                                </div></td>
                                                                 <td><div style="width:140px; height:81px;  margin-right:8px; margin-top:8px;">
                                                                      <ul style="height:81px;">
                                                                            <li style="height:81px; width:140px; text-align:center;"><a href="#" class="a_indexproduct"><img  style=" width:140px; height:81px; border:0px; padding:5px 5px 5px 5px; " src="/Areas/Shop/Themes/M1/Content/jkcnewimages/tu.jpg" title="" /></a></li>
                                                                      </ul>
                                                                      
                                                                </div></td>
                                                          </tr>	  
														 
														 
                                                    </table></td>
                                                    <!--结束id="demo1"-->
                                                    <td id="demo2" ></td>
                                              </tr>
                                        </table>
                                  </div>
                                  
                                  <!--结束id="demo"-->
                               
                                  <!--以上是产品展示部分-->
                            </div>
                      </div>
                    
                    <div id="foot"><span style="padding-left:80px; float:left; text-align:left;">999健康服务网 &nbsp; 版权所有 </span><span style="padding-right:20px; float:right; text-align:left;">首页 | 公司简介 | 企业文化 |  专家团队 | 合作伙伴 | 加盟服务 | 联系我们</span></div>
          </div>
          <!--结束id="main"-->
    </div>
    <!--结束id="zhong"-->
</div>
<!--结束id="box"-->

</div>
</div>



