@{
    ViewBag.Title = "TopAD";
}
<style type="text/css">
    
.push_button{
position:relative;
}
.push_button a img{
position:absolute;
top:0;
left:1175px;
}


</style>

<script>
    //$(function () {
        $("#close").click(function () {
            $(".top_AD").slideUp();
        });
    })
</script>

<div class="top_AD">
    <div class="wrapper">
       @* <a href="http://www.zhenhaolin.com/dm/fan/index.html">
            <div class="push_button"><a href="http://www.zhenhaolin.com/dm/fan/index.html"><img id="close" src="/Areas/Shop/Themes/M1/Content/images/images/AD/banner_ll_01_02.png" /></a></div>
            <div><a href="http://www.zhenhaolin.com/dm/fan/index.html"><img src="/Areas/Shop/Themes/M1/Content/images/images/AD/indexbanner.gif" width="1200" height="70"/></a></div>*@
            @*<img src="/Areas/Shop/Themes/M1/Content/images/images/AD/indexbanner.gif" />*@</a>
    </div>
</div>
