@model   Maticsoft.Model.SNS.Posts
@{
    Layout = "~/Areas/SNS/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
    音频详细页
    </div>
</body>
</html>
