<nav class="navbar navbar-default navbar-static-top" role="navigation" style="clear:both">   
    <div class="container-fluid">       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            <ul class="nav navbar-nav">
                <li  style="width:200px" id="liMenu1"><a href="/SalesCardsSearch/ActivatedCardReport" style="width:200px">团队卡量报表</a></li>
                <li style="width:200px" id="liMenu2"><a href="/SalesCardsSearch/ActivatedCardSearch" style="width:200px">激活信息查询</a></li>
                <li style="width:200px" id="liMenu3"><a href="/SalesCardsSearch/Logout" style="width:200px">退出登录</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
