 
@using Maticsoft.Common;
@using Webdiyer.WebControls.Mvc
@model PagedList<Maticsoft.Model.Members.SiteMessage>
@if (null != Model)
{
    <table width="100%" border="0" class="user_dingdan" cellspacing="0" cellpadding="0">
    @foreach (var item in Model)
    {
        <tr>
            <td class="bor" style="width:108px;">  <img src="/Areas/Shop/Themes/M1/Content/images/admin.jpg" width="48px" height="48px" onerror="this.onerror='';this.src='/Upload/User/Gravatar/nophoto.png'" /></td>
            <td class="bor" style="text-align:left; padding-left:20px;"> <p class="letters_bs_b1">
                <a >@item.SenderUserName</a></p>
            <p class="letters_bs_b2">
                    @(string.IsNullOrEmpty(item.Title)?"":item.Title+":")@item.Content<a href="javascript:;"></a></p>
            <div class="letters_bs_b3">
                <p class="letters_bs_b31">
                    @item.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")
                <p class="letters_bs_b32" style="display:none;">
                    <a href="javascript:;">回复</a></p>
                
            </div></td>
        </tr>
    }
    </table>
    <center>
    <!--jQuery Ajax Paging Start-->
    @Html.AjaxPager(Model, new PagerOptions()
{
    CssClass = "in_pages",
    PageIndexParameterName = "page",
    NumericPagerItemCount = 5,
    NumericPagerItemWrapperFormatString = "<p>{0}</p>",
    NavigationPagerItemWrapperFormatString = "<p>{0}</p>",
}, new AjaxOptions() { UpdateTargetId = "SysInfoList" })
    <!--jQuery Ajax Paging End-->
</center>
}
<!-- FansList BEGIN -->

