@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_UserCenterLayout.cshtml";
}
@model Maticsoft.ViewModel.Shop.ChangePasswordModel 
<link rel="stylesheet" type="text/css" href="/Areas/Shop/Themes/M1/Content/Css/msg,btn,form,reg-base,reg.css?v=12022713" />
<!--表单验证开始-->
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery/maticsoft.jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Shop/Themes/M1/Content/Scripts/UserCenter/updatepassword.js")"></script>
<!--表单验证结束-->
@*<ul class="crumb w980">
    <li class="crumb-hp"><a title="首页" href="/">首页</a></li>
    <li><a href="@(ViewBag.BasePath)UserCenter/">我的商城</a> </li>
</ul>*@
<div class="U-R">
    <!-- 用户信息 E -->
    <div class="U-R-T1">
        <div class="clearfix U-R-Tbg">
            <h3 class="fL">修改密码</h3>
        </div>
    </div>

    <div class="J_tab_panel">
        <div class="material_con">
            <input type="hidden" id="currentpage" value="span_3" />
            <div class="material_con_c" style="width: 100%;">
                <div class="f-box" style="margin-top: 20px;">
                    <label class="f-label">
                        原密码：</label>
                    <div class="f-input">
                        <input type="password" id="txtPwd" name="txtPwd" style="border: solid 1px rgba(128, 128, 128, 0.56); height: 24px" maxlength="40" class="f-txt-b f-txt">
                    </div>
                    <div class="f-msg">
                        <div id="pwdTip">
                        </div>
                    </div>
                </div>
                <div class="f-box">
                    <label class="f-label">
                        新密码：</label>
                    <div class="f-input">
                        <input type="password" id="txtNewPwd" style="border: solid 1px rgba(128, 128, 128, 0.56); height: 24px" name="txtNewPwd" maxlength="40" class="f-txt-b f-txt">
                    </div>
                    <div class="f-msg">
                        <div id="newpwdTip">
                        </div>
                    </div>
                </div>
                <div class="f-box">
                    <label class="f-label">
                        确认密码：</label>
                    <div class="f-input">
                        <input type="password" style="border: solid 1px rgba(128, 128, 128, 0.56); height: 24px" id="txtConfirmPwd" name="txtConfirmPwd" maxlength="40" class="f-txt-b f-txt">
                    </div>
                    <div class="f-msg">
                        <div id="confirmpwdTip">
                        </div>
                    </div>
                </div>
                <div class="fb f-act">
                    <span style="background-image: url('/Areas/Shop/Themes/M1/Content/images/images/userCenter/bc.jpg');height:30px;width:91px; display:block; text-align:center;padding-top:5px">
                        <a href="javascript:;" style="color: white; " onclick="submit();" id="btnUpdatepersonal">确认修改</a>
                    </span>
                    <div class="f-msg">
                        <div id="divRegTip">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






