@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
<link href="/Areas/Shop/Themes/M1/Content/Css/css/hlcardactive/activestep2.css" rel="stylesheet" />
<div class="big_backdrop">
    <div class="white_background">
        <div class="protocol_script clearfix">
            <div class="procedure_bz">
                <span>成功激活</span>
                <div class="step buju">
                    <ul class="clearfix">
                        <li>
                            <dl>
                                <dt>第一步</dt>
                                <dd>验证卡号及密码</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>第二步</dt>
                                <dd>基本资料</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>第三步</dt>
                                <dd>确认协议</dd>
                            </dl>
                        </li>
                        <li class="active">
                            <dl>
                                <dt>第四步</dt>
                                <dd>成功激活</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="activation_ka">
            <span></span>
            <b>恭喜您成功激活健康卡！！</b>
            <b>您已成为健康商城尊敬的会员,赶紧来我们商城体验一下吧。</b>
        </div>
        <div class="detriment_nk">
            <a href="/">
                <img src="/Areas/Shop/Themes/M1/Content/images/images/gouwu_1_07.png" width="110" height="29" /></a>
            <a href="/UserCenter/Orders">
                <img src="/Areas/Shop/Themes/M1/Content/images/images/zhonxin_1_09.png" width="109" height="29" /></a>
        </div>
    </div>
</div>