<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>健康卡</title>
<meta name="Keywords" content="健康卡" />
<meta name="Description" content="健康卡" />
<link href="/Areas/Shop/Themes/M1/Content/Css/css/hlcardactive/RegAgreement.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script> 
    <script>
        $(function () {
            $("#btn_next").click(function () {
                if (!$("#agreement").attr("checked")) { alert("请同意注册协议！"); return }
                location.href = "/Account/HLCardActive";
            })
        })

    </script>
</head>

<body>
	<div class="big_backdrop">
		<div class="white_background">
			<div class="protocol_script ">
				<div class="procedure_bz clearfix">
					<span>健康商城会员注册协议</span>
					<div class="step buju">
						<ul class="clearfix">
							<li class="active">
								<dl>
									<dt>第一步</dt>
									<dd>验证卡号及密码</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>第二步</dt>
									<dd>基本资料</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>第三步</dt>
									<dd>确认协议</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>第四步</dt>
									<dd>成功激活</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="agreement_pt">
					<p>欢迎您申请注册成为健康网上商城会员！在您注册成为健康网上商城会员前，请您仔细阅读本会员注册协议。</p>
					<p> 当您选择“同意《健康网上商城会员注册协议》” 并完成注册程序，即表示您自愿接受本会员注册协议，正式成为健康网上商城会员。如果您不接受本会员注册协议，请停止并退出注册程序。</p>
                    <p>本协议由您与上海健康电子商务有限公司共同缔结，本协议具有合同效力，受中国现行法律保护</p>
					<p> 一、服务说明</p>
					<p>（1）健康公司为广大会员及会员提供网上购物，团购活动，酒店、机票预订等一系列相关服务，会员在“健康商城”购买商品享受返现、折扣和积分服务。</p>
					<p>（2）会员凭此卡在健康联盟商家享受会员折扣服务。</p>
					<p>（3）会员卡仅供本人使用，转借他人使用无效。<p>
					<p>（4）会员尊享意外保障服务，会员注册时即表示同意公司为其投保，,保险生效时间以保险公司生效时间为准。</p>
                    <p>（5）健康网上商城根据公司发展及业务进展需要，有权对会员所享受的服务进行适当的调整，健康网上商城会通过网站系统进行提示，您需要密切关注该等调整。</p>
					<p>二、定义：</p>
					<p>1．健康网上商城（以下简称“健康商城”）是由上海健康电子商务有限公司依托健康网上商城（www.zhenhaolin.com）打造的一个直面终端用户的全渠道（双向O2O）整合营销模式购物平台。由上海健康电子商务有限公司、健康网上商城（www.zhenhaolin.com）以及健康商城联盟商户共同组成。
    健康网上商城将作为健康的交易处理、内容及信息发布的唯一网站。</p>
					<p> 2．会员：系指经健康网上商城注册，接受并同意本协议全部条款及健康商城发布的其他服务条款和信息的具有完全民事行为能力的自然人、法人及其他合法组织。</p>
					<p> 三、交易规则：</p>
					<p>1．会员在健康网上商城浏览商品、服务的信息时，应当仔细阅读信息中包含的全部内容，包括但不限于商品、服务的名称、种类、规格型号、价格、数量、质量、订单有效期、预约时间、商户地址、营业时间、配送方式、退换货方式、退款条件、售后服务等内容，其中会员应特别注意订单有效期、预约时间、商户地址、营业时间、退换货方式、退款条件等内容，会员必须完全接受信息中包含的全部内容后方可购买。</p>
					<p> 2．提交及确认订单：会员在下单时，请仔细核对、确认所购商品、服务的内容。收货人与会员本人不一致的，收货人的行为和意思即视为会员的行为和意思，会员应对收货人的行为及意思的法律后果承担连带责任。</p>
					<p>3．除法律另有规定外，双方约定如下：<p>
					<p>   （1）健康网上商城上所展示的商品和价格等信息仅仅是对该商品展示及对您购买的要约邀请，您下单时须填写您希望购买的商品数量、价格及支付方式、收货人、联系方式、收货地址（合同履行地点）、合同履行方式等内容。</p>
					<p> （2）系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向健康商城发出的合同要约。<p>
					<p>（3）健康商城收到您的订单信息后，只有在健康平台之一方将您在订单中订购的商品实际直接向您发出时（以商品出库为标志），方视为您与健康商城之间就实际直接向您发出的商品建立了合同关系；如果您在一份订单里订购了多种商品并且健康商城之一方向您发出了部分商品时，您与健康商城仅就实际直接向您发出的商品建立了合同关系。</p>
                    <p> 4．您可以随时登陆您在健康商城注册的账户，查询您的订单状态。</p>
                    <p>5．订单取消：</p>
                    <p>（1）由于市场变化及各种以合理商业努力难以控制的因素的影响，健康无法保证您提交的订单信息中希望购买的商品始终有货；如您欲购买的商品发生缺货情况，您有权取消订单。</p>
					<p>（2）如果发生了意外情况，在确认了您的订单后，由于成本提高，税额变化引起的价格变化，或是由于健康网上商城的错误等造成商品价格变化，您有权取消您的订单，并希望您能及时通过电子邮件或电话通知健康商城客户服务中心。<p>
					<p>（3）健康商城如果发现健康网上商城出现产品信息及订单的明显错误或缺货时，有权单方面撤回任何承诺。同时，健康保留对产品订购数量的限制权，并以合适的方式提醒您。</p>
					<p> 6．配送：</p>
					<p> 健康商城将安排最适合会员需求的平台之一方把商品或服务送到您所指定的收货地址，所有在健康商城上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。<p>
					<p> 因如下情况造成订单延迟或无法配送等，健康商城不承担延迟配送的责任：</p>
					<p>（1）会员提供的信息错误、地址不详细等原因导致的；</p>
                    <p>（2）货物送达后无人签收，导致无法配送或延迟配送的；</p>
                    <p>（3）情势变更因素导致的；</p>
                    <p>（4）不可抗力因素导致的，例如：自然灾害、戒严、罢工、突发战争等。</p>
					<p> 7．验证码条款：</p>
					<p> 当您使用健康商城的过程中，健康将根据不同情况发送验证码到您登记的手机号码或电子邮箱，验证码将作为您的唯一凭证。每个验证码仅可使用一次，因验证码泄露造成的后果，由您自己承担。发现验证码泄露后，您应及时向健康商城反馈，以免给您造成更大的损失。</p>
					<p> 8．商品信息：</p>
					<p> 健康商城的商品价格、数量、是否有货等商品信息随时都有可能发生变动，健康商城不另作特别通知。同时由于健康网上商城中商品信息的数量庞大，虽然健康商城会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，健康网上商城的网页显示的信息可能会有一定的滞后性或差错，对此情形请您知悉并理解。</p>
					<p>如果发现错误定价，健康将采取下列之一措施：</p>
					<p>(1)遇到某一商品的正确定价低于健康商城的错误定价，健康将按照较低的定价向您交付该商品；</p>
					<p> (2)遇到某一商品的正确定价高于健康商城的错误定价，健康会根据自身情况决定：是否在交付前联系您寻求指示；或者取消订单、停止发货并通知您。</p>
					<p> 四、会员的权利与义务：</p>
					<p> 1．会员有权按照本协议享受健康商城提供的交易服务等各种通常服务及增值服务。</p>
                    <p>2．会员在购买商品、服务的过程中，如发现商品、服务与订单内容不符或存在质量、服务态度等其他问题的，有权要求健康商城积极处理。</p>
                    <p> 3．会员有权选择是否接受健康商城发送的电子邮件或短消息等各类信息，有权随时取消接受该类信息。</p>
                    <p>4．会员可以发表评论、晒单等信息，但不得发表任何违法、违规、违反公序良俗、侵犯他人权益或存在其他危害的信息或言论。</p>
                    <p> 5．会员有权随时终止使用健康商城服务。</p>
                    <p> 6．会员应如实向健康商城提供注册资料，并同意其提供的注册资料真实、详尽、准确、完整、合法有效；会员注册资料如有变动的，应及时更新其注册资料。如果会员提供的注册资料不合法、不真实、不准确、不详尽的，会员需承担因此引起的相应的法律责任及后果，并且健康保留终止会员使用健康商城各项服务的权利。</p>
                    <p>7．会员必须自行准备如下设备并承担如下开支：</p>
                    <p>(1)上网设备，包括并不限于电脑、智能手机等移动上网终端、调制解调器及其他必备的上网装置；</p>
                    <p> (2)个人上网所支付的与此服务有关各项费用，包括并不限于网络接入费、上网设备租用费、手机流量 费等。</p>
                    <p> 8．会员不得以任何技术手段或其他方式干扰健康的正常运行或干扰其他用户对健康的使用。</p>
                    <p> 9．会员在订单提交并成功确认后应积极配合接收货物并支付货款。</p>
                    <p>10．会员不得以虚构事实等方式恶意诋毁健康的商誉。</p>
                    <p>11．会员不得对健康商品、服务进行虚假评价或虚假投诉。</p>
                    <p>五、健康商城的权利与义务：</p>
                    <p>1．健康商城保留随时因修整或中断服务而不知会会员的权利，不需对会员或第三方负责。</p>
                    <p>2．健康商城有权向会员就注册资料发出询问或要求改正的通知，并有权直接做出删除相应不实的处理，直至终止对会员提供部分或全部服务，健康商城对此不承担任何责任。</p>
                    <p>3．会员违反本注册协议，健康商城有权视情节的轻重采取警告、暂停服务、取消订单、封闭账号、永久禁止注册等措施，给健康或第三方造成损失的，健康有权采取一切合法的诉讼与非诉手段进行索赔；会员行为构成犯罪的，健康将保留向国家司法行政机关提请追究其刑事责任的权利。</p>
                    <p>4．健康有权随时删除网站内各类不符合国家法律法规、规范性文件或网站规定的用户评价等内容信息，健康行使上述权利不需提前通知会员。</p>
                    <p>  5．健康应当采取必要的技术手段和管理措施保障健康商城的正常运行，并提供必要、可靠的交易环境和交易服务，维护交易秩序。</p>
                    <p>6．健康应当建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障会员提问及投诉渠道的畅通，为会员提供及时的疑难解答与投诉反馈。</p>
                    <p> 六、账户及管理：</p>
                    <p> 1．会员注册成功后，将产生用户名和密码等账户信息，您可以根据本平台规定改变您的密码。会员应谨慎合理的保存、使用其用户名和密码。</p>
                    <p> 2．会员若发现任何不当使用您的账户或有任何其他可能危及您的账户安全的情形时，请立即以有效方式通知健康，要求健康暂停相关服务。健康有权在合理时间内对用户的此类请求采取行动，但对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
                    <p> 七、会员隐私条款：</p>
                    <p>会员在健康进行浏览、下单购物等活动时，涉及会员真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，健康商城将予以严格保密，除非法律许可要求健康透露以上内容。</p>
                    <p>八、协议修订及用户关注：</p>
                    <p>1．根据国家法律法规变化及网站运营需要，健康有权对本协议条款不定期地进行修改，修改后的协议一旦被张贴在健康网上商城即生效，并代替原来的协议。</p>
                    <p> 2．会员可随时登陆查阅最新协议；会员有义务及时关注并阅读最新版的协议及网站公告。如会员不同意更新后的协议，可以且应立即停止接受健康依据本协议提供的服务；如会员继续使用健康提供的服务的，即视为同意更新后的协议。</p>
                    <p> 3． 健康建议您在使用健康商城之前仔细阅读本协议及健康商城的其他相关公告。 如果本协议中任何一条被视为无效或因任何理由不可执行，则该条应视为可分的，且不影响任何其余条款的有效性和可执行性。</p>
                    <span> 九、责任限制及不承诺担保：</span>
                    <p> 1．除非另有明确的书面说明，健康商城及其所包含的或以其它方式通过健康网上商城提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在“按现状”和“按现有”的基础上提供的。</p>
                    <p> 2．除非另有明确的书面说明健康不对健康网上商城的运营及其包含在该商城上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。</p>
                    <p> 3．如因不可抗力或其它健康无法控制的原因使健康网上商城的销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，健康会合理地尽力协助处理善后事宜。</p>
                    <p> 4．健康承担的因合同、侵权（包括过失）等引起责任所涉及的赔偿金额额度，均不会超过您所购买的商品的金额。</p>
                    <p>十、知识产权：</p>
                    <p> 1．会员一旦接受本协议，即表明该会员主动将其在任何时间段在健康网上商城发表的任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等信息内容）的财产性权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给健康所有，会员同意健康有权就任何主体侵权而单独提起诉讼。</p>
                    <p> 2．本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权转让书面协议，其效力给予用户在健康网上商城上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。</p>
                    <p>3．会员同意并已充分了解本协议的条款，承诺不将已发表于健康网上商城的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。</p>
                    <p> 4．上海健康电子商务有限公司是健康网上商城的制作者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不定期地对本协议及健康网上商城的内容进行修改，并在健康网上商城张贴，无须另行通知用户。在法律允许的最大限度范围内，上海健康电子商务有限公司对本协议及健康网上商城内容拥有解释权。</p>
                    <p> 5．除法律另有规定外，未经上海健康电子商务有限公司明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用健康网上商城的信息内容，否则，上海健康电子商务有限公司有权追究其法律责任。</p>
                    <p>6．健康网上商城所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是上海健康电子商务有限公司或其内容提供者的财产，受中国和国际版权法的保护。健康网上商城上所有内容的汇编是上海健康电子商务有限公司的排他财产，受中国和国际版权法的保护。健康网上商城上所有软件都是上海健康电子商务有限公司或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。</p>
                    <p>十一，关于赠送会员保险</p>
                    <p>1、本公司不具备销售保险的资质，但是，依据《保险法》及相关法规，若会员同意本公司为其投保意外保险（受益人为会员的法定继承人），或者同意本公司向其赠送保险，会员通过本公司所获得的保险完全合法有效，该保险由国内具有合法资质的保险公司的总部、或者省公司、或者保监会批准的合法保险网站提供，保险费由本公司全额支付。所有的保险责任不是由本公司承担，而是由签发保险单的保险公司承担赔付责任，其行为受中国保监会以及中国法律约束。健康联盟卡会员赠送保险是健康公司赠送给会员的其中一项免费服务。请广大会员不要因为仅仅需要"赠品保险"而购买"会员卡"或缴纳健康联盟卡会员年费。若您仅仅需要保险，而不需要本公司的服务，您可以直接选择保险销售机构购买，本公司及本公司所属网站、全职及兼职员工，均不允许销售保险。</p>
                    <p> 2、根据《保险法》第34条规定：以死亡为给付保险金条件的合同，未经被保险人同意并认可保险金额的，合同无效。《人身保险业务经营规则（征求意见稿）》第七十七条规定：投保人为团体成员投保包含以死亡为给付保险金条件的团体保险合同的，应当取得被保险人同意。保险公司应当要求投保人提供被保险人名单和确认被保险人同意投保团体保险的有效证明。因此，只有您成为本公司会员，形成会员团体之后，在您愿意接受保险赠品的情况下，并且确认同意包括本条在内的《会员受赠保险须知》，本公司才会向您赠送保险产品，保险受益人均为被保险人的法定继承人。</p>
                    <p> 3、《人身保险业务经营规则（征求意见稿）》第七十五条规定：团体保险投保人包括法人、非法人组织以及其他不以购买保险为目的而组成的团体。保险公司不得为以购买保险为目的而临时组织起来的团体承保团体保险。本公司提示会员注意：请不要因为仅仅为了由本公司为会员投保，或者仅仅需要"赠品保险"而购买健康联盟卡。本公司发展会员不是为了购买团体保险，本公司选择独立的个人意外保险产品进行赠送，或者为会员投保，是推动主业发展的一种商业促销手段。因此，本公司规定，只有您先成为本公司的会员，形成会员团体之后，在您愿意接受保险赠品、或者同意本公司为您的子女投保的前提下，同时认可上述保险金额，本公司才会向您或者您的子女赠送保险。本公司拒绝以获赠保险为目的而购买会员卡的行为。</p>
                    <p> 4、本公司承诺，如果您通过本公司获得了虚假的保险产品，由本公司承担因为虚假保险带来的法律责任。如果因为本公司的行为，使您的合法权益受损，本公司承担赔偿责任。</p>
                    <p> 5、关于异地保险的有效性问题：如果您获赠的保险，不是您所在地的保险公司签发，本公司向您保证该保险在您所处的地域合法有效。相关法律依据是保监发〔2005〕62号《关于规范团体保险经营行为有关问题的通知》的第九条：保险公司可以对同一团体在不同省、自治区或直辖市的成员统一承保。投保人为法人的，只能由其法人所在地或核算单位所在地的保险公司签发保单。保险公司应确保为团体所有被保险人提供优良的保险服务。</p>
                    <p>中国保监会《人身保险业务经营规则》（征求意见稿）亦有规定，该规则第八十一条规定：人身保险统括保单是指对同一团体在不同地区的成员进行统一承保的保险单。保险公司可以对同一团体在不同省、自治区或直辖市的团体成员统一承保团体保险。同一团体是指同一法人或者非法人组织。</p>
                    <p>6、诚信告知：由于本公司的保险专家大批量采购保险，本公司获得的保险费单价一般会低于会员直接向保险公司购买保险的价格。本公司采购保险作为赠品，其保险费会低于会员费或者本公司产品的定价。</p>
                    <p>7、本公司毫无任何隐瞒的向您转述中国保监会和各地保监局要求的检验保险真伪的方法：请您通过本公司提供的保险公司官网或者官方客服电话，根据被保险人的身份证号码及姓名查询保险的真伪。保监会提示保险公司的官网或者官方客服电话能够查询下列信息：保险产品名称、保险金额、保险期间、保险费、保险受益人等信息。如果您发现本公司赠送虚假的保险产品，应及时向本公司（电话：021-60530111）或工商管理部门（电话：12315）或者公安机关（电话：110）报案。</p>
                    <p> 8、本公司的主产品是会员服务，这些服务包括"健康商城积分返还、兑换优惠劵等购物服务"。本公司向会员赠送保险，完全遵循保监厅函〔2010〕34号《关于银行为信用卡客户赠送意外伤害保险有关问题的复函》的文件精神，严格遵守保险监管机构的规定，切实保护作为被保险人的会员的合法权益。本公司通过保监会批准的合法保险网站或者保险公司等渠道采购的独立保险产品，仅作为备选赠品之一向特定公众——会员赠送。</p>
                    <p> 9、中国保监会严厉打击损害消费者利益的违法行为。请您注意，这些非法行为包括但不限于伪造、挪用、截留、侵占、串通、骗取、泄露、隐瞒、篡改、扰乱、撕单、埋单、欺骗、不诚信、被保险、假保险单、销售误导、擅自印制、改头换面、捆绑销售、虚拟团体、虚构团体、地下保单、非法传销、非法集资、扰乱秩序、虚假宣传、夸大效果、超额承保、无法查询、帮您攒钱、全部报销、不录入系统、不特定公众、存款送保障、非法保险产品、储蓄加免费保障、非保险类商品、非保险类服务、系统性和区域性风险、代替保险凭证的某某告知单、取代保险凭证的某某确认单等等。</p>
                    <p> 本公司郑重承诺，本公司不涉及上述列举的非法行为，欢迎您对本公司的行为进行监督，本公司的举报电话是：400-021-3888</p>
                    <p> 尊敬的健康会员，在您阅读上文的所有条款之后，敬请您阅读并同意以下重要条款</p>
                    <p>1、本人不为"无民事行为能力者"代办入会、购卡手续，本人不会让"无民事行为能力者"以各种形式获得保险，本人不是"无民事行为能力者"。</p>
                    <p> 2、本人完全同意上述《会员受赠保险须知》；本人购买各类健康联盟卡（会员卡），并非以获得或者购买保险为主要目的或者唯一目的。本人并非仅仅因为需要保险而购买贵公司的任何会员卡或者产品，本人明白贵公司的各类会员卡不是保险。本人知晓保险公司的承保要求存在不确定性，本人同意贵公司保留更换承保公司、投保内容而不另行通知本人的权利。</p>
                    <p> 3、本人愿意授权给贵公司或者贵公司委托的专业人员为本人投保"受益人为本人法定继承人、以死亡或伤残为给付条件的"意外保险，或者在合法的保险网站上为本人激活保险赠品；本人认可保险金额；本人愿意将《会员受赠保险须知》作为授权书、或者作为本人同意自己或者同意子女投保团体保险的有效证明。</p>
                    <p> 4、本人明白并同意：为本人或者本人指定的人员投保保险，在受赠人或其监护人同意的情况下，贵公司在十个工作日内赠送由保险公司签发的保险。若本人不同意则贵公司不予赠送。该保险在全国有效，由贵公司保险专家向保监会批准的合法保险机构或保险网站选购。保险公司签发的电子保单、或者保险单的扫描件、或者保险公司查询网站上显示的保险信息，贵公司确保本人可以通过保险公司的官方网站或者官方客服电话查询验真。</p>
                    <p>  5、本人不会单独理解本人所购会员卡上面的印制内容，本人明白各类会员卡的《客户服务凭证》、《会员受赠保险须知》、《对应服务条款》共同构成完整的服务依据，具备法律效力。本人知道各类会员卡都有限购数量的规定（印制在会员卡手册上，超过限购数量的部分无效。本人所购的会员卡在激活后有效期为一年，全国有效。若超过激活有效期仍未激活，本人所购的会员卡作废。本人所购的会员卡不退换、不挂失、不办理变更，本人会妥善保管。</p>
                    <p> 6、本人明白在健康商城网站点击"同意受赠保险"，按照《电子签名法》的规定，具有法律效力。在本人点击"同意"之后，本人同意的内容将由上述网站系统自动发送到第三方邮箱以及自动保存在上述网站系统中，作为法律依据长期保留。本人明白，贵公司保证不故意泄露本人的个人信息，否则由贵公司承担法律责任。</p>
                    <p>十二、通告：</p>
                    <p>所有发给会员的通告都可通过重要页面的公告或电子邮件或常规的信件传送。服务条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。</p>
                    <p> 十三、法律管辖与适用：</p>
                    <p> 1．本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律。</p>
                    <p>  2．如发生健康网上商城服务条款与现行之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。</p>
                    <p> 3．如会员和健康商城就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均认可向上海健康电子商务有限公司所在地有管辖权的法院提起诉讼。</p>
                    <p>十四、其他：</p>
                    <p>尊敬的会员,请您再次确认已知悉并完全理解本协议的全部内容。如果您同意本文的所有条款，请您本人或者委托他人点击"同意"。若您本人或者委托他人点击"同意"，我们将视您已经阅读并同意本文的全部条款,即视为您完接受本协议并即时生效。</p>
				</div>
				<div class="reading_yd">
					<input type="checkbox" name="agreement" id="agreement" />
					<span>我已阅读过此协议</span>
				</div>
				<div class="reading_yd_bottom">
					<a href="/Account/Register?type=3"><img src="/Areas/Shop/Themes/M1/Content/images/images/shang_1_03.png" width="65" id="btn_prev" height="29"/></a>
					<a href="javascript:;"><img src="/Areas/Shop/Themes/M1/Content/images/images/xia_1_05.png" width="65" id="btn_next" height="29"/></a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
