@{
    Layout = "~/Areas/Shop/Themes/M1/Views/Shared/_SiteLayout.cshtml";
}
<link href="/Areas/Shop/Themes/M1/Content/card/css/style.css" rel="stylesheet" />

<link href="/Areas/Shop/Themes/M1/Content/Css/xinke/style.css" rel="stylesheet" type="text/css" />
<link href="/Areas/Shop/Themes/M1/Content/Css/xinke/activation.css" rel="stylesheet" type="text/css" />



<div class="header">
	<div class="wrapper">
    	<h1 class="logo">
        	<a href="#"></a>
        </h1>
    </div>
</div>
<div class="container">
	<div class="wrapper">
    	<div class="activation" style="padding-bottom:380px;">
            <div class="activation_nav">
                <ul class="clearfix">
                    <li class="active">
                        <b>1</b>
                        <span>激活</span>
                    </li>                
                    <li class="active">
                        <b>2</b>
                        <span>提交激活卡</span>
                    </li>
                    <li class="active">
                        <b>3</b>
                        <span>保险协议</span>
                    </li>
                    <li class="active">
                        <b>4</b>
                        <span>激活成功</span>
                    </li>
                </ul>
            </div>
            <div class="success">
            	<p> 恭 喜 您 激 活 成 功！</p>
                <em>即可起您可以享受保险协议</em>
            </div>
            <div class="button" style=" width:137px; margin:0 auto;">
                 <a class="green" href="/">回到首页</a>
            </div>
        </div>
    </div>
</div>
