 @{
     Layout = "~/Areas/MShop/Themes/M1/Views/Shared/_NoFootLayout.cshtml";
     ViewBag.Title = "链接失效";
 }
<link href="/Areas/MShop/Themes/M1/Content/Css/UserCenter/userstyle.css" rel="stylesheet" type="text/css" />
<div class="home_newlist">
  <div class="home_newtitle"><span>链接失效</span> </div>
    <div class="home_newcontent">
     <p class="error_w_a">对不起，该链接已过有效期，请在微信重新获取</p>
     <p class="error_w_b">如果有疑问，请联系网站管理员</p>
    </div>
</div>
