@{
    Layout = "/Areas/CMS/Themes/M1/Views/Shared/_JKCardActivateBaseLayout.cshtml";
}

@model Maticsoft.Model.Shop_CardUserInfo

<div class="position">您所在的位置：<a href="/">主页</a> &gt; <a href="/">账号激活</a> &gt; <a href="/">完成信息</a></div>
@if (Model != null)
{
    <div class="body">
        <div class="buzhou5"></div>
        <div class="fuwu" style="margin-top: 20px;">
            <div class="fuwu11"></div>
        </div>
    </div>
    <div class="button"><a href="javascript:void(0);" onclick="javascript:ViewActivatedCard();">查看激活数据</a></div>

    using (Html.BeginForm("Login", "Shop/Account", FormMethod.Post, new { Class = "wform form", Id = "formLogin" }))
    {    <input type="hidden" name="UserName" value="@Model.UserName"/>
        <input type="hidden" name="Password" value="@Model.PasswordOrigin"/>
        <input type="hidden" name="Source" value="1" />
        <input type="hidden" name="returnUrl" value="/Shop/UserCenter/HLCard" />
    }
    
      <form id="formViewCard" method="post" action="/CardActivate/ViewActivatedCard" target="_self">
          <input  type="hidden" name="cardNo" id="hdcardNo" />
          <input  type="hidden" name="PWD" id="hdcardPWD"/>
      </form>
}
else
{
    <span>激活失败.</span>
}
<script>

    //当前样式
    $("#liStep4").addClass("on");

    function login() {

        $("#formLogin")[0].submit();
    }


    function ViewActivatedCard() {
        var cardNo = $("#txtCardNo").val();
        var cardPwd = $("#txtPwd").val();

        if (cardNo == "") {
            alert("请输入查询卡号!");
            return;
        }
        if (cardPwd == "") {
            alert("请输入查询密码!");
            return;
        }

        $("#hdcardNo").val(cardNo);
        $("#hdcardPWD").val(cardPwd);
        $("#formViewCard")[0].submit();

    }


</script>


