@{
    Layout = "/Areas/CMS/Themes/M1/Views/Shared/_JKCardActivateBaseLayout.cshtml";
}

@model Maticsoft.Model.Shop_CardUserInfo

<div class="position">您所在的位置：<a href="/">主页</a> &gt; <a href="/">账号激活</a> &gt; <a href="/">完成信息</a></div>
@if (Model != null)
{
    <div class="body">
        <div class="buzhou5"></div>
        <div class="fuwu" style="margin-top: 20px;">
            <div class="fuwu11"></div>
        </div>
    </div>
    <div class="button"><a href="javascript:void(0);" onclick="$('#formViewCard')[0].submit();">查看激活数据</a></div>
  
      <form id="formViewCard" method="post" action="/CardActivate/ViewActivatedCard" target="_self">
          <input  type="hidden" name="cardNo" id="hdcardNo" value="@Model.UserName"/>
          <input  type="hidden" name="PWD" id="hdcardPWD" value="@Model.PasswordOrigin"/>
      </form>
}
else
{
    <span>激活失败.</span>
}
<script>
    //当前样式
    $("#liStep4").addClass("on");
</script>


